<% provide(:title, 'Справочник-Линии') %>

<nav class="navbar">
  <ul class="nav nav-pills pull-left">
    <li><%= form_tag("/lines/index", method: "get", class: 'form-inline') do %>
    	<div class="form-group">
		  <%= label_tag(:line_search, "Искать:", class: "control-label") %>
		  <%= search_field_tag(:line_search, @data_for_search, placeholder: 'Enter your search query here', class: "form-control", title: "наименование") %>
		  <%= submit_tag("Поиск", class: "btn btn-primary", name: "search", title: "наименование") %>
		</div>
		<% end %></li>
	<li><%= form_tag("/lines/index", method: "get", class: 'form-inline') do %>
    	<div class="form-group">
		  <%= label_tag(:qfilial, "Фильтр:", class: "control-label") %>
		  <%= select_tag(:qfilial, options_for_select(@ffils, @qfilial), class: "form-control", prompt: "Филиал...", include_blank: false, title: "Филиал") %>
		  <%= select_tag(:qregion, options_for_select(@fregions, @qregion), class: "form-control", prompt: "Район...", include_blank: false, title: "Район") %>
		  <%= select_tag(:qmesubstation, options_for_select(@fsstations, @qmesubstation), class: "form-control", prompt: "Подстанция...#{@qmesubstation}", include_blank: false, title: "Подстанция") %>
		  <%= submit_tag("Фильтр", class: "btn btn-primary", name: "filter", title: "филиал, район, подстанция") %>
		</div>
		<% end %></li>	    
  </ul>  
</nav>
	 
<h4 align="center">Справочник - Линии <%= image_tag('lep.png', :alt => "Линии", :width => 40, :height => 30) %></h4>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class = "glyphicon glyphicon-wrench">
          <% if @flag=='edit' then %>Редактировать линию<% else %>Добавить линию<% end %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse <%= if (@flag!='edit' && @flag!='add') then "collapse" end %>" role="tabpanel" aria-labelledby="headingOne">	
      <div class="panel-body">
		<h4 align="center"><% if @flag=='edit' then %>Редактирование линии<% else %>Ввод новой линии<% end %></h4>
		<%= simple_form_for(@line, html: { class: 'form-inline' }) do |f| %>
		      <%= f.input :name, label: 'Наименование ', placeholder: 'Наименование линии ...', as: :string, :input_html => { :size => 25}  %>
		      <%= f.input :mesubstation_id, label: 'Подстанция ', :collection => Mesubstation.all.order(filial_id: :asc, region_id: :asc,name: :asc), value_method: :id,
				    :label_method => lambda { |mesubstation| "#{if mesubstation.filial then mesubstation.filial.name end } | #{if mesubstation.region then mesubstation.region.cvalue end} | #{mesubstation.name} "}, 
				    value_method: :id, include_blank: false, prompt: "Подстанция..." %>
		      <%= f.input :mesubstation2_id, label: 'Подстанция2 (для отпаек) ', :collection => Mesubstation.all.order(filial_id: :asc, region_id: :asc,name: :asc), value_method: :id,
				    :label_method => lambda { |mesubstation| "#{if mesubstation.filial then mesubstation.filial.name end } | #{if mesubstation.region then mesubstation.region.cvalue end} | #{mesubstation.name} "}, 
				    value_method: :id, include_blank: true, prompt: "Подстанция2..." %><br><br>	
		      <%= f.input :l, label: 'Длина линии L, км ', placeholder: 'L... ', as: :decimal %>
		      <%= f.input :k_tr, label: 'Коэффициент трассы Ktr ', placeholder: 'Ktr... ', priority: [ 1.03 ], collection: [ 1.03 ], include_blank: false %>
		      <%= f.input :k_f, label: 'Коэффициент формы Kf ', placeholder: 'Kf... ', priority: [ 1.15 ], collection: [ 1.15 ], include_blank: false %><br><br>		      
			  <%= f.association :wire, label: 'Провод ', 
				    :label_method => lambda { |wire| "#{wire.name} | q = #{wire.q} | ρ20 = #{wire.ro} | Kr = #{wire.k_scr} | Kc = #{wire.k_peb} "}, 
				    value_method: :id, include_blank: false, prompt: "Провод..." %>
			  <%= f.input :unom, label: 'Номинальное напряжение, кВ ', placeholder: 'Unom... ', as: :decimal %>	    		  
			  <%= f.input :comment, label: 'Комментарий ', placeholder: 'Комментарий', as: :string, :input_html => { :size => 25}  %>
			  <%= f.input :f, as: :boolean, checked_value: true, unchecked_value: false, inline_label: 'Активный' %>   				
  			  <%= hidden_field_tag :page, @page %>
  			  </br></br>       
  			  <div  align="center">
				<%= button_tag "Сохранить", type: 'submit', class: "btn btn-default glyphicon glyphicon-ok pull-center", 
				                data: { confirm: "Сохранить данные?" } %>
				<%= button_tag "Отмена", type: "submit", name: "cancel", value: true, class: "btn btn-default glyphicon glyphicon-remove pull-center" %>                
			 </div> 
		<% end %>
      </div>
    </div>
  </div>  
</div>		           	           

<table  class="table table-striped  table-hover table-condensed">
		<thead>
			<tr class="info">
			   <th>№</th>
			   <th>Наименование</th>
			   <th>Филиал</th>
			   <th>Район</th>
			   <th>Подстанция</th>
			   <th>Подстанция2<br>(для отпаек)</th>
			   <th>Длина линии L, км</th>
			   <th>Сопротивление линии R, Ом</th>
			   <th>Коэффициент трассы Ktr</th>
			   <th>Коэффициент формы Кf</th>
			   <th>Марка провода</th>
			   <th>Сечение провода q, мм&sup2;</th>
			   <th>Удельное сопротивление материала ρ20, Ом*мм&sup2;/м</th>
			   <th>Коэффициент скрутки Kr</th>
			   <th>Коэффициент пов. эффекта и близости Kc</th>
			   <th title="Используется вместо Uном точки учета">Uном, кВ</th>
			   <th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th> 		   		   
			   <th>Комментарий</th>
			   <th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
			   <th>.........</th>
			   <th title="Кол-во точек учета, которым принадлежит линия"><span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true"></span></th>			   
			</tr>	
		</thead>
		<tbody>
   			<% i = 0%>
			<% @lines.each do |item| %>
			   <% if item.updated_at > (Time.now.ago($GreenDelay)) %>
			    	<tr class="success">
			   <% else %> 	
					<tr>
			   <% end %>
						<% i = i + 1 %>						
						<td><%= if @page.nil? then i else (@page.to_i - 1) * $PerPage + i end %></td>
						<td><%= item.name %></td>
						<td><%= item.filial_name %></td>
						<td><%= item.region_name %></td>
						<td><%= item.mesubstation_name %></td>
						<td><%= item.mesubstation2_name %></td>
						<td><%= item.l %></td>									
						<td><%= item.r %></td>
						<td><%= item.k_tr %></td>
						<td><%= item.k_f %></td>
						<td><%= item.wire_name %></td>
						<td><%= item.q %></td>
						<td><%= item.ro %></td>
						<td><%= item.k_scr %></td>	
						<td><%= item.k_peb %></td>
						<td title="Используется вместо Uном точки учета"><%= item.unom %></td>	
						<td><span class="glyphicon glyphicon-<%= if item.f then 'ok' else 'minus' end %>" aria-hidden="true"></span></td>
						<td><%= item.comment %></td>
						<td><span class="glyphicon glyphicon-<%= if item.wire_f then 'ok' else 'minus' end %>" aria-hidden="true"></span></td>
                        <td><%= link_to " " , lines_edit_path(:id => item.id, :page => @page), :class=> "glyphicon glyphicon-pencil" %>
  						    <%= link_to " " , lines_destroy_path(:id => item.id, :page => @page), :class=> "glyphicon glyphicon-remove",
  						                 data: { confirm: "Удалить линию #{item.name} ?" } %></td>
  						<td title="Кол-во точек учета, которым принадлежит линия"><%= if item.lnparams.count!=0 then item.lnparams.count end %></td>                  
					</tr>		
			<% end %>			
		</tbody>
</table>

<center><small><%= if !@lines.nil? then will_paginate @lines, renderer: BootstrapPagination::Rails end %></small></center>


