<% provide(:title, 'Cчетчики') %>
	           
<nav class="navbar">
  <ul class="nav nav-pills pull-left">
    <li><%= link_to "Назад", company_path(@mp.company, :flr_id => if @fpr < 6  then @mp.mesubstation.filial else @mp.furnizor end), :class => "glyphicon glyphicon-level-up" %></li>
    <li><%= link_to "Справка", meters_helpcounter_path(:id => @mp.id), :class => "glyphicon glyphicon-info-sign" %></li>
  </ul>  
</nav>

<ul class="breadcrumb">
  <li><%= if (@fpr > 5) 
  	         then link_to "Поставщики", welcome_index_path, :class => "glyphicon glyphicon-home"
  	         else link_to "Филиалы", welcome_index_path, :class => "glyphicon glyphicon-home" end %></li>	
  <li><%= if (@fpr > 5) 
  	         then link_to(if @mp.furnizor.name.upcase.include?("FEE") then "Поставщик: #{@mp.furnizor.name} #{image_tag('fee.png', :size => 25)}".html_safe
  	                      elsif @mp.furnizor.name.upcase.include?("FENOSA") then "Поставщик: #{@mp.furnizor.name} #{image_tag('fenosa.png', :size => 25)}".html_safe
  	                      else "Поставщик: #{@mp.furnizor.name}" end, companies_path(:cp_id => @mp.company, :id => @mp.furnizor), :class => "glyphicon glyphicon-piggy-bank")
  	         else link_to "Филиал: #{@mp.mesubstation.filial.name}", companies_path(:id => @mp.mesubstation.filial, :cp_id => @mp.company), :class => "glyphicon glyphicon-tower" end %></li>
  <li><%= link_to "Потребитель: #{@mp.company.name}", company_path(@mp.company, :flr_id => if (@fpr > 5) then @mp.furnizor else @mp.mesubstation.filial end), :class => "glyphicon glyphicon-lamp" %></li>
  <li class="active"><span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true"></span><strong><%= "Точка учета: #{@mp.name}, #{@mp.mesubstation.name}, #{@mp.meconname}" %></strong></li>
</ul>

<% if (@fpr > 5) %>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class = "glyphicon glyphicon-wrench">
          <% if @flag=='edit' then %>Редактировать cчетчик<% else %>Добавить cчетчик<% end %>          
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse <%= if (@flag!='edit' && @flag!='add') then "collapse" end %>" role="tabpanel" aria-labelledby="headingOne">	
      <div class="panel-body">
		<h3 align="center">
          <% if @flag=='edit' then %>Редактирование счетчика<% else %>Ввод нового счетчика<% end %>			
		</h3>		
	        <%= form_for(@meter) do |f| %>
	        <div class="row">
			      <% if @meter.errors.any? %>
				    <div id="error_explanation">
				      <h4><%= pluralize(@meter.errors.count, "error") %> prohibited this line from being saved:</h4>
				      <ul>
				        <% @meter.errors.full_messages.each do |msg| %>
				          <li><%= msg %></li>
				        <% end %>
				      </ul>
				    </div>
				  <% end %>	        						
		    <div class="col-md-6">
		    <div class="panel  panel-default">
		    <div class="panel-body">
		   		<div class="form-group">		
		   				<label for='relevance_date' class="control-label">Дата монтажа</label>	
						<%= date_field_tag 'relevance_date',@meter.relevance_date, class: "form-control" %>
		   		</div>		    	
		   		<div class="form-group">		
		   				<label for='thesauru_id' class="control-label">Тип счетчика</label>							
						<%= select_tag 'thesauru_id', options_for_select( @metertypes, if !@meter.thesauru_id.nil? then @meter.thesauru_id else nil end), include_blank: false, prompt: "Select something", class: "form-control" %>
		   		</div>
		   		<div class="form-group">		
		   				<label for='meternum' class="control-label">Заводской № счетчика</label>	
						<%= number_field_tag 'meternum', @meter.meternum, min: 0, max: 9999999999, step: 1, class: "form-control" %>
		   		</div>
		   		<div class="form-group">		
		   				<label for='beforedigs' class="control-label">Цифр до запятой</label>							
						<%= select_tag 'beforedigs', options_for_select( [8,7,6,5], if !@meter.beforedigs.nil? then @meter.beforedigs else nil end), include_blank: false, prompt: "Select something", class: "form-control" %>
		   		</div>		   		
		   		<div class="form-group">		
		   				<label for='afterdigs' class="control-label">Цифр после запятой</label>							
						<%= select_tag 'afterdigs', options_for_select( [2,3,4,5], if !@meter.afterdigs.nil? then @meter.afterdigs else nil end), include_blank: false, prompt: "Select something", class: "form-control" %>
		   		</div>
			</div>
		  	</div>
		  	</div>
		  	<div class="col-md-6">
		    <div class="panel  panel-default">
		    <div class="panel-body">		   		
		   		<div class="form-group">		
		   				<label for='koeftt' class="control-label">Коэффициент трансформатора тока</label>	
						<%= text_field_tag 'koeftt', @meter.koeftt, class: "form-control" %>
		   		</div>
		   		<div class="form-group">		
		   				<label for='koeftn' class="control-label">Коэффициент трансформатора напряжения</label>	
						<%= text_field_tag 'koeftn', @meter.koeftn, class: "form-control" %>
		   		</div>
		   		<div class="form-group">		
		   				<label for='comment' class="control-label">Комментарий</label>						
						<%= text_field_tag 'comment', @meter.comment, placeholder: 'Комментарий...',  :size=>"50", class: "form-control" %>
		   		</div>						
		   		<div class="form-group">		
		   				<label for='f' class="control-label"><span class="glyphicon glyphicon-ok" aria-hidden="true">Активный</span></label>						
						<%= check_box_tag 'f', 'yes', @meter.f %>
	            </div>
			</div>
		  	</div>
		  	</div>		   		
		   	</div> <!--  row -->		            
	  			<%= hidden_field_tag :mpoint_id, @meter.mpoint_id %>
	  			<%= hidden_field_tag :id, @meter.id %>
	  			<div  align="center">
					  <%= button_tag "Сохранить", type: 'submit', class: "btn btn-info glyphicon glyphicon-ok pull-center", 
					                data: { confirm: "Сохранить счетчик #{@meter.meternum}?" } %>	                
					  <%= button_tag "Отмена", type: "submit", name: "cancel", value: true, class: "btn btn-warning glyphicon glyphicon-remove pull-center" %>
	            </div> 
		<% end %>
      </div>
    </div>
  </div>  
</div>
<% end %>

<h2 align="center">Счетчики <%= image_tag('meter.png', :alt => "Счетчики", :width => 40, :height => 40) %></h2> 
           
<table class="table table-striped  table-hover">
		<thead>
			<tr class="info">
			   <th>№</th>
			   <th>Тип счетчика</th>
			   <th>№ счетчика</th>
			   <th>Коэффициент по току</th>
			   <th>Коэффициент по напряжению</th>
			   <th>Коэффициент расчетный</th>
			   <th>Дата монтажа</th>
			   <th>Показания</th>
			   <th>Комментарий</th>
			   <th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
			   <% if (@fpr > 5) %><th>.........</th><% end %>	   
			</tr>	
		</thead>
		<tbody>
			   <% i = 0%>
			   <% @met.each do |item| %>
			   <% if item.updated_at > (Time.now.ago($GreenDelay)) %>
			    	<tr class="success">
			   <% else %> 	
					<tr>
			   <% end %>	
						<% i = i + 1 %>
						<td><%= if params[:page].nil? then i else (params[:page].to_i - 1) * @perpage + i end %></td>						
						<td nowrap><%= if item.thesauru_id then item.thesauru.cvalue end %></td>
						<td><%= item.meternum %></td>
						<td><%= item.koeftt %></td>
						<td><%= item.koeftn %></td>
						<td><%= item.koefcalc %></td>
						<td><%= if !item.relevance_date.nil? then item.relevance_date.to_formatted_s(:day_month_year) end %></td>						
  						<td nowrap><% if (@fpr > 5) %><%= link_to image_tag('indicii.png', :alt => "Показания", :width => 30, :height => 20), mpoint_path(@mp,:met=>item.id) %><% end %>
  						    <%= link_to image_tag('Excel-icon.png', :alt => "XLSX", :width => "20", :height => "20"), meter_path(item,format: "xlsx") %>
  						    <%= link_to image_tag('Apps-Pdf-B-icon.png', :alt => "PDF", :width => "20", :height => "20"), meter_path(item,format: "pdf") %></td>
  						<td><%= item.comment %></td>
  						<td><span class="glyphicon glyphicon-<%= if item.f then 'ok' else 'minus' end %>" aria-hidden="true"></span></td>
  						<% if (@fpr > 5) %><td><%= link_to " " , meters_edit_path(:mt_id => item.id), :class=> "glyphicon glyphicon-pencil" %>
  						    <%= link_to " " , meters_destroy_path(:mt_id=>item.id), :class=> "glyphicon glyphicon-remove",
  						                 data: { confirm: "Удалить счетчик № #{item.meternum}?" } %></td><% end %>       						
					</tr>		
				<% end %>			
		</tbody>
</table>

<center><small><%= if !@met.nil? then will_paginate @met, renderer: BootstrapPagination::Rails end %></small></center>
