<% provide(:title, 'Cчетчики') %>
	           
<nav class="navbar">
  <ul class="nav nav-pills nav-pillspull-right">
    <li><%= link_to "Назад", company_path(@mp.company.id), :class => "glyphicon glyphicon-level-up" %></li>
  </ul>  
</nav>

<ul class="breadcrumb">
  <li><%= link_to "Поставщики", welcome_cdindex_path, :class => "glyphicon glyphicon-home" %></li>	
  <li><%= link_to "Поставщик: #{@mp.company.furnizor.name}", furnizor_path(@mp.company.furnizor.id), :class => "glyphicon glyphicon-piggy-bank" %></li>
  <li><%= link_to "Потребитель: #{@mp.company.name}", company_path(@mp.company.id), :class => "glyphicon glyphicon-lamp" %></li>
  <li class="active"><span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true"></span><strong><%= "Точка учета: #{@mp.messtation} / #{@mp.clsstation}, #{@mp.meconname} / #{@mp.clconname}" %></strong></li>
</ul>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class = "glyphicon glyphicon-wrench">
          Добавить cчетчик
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">	
      <div class="panel-body">
		<h3 align="center">Ввод нового счетчика</h3>
		<%= form_for([@mp,@mp.meters.build]) do |f| %>
			<table class="table table-striped">
				<thead>
					<tr>
		   				<th>Тип счетчика</th>
		   				<th>Заводской № счетчика</th>
		   				<th>Коэффициент трансформатора тока </th>
		   				<th>Коэффициент трансформатора напряжения</th>
		   				<th>Дата актуальности</th>
		   				<th>Комментарий</th>
					</tr>	
				</thead>
				<tbody>
	   				<tr>		
						<td><%= text_field_tag 'metertype', nil, placeholder: 'Тип счетчика...' %></td>
						<td><%= number_field_tag 'meternum', nil , min: 1, max: 9999999999, step: 1 %></td>
						<td><%= text_field_tag 'koeftt', '1 / 1' %></td>
						<td><%= text_field_tag 'koeftn', '1 / 1' %></td>
						<td><%= date_field_tag 'relevance_date', Date.current %></td>
						<td><%= text_field_tag 'comment', nil, placeholder: 'Комментарий...' %></td>			        
	   				</tr>
				</tbody>
			</table>
  			<%= hidden_field_tag :mpoint_id, @mp.id %>
  			<div  align="center">
			<%= button_tag "Сохранить", type: 'submit', class: "btn btn-default glyphicon glyphicon-ok pull-center", 
			                data: { confirm: "Сохранить данные для #{@mp.company.name}, #{@mp.messtation} / #{@mp.clsstation}, #{@mp.meconname} / #{@mp.clconname}?" } %></div> 
		<% end %>
      </div>
    </div>
  </div>  
</div>

<h2 align="center">Счетчики</h2> 
           
<table class="table table-striped  table-hover">
		<thead>
			<tr class="info">
			   <th>№</th>
			   <th>Тип счетчика</th>
			   <th>№ счетчика</th>
			   <th>Коэффициент по току</th>
			   <th>Коэффициент по напряжению</th>
			   <th>Коэффициент расчетный</th>
			   <th>Дата актуальности</th>
			   <th>Показания</th>
			   <th>Комментарий</th>
			   <th>.........</th>	   
			</tr>	
		</thead>
		<tbody>
			   <% i = 0%>
			   <% @met.each do |item| %>
			   <% if item.updated_at > (Time.now.ago($GreenDelay)) %>
			    	<tr class="success">
			   <% else %> 	
					<tr>
			   <% end %>	
						<% i = i + 1 %>
						<td><%= if params[:page].nil? then i else (params[:page].to_i - 1) * @perpage + i end %></td>						
						<td><%= item.metertype %></td>
						<td><%= item.meternum %></td>
						<td><%= item.koeftt %></td>
						<td><%= item.koeftn %></td>
						<td><%= item.koefcalc %></td>
						<td><%= if !item.relevance_date.nil? then item.relevance_date.to_formatted_s(:day_month_year) end %></td>
  						<td><%= link_to " " , mpoint_path(@mp,:met=>item.id), :class=> "glyphicon glyphicon-folder-open" %>
  						    <%= link_to image_tag('Excel-icon.png', :alt => "XLSX", :width => "20", :height => "20"), "#" %>
  						    <%= link_to image_tag('Apps-Pdf-B-icon.png', :alt => "PDF", :width => "20", :height => "20"), "#" %></td>
  						<td><%= item.comment %></td>
  						<td><%= link_to " " , "#", :class=> "glyphicon glyphicon-pencil" %>
  						    <%= link_to " " , "#", :class=> "glyphicon glyphicon-remove" %></td>       						
					</tr>		
				<% end %>			
		</tbody>
</table>

<center><small><%= if !@met.nil? then will_paginate @met, renderer: BootstrapPagination::Rails end %></small></center>
