<!-- DataTables CSS -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  
<!-- DataTables -->
 <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>
<!-- <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.magellan.js"></script>--> 
  <!--<link rel="stylesheet" href="/resources/demos/style.css"> --> 
 <script> 
$(document).ready(function() {
    $('#mcln').DataTable( {
        "language": {
            "lengthMenu": "Показать _MENU_ записей на странице",
            "zeroRecords": "Ничего не найдено, простите",
            "info": "Показать страницу _PAGE_ из _PAGES_",
            "infoEmpty": "No records available",
            "infoFiltered": "(выбрано из _MAX_ total записей)",
            "search": "Поиск",
            "previousSibling": "Предыдущий",
            "nextSibling": "Следующий"
        }
    } );
} );
</script>

<%= link_to "Выход", destroy_user_session_path, method: :delete %>
<center>
 <%= render "messages" %>
<div class="page">
	<div class="centercol">
<center>		    
<h1>Список поставщиков</h1> 
<table id="mcln" border="0" cellspacing="5" cellpadding="5">
		<thead>
			<tr>
			   <th><center>№</center></th>
			   <th><center>Наименование</center></th>
			   <th><center>Действие</center></th>
			</tr>	
		</thead>
		<tbody>
					<% i = 0%>
					<% if @fpr == 0%>
					<% @furns.each do |fr| %>
						<tr>
						<td align="center"><%= i = i + 1 %></td>
						<td align="center"><%= fr.name %></td>
						<td align="center"><%= link_to "Открыть", furnizor_path(fr) %></td>
						</tr>
					<% end %>	
					<% else %>
					<% end %>
					<tr>
						<td align="center"><%= i = i + 1 %></td>
						<td align="center"><%= @furns.name %></td>
						<td align="center"><%= link_to "Открыть", furnizor_path(@furns) %></td>
					</tr>		
					
			
		</tbody>
</table>
	</center>
	</div>
	</div>
 

</center>

<p></p>