<% provide(:title, @pagename) %>

<h4 align="center"><%= @pagename %> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></h4>
	
<ul>
	<li><h5><span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true"></span><%= link_to  " Добавление/Редактирование/Удаление точки учета", welcome_mpoint_path, :title => "Точки учета" %></h5></li>
	<li><h5><%= link_to  "#{image_tag('meter.png', :alt => "Счетчики", :width => 20, :height => 20)} Добавление/Замена/Редактирование/Удаление счетчика".html_safe, welcome_counter_path, :title => "Счетчики" %></h5></li>
    <li><h5><%= link_to  "#{image_tag('indicii.png', :alt => "Показания", :width => 30, :height => 20)} Добавление/Редактирование/Удаление показаний счетчика".html_safe, welcome_mvalue_path, :title => "Показания счетчиков" %></h5></li>
    <li><h5><%= link_to  " Справочник", welcome_thesaurus_path, :title => "Справочник" %></h5></li>
</ul>
