<% provide(:title, @pagename) %>

<ul class="breadcrumb">
  <li class="active"><span class="glyphicon glyphicon-home" aria-hidden="true"></span><strong><%= @pagename %></strong></li>
</ul>
		    
<h3 align="center"><%= @pagename %> <span class="glyphicon glyphicon-<%= if @fpr < 6 then 'tower' else 'piggy-bank' end %>" aria-hidden="true"></span></h3>

<table class="table table-striped  table-hover">
  <thead>
	<tr  class="info">
	  <th><center>№</center></th>
	  <th><center>Наименование</center></th>
	  <th><center>Потребители</center></th>
	  <th><center>Комментарий</center></th>
	</tr>	
  </thead>
  <tbody>
	<% unless @flr.nil? then %>
	  <% i = 0 %>	  
	  <% @flr.each do |item| %>
		<tr>
		   <% i = i + 1 %>	
		   <td align="center"><%= if params[:page].nil? then i else (params[:page].to_i - 1) * @perpage + i end %></td>
		   <td align="center"><%= item.name %></td>
		   <td align="center"><%= link_to "Открыть", companies_path(:id => item.id), :class=> "glyphicon glyphicon-lamp" %></td>
		   <td align="center"><%= item.comment %></td>
		</tr>
	  <% end %>
	<% end %>	  		
  </tbody>
</table>

<center><small><%= will_paginate @flr, renderer: BootstrapPagination::Rails %></small></center>  
