<% provide(:title, @pagename) %>

<nav class="navbar">
  <ul class="nav nav-pills pull-left">
    <li><%= link_to "Назад", welcome_help_path, :class => "glyphicon glyphicon-level-up" %></li>
  </ul>  
</nav>

<h4 align="center"><%= @pagename %> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></h4>	
<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> - Редактирование объекта.</br>
<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> - Удаление объекта (объект, от которого зависят другие объекты, удалить нельзя).</br>
<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> - Объект участвует в расчетах.</br>
<span class="glyphicon glyphicon-minus" aria-hidden="true"></span> - Объект не участвует в расчетах.</br>
<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> - Расчетный день (если в течение месяца было более 1-го съема показаний).</br></br>

<p>Свидетель обязан дать правдивые показания.</br> За отказ или   уклонение   от   дачи   показаний   свидетель   несет ответственность по статье 197 Уголовного кодекса Республики Молдова.</br>
    За дачу заведомо  ложного показания свидетель несет  ответственность по статье 196 Уголовного кодекса Республики Молдова.</br></p>

<h5><%= image_tag('indicii.png', :alt => "Показания", :width => 30, :height => 20) %><strong> Добавление/Редактирование показаний</strong></h5>
<ul>
  <li>Открыть "Точки учета" (Поставщик/Потребитель/Точки учета) или "Счетчики" (Поставщик/Потребитель/Точки учета/Счетчики).
  	  Нажать кнопку <kbd><%= image_tag('indicii.png', :alt => "Показания", :width => 30, :height => 20) %></kbd>.</br>
  	  <%= image_tag('mvalue/mpoint.png') %></br>
  	  или</br> 
  	  <%= image_tag('mvalue/counter.png') %></br></br>
  </li>
  <li>Нажать кнопку <kbd>"Добавить показания"</kbd> для ввода новых показаний или <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> для редактирования уже введенных.</br>
  	  <%= image_tag('mvalue/mvalue.png') %></br></br>
  </li>		
  <li>
  	  <mark>Важно:</mark> при вводе данных в форму обратить внимание на дату монтажа счетчика.</br> 
  	  Дата актирования показаний должна быть больше или равна дате монтажа счетчика, иначе соответствующие показания не будут участвовать в расчетах.</br>
  	  Дата монтажа счетчика указана в скобках в колонке "Счетчик" таблицы "История показаний".</br>
  	  Если снять галочку <span class="glyphicon glyphicon-ok" aria-hidden="true">Активный</span>, соответствующие показания также выпадут из расчетов.</br>
  	  Показания в колонки "Активный прием A+", "Активная отдача A-", "Реактивный прием R+", "Реактивная отдача R-" вводятся обязательно и прямо как в акте - без анализа прямое/обратное включение счетчика. 
  	  В случае необходимости метка "Обратное включение счетчика" <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> ставится на точке учета.</br> 
  	  "Время работы электроустановки, часы" - если введено не нулевое число, то заменяет при расчетах время между текущей и предыдущей датами актирования.</br>
  	  "Потребление субабонента, кВт*ч" - если не пусто, то вычитается из Wa перед началом расчета потерь.</br>
  	  <span class="glyphicon glyphicon-flash" aria-hidden="true">Учет А- (не аннулировать отдачу)</span>
  	  - если выбрано, то при расчете потерь учитывается Wa- (по умолчанию обнуляется), 
  	  но только после анализа <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> на точке учета.</br>
  	  <span class="glyphicon glyphicon-pushpin" aria-hidden="true">Расчетный день</span> - если в течение месяца было более 1-го съема показаний, указывает на какую дату делать расчет.</br>
  	  <%= image_tag('mvalue/mvalueadd.png') %></br></br>
  </li>
</ul></br>

<h5><%= image_tag('indicii.png', :alt => "Показания", :width => 30, :height => 20) %><strong> Удаление показаний</strong></h5>
<ul>
  <li>Открыть "Показания" (Поставщик/Потребитель/точки учета/счетчики/Показания или Поставщик/Потребитель/точки учета/Показания). Нажать <kbd><span class="glyphicon glyphicon-remove" aria-hidden="true"></kbd></span>. 
  	  <%= image_tag('mvalue/mvaluedel.png') %></br></br>
  </li>		
</ul></br>
