<% provide(:title, 'Филиалы') %>
	    
<h2 align="center">Филиалы</h2>

<table class="table table-striped">
  <thead>
	<tr>
	  <th><center>№</center></th>
	  <th><center>Наименование</center></th>
	  <th><center>Потребители</center></th>
	  <th><center>Комментарий</center></th>
	</tr>	
  </thead>
  <tbody>
	<% i = 0 %>
	<% if @fpr == 5 %>
	  <% @fl.each do |fl| %>
		<tr>
		   <% i = i + 1 %>	
		   <td align="center"><%= if params[:page].nil? then i else (params[:page].to_i - 1) * @perpage + i end %></td>
		   <td align="center"><%= fl.name %></td>
		   <td align="center"><%= link_to "Открыть", filial_path(fl) %></td>
		   <td align="center"><%= fl.comment %></td>
		</tr>
	  <% end %>	
	<% else %>
	    <% fl = Filial.find(@fpr) %>
 	    <tr>
			<% i = i + 1 %>	 
			<td align="center"><%=  i %></td>
			<td align="center"><%= fl.name %></td>
			<td align="center"><%= link_to "Открыть", filial_path(fl) %></td>
			<td align="center"><%= fl.comment %></td>
		</tr>
	<% end %>			
  </tbody>
</table>

<% if @fpr == 5 %>
   <center><small><%= will_paginate @fl, renderer: BootstrapPagination::Rails %></small></center>  
<% end %>

