<% provide(:title, 'Параметры трансформатора') %>

<center>
	<%= link_to "Назад", mpoint_path(Mpoint.find(params[:id])) %>
<h2>Редактирование параметров трансфоматора</h2>
</center>

<%= params[:tr_id] %>
<%= params[:id] %>

<center>	
	<div class="page">
	<div class="centercol">
			<br>
			<%= form_for :trparam, url: trparam_path(@tr), method: :patch  do |f| %>
  		    <%= f.label :"Рхх :"%>
  			<%= text_field_tag 'pxx', @tr.pxx, :maxlength => 15, :size => 15 %><br>
  			<%= f.label :"Ркз :"%>
  			<%= text_field_tag 'pkz', @tr.pkz, :maxlength => 15, :size => 15 %><br>
  			<%= f.label :"Sном :"%>
  			<%= text_field_tag 'snom', @tr.snom, :maxlength => 15, :size => 15 %><br>
  			<%= f.label :"Uкз :"%>
  			<%= text_field_tag 'ukz', @tr.ukz, :maxlength => 15, :size => 15 %><br>
  			<%= f.label :"Io :"%>
  			<%= text_field_tag 'io', @tr.io, :maxlength => 15, :size => 15 %><br>
  			<%= f.label :"Qкз :"%>
  			<%= text_field_tag 'qkz', @tr.qkz, :maxlength => 15, :size => 15 %><br>
  			
  			<%= hidden_field_tag :tr_id, params[:tr_id] %>                      
  			<%= f.submit "Сохранить",:num => params[:tr_id] %> 
  			<% end %>
  		
	</div>
	</div>
</center>	
