<% provide(:title, 'Трансформаторы') %>

<nav class="navbar">
  <ul class="nav nav-pills nav-pillspull-right">
    <li><%= link_to "Назад", mpoint_path(Mpoint.find(params[:id])), :class => "glyphicon glyphicon-level-up" %></li>
    <li><%= link_to "Добавить трансформатор", trparams_new_path, :class => "glyphicon glyphicon-wrench" %></li>
  </ul>  
</nav>

<h2 align="center">Трансформатор</h2>	

<!-- ><center>
	
	<div class="page">
	<div class="centercol">
			<br>
			<%= form_for @tr   do |f| %>
  		    <%= f.label :"Рхх :"%>
  			<%= text_field_tag 'pxx', @tr.pxx, :maxlength => 15, :size => 15 %><br>
  			<%= f.label :"Ркз :"%>
  			<%= text_field_tag 'pkz', @tr.pkz, :maxlength => 15, :size => 15 %><br>
  			<%= f.label :"Sном :"%>
  			<%= text_field_tag 'snom', @tr.snom, :maxlength => 15, :size => 15 %><br>
  			<%= f.label :"Uкз :"%>
  			<%= text_field_tag 'ukz', @tr.ukz, :maxlength => 15, :size => 15 %><br>
  			<%= f.label :"Io :"%>
  			<%= text_field_tag 'io', @tr.io, :maxlength => 15, :size => 15 %><br>
  			<%= f.label :"Qкз :"%>
  			<%= text_field_tag 'qkz', @tr.qkz, :maxlength => 15, :size => 15 %><br>
  			
  			<%= hidden_field_tag :tr_id, params[:tr_id] %>                      
  			<%= f.submit "Сохранить",:num => params[:tr_id] %> 
  			<% end %>
  		
	</div>
	</div>
	
</div>	
-->
