    	<table class="table table-striped table-hover table-condensed">
		<thead>
			<tr class="info">
			   <th colspan="1" width="5%">№ п/п</th>
			   <th width="40%">Значение</th>
			   <th width="5%"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
			   <th>.........</th>	   
			</tr>	
		</thead>
		<tbody>
			   <% i = 0%>
			   <% @thesaurus.each do |item| %>
			   <% if item.updated_at > (Time.now.ago($GreenDelay)) %>
			    	<tr class="success">
			   <% else %> 	
					<tr>
			   <% end %>	
						<% i = i + 1 %>
						<td><%= i  %></td>						
						<td><%= item.cvalue %></td>
  						<td><span class="glyphicon glyphicon-<%= if item.f then 'ok' else 'minus' end %>" aria-hidden="true"></span></td>
  						<td><%= link_to " " , thesaurus_edit_path(:th_id => item.id), :class=> "glyphicon glyphicon-pencil" %>
  						    <%= link_to " " , thesaurus_destroy_path(:th_id => item.id), :class=> "glyphicon glyphicon-remove",
  						                 data: { confirm: "Удалить  #{item.cvalue}?" } %></td>       						
					</tr>		
				<% end %>			
		</tbody>
       </table> 
