<% provide(:title, @pagename) %>

<h3 align="center"><%= @pagename %> <span class="glyphicon glyphicon-link" aria-hidden="true"></span></h3>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class = "glyphicon glyphicon-wrench">
          <% if @flag=='edit' then %>Редактировать<% else %>Добавить<% end %>          
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse <%= if (@flag!='edit' && @flag!='add') then "collapse" end %>" role="tabpanel" aria-labelledby="headingOne">	
      <div class="panel-body">
		<%= form_for(@thesauru) do %>		
			<form class="form-inline">
        		<div class="form-group">
    				<label for="name">Тип</label>
    				<%= select_tag 'name',  options_for_select(@names, @thesauru.name), include_blank: false, prompt: "Select something........." %>
    				<label for="cvalue">   Значение</label>
    				<%= text_field_tag 'cvalue', @thesauru.cvalue, placeholder: "Значение...", autofocus: true, :size => 50 %>
    				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    				<%= check_box_tag 'f', 'yes', @thesauru.f %>
    				<%= hidden_field_tag :current, @thesauru.name %>
				    <%= button_tag "Сохранить", type: 'submit', class: "btn btn-default glyphicon glyphicon-ok pull-center", 
				                data: { confirm: "Сохранить данные ?" } %>
				    <%= button_tag "Отмена", type: "submit", name: "cancel", value: true, class: "btn btn-default glyphicon glyphicon-remove pull-center" %>         				
  				</div>				
			</form>
		<% end %>
      </div>
    </div>
  </div>  
</div>	
        
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" id="myTab">
    <li role="presentation" class="active"><a href="#meter" aria-controls="meter" role="tab" data-toggle="tab">Счетчики</a></li>
    <li role="presentation"><a href="#region" aria-controls="region" role="tab" data-toggle="tab">Регионы</a></li>
    <li role="presentation"><a href="#sstation" aria-controls="sstation" role="tab" data-toggle="tab">Подстанции</a></li>
    <li role="presentation"><a href="#transformer" aria-controls="transformer" role="tab" data-toggle="tab">Трансформаторы</a></li>
    <li role="presentation"><a href="#line" aria-controls="line" role="tab" data-toggle="tab">Линии</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
  	<!-- metertypes -->
    <div role="tabpanel" class="tab-pane fade in active" id="meter">
    	<h4 align="center">Счетчики <%= image_tag('meter.png', :alt => "Счетчики", :width => 40, :height => 40) %></h4>
    	<% @thesaurus = @metertypes %>
    	<%= render 'thesaurus/onethesaurus' %>
    </div>
    <!-- regions -->
    <div role="tabpanel" class="tab-pane fade" id="region">
    	<h4 align="center">Регионы <%= image_tag('moldova-map.png', :alt => "Регионы", :width => 40, :height => 40) %></h4>
    	<% @thesaurus = @regions %>
    	<%= render 'thesaurus/onethesaurus' %> 
    </div>
    <!-- substations -->
    <div role="tabpanel" class="tab-pane fade" id="sstation">
        <h4 align="center">Подстанции <%= image_tag('consumator.png', :alt => "Подстанции", :width => 60, :height => 40) %></h4>
        <% @thesaurus = @sstations %>
    	<%= render 'thesaurus/onethesaurus' %>
    </div>
    <!-- transformers --> 
    <div role="tabpanel" class="tab-pane fade" id="transformer">
    	<h4 align="center">Трансформаторы <%= image_tag('tr-r.png', :alt => "Трансформаторы", :width => 40, :height => 40) %></h4>
    	<% @thesaurus = @transformers %>
    	<%= render 'thesaurus/onethesaurus' %> 
    </div>
    <!-- lines -->    	
    <div role="tabpanel" class="tab-pane fade" id="line">
    	<h4 align="center">Линии <%= image_tag('lep.png', :alt => "Линии", :width => 40, :height => 40) %></h4>
    	<% @thesaurus = @lines %>
    	<%= render 'thesaurus/onethesaurus' %>
    </div>
  </div>

</div>

<script>
  $(function () {
    $('#myTab a[href="#<%= if @current.nil? then "meter" else @current end %>"]').tab('show');
  })
</script>