<% provide(:title, 'Потребители') %>

<nav class="navbar">
  <ul class="nav nav-pills nav-pillspull-right">
    <li><%= link_to "Назад", welcome_setsuindex_path %></li>
    <li><%= link_to "Добавить потребителя", companys_new_path(:fl => @fl, :fr => nil) %></li>
  </ul>  
</nav>

<h4><%= "Филиал: #{@fl.name}" %></h4>

<h2 align="center">Список потребителей</h2>	 	

<table  class="table table-striped">
		<thead>
			<tr>
			   <th>№</th>
			   <th>Наименование</th>
			   <th>Код</th>
			   <th>Поставщик</th>			   
			   <th>Действие</th>
			   <th>Действие</th>			   
			</tr>	
		</thead>
		<tbody>
					<% i = 0%>
					<% @companies.each do |cl| %>
					<tr>
						<% i = i + 1 %>
						<td><%= if params[:page].nil? then i else (params[:page].to_i - 1) * @perpage + i end %></td>
						<td><%= cl.name %></td>
						<td><%= cl.region %></td>
						<td><%= Furnizor.find(cl.furnizor_id).name %></td>
						<td><%= link_to "Открыть", company_path(cl) %></td>
                        <td><%= link_to image_tag('vjuh-report.png', :alt => "Отчет", :width => 40, :height => 30), companys_report_path(:id => cl.id) %></td>
					</tr>		
					<% end %>			
		</tbody>
</table>

<center><small><%= will_paginate @companies, renderer: BootstrapPagination::Rails %></small></center>
