<% provide(:title, 'Справочник-Потребители') %>


<script>
$(document).ready(function() {
    var t = $('#companies').DataTable( {
        "order": [[ 3, "asc" ],[ 2, "asc" ]],
        "language": {
            "lengthMenu": "Отображать _MENU_ строк на странице",
            "zeroRecords": "Ничего не найдено - увы...",
            "info": "Страница _PAGE_ из _PAGES_",
            "infoEmpty": "Нет доступных строк",
            "infoFiltered": "(Отфильтровано из _MAX_ строк)",
            "search": "Поиск",
             paginate: {
                first:      "<<",
                previous:   "<",
                next:       ">",
                last:       ">>"
            }
        },
        "pagingType": "full_numbers",
        "pageLength": 10,
         "fixedHeader": {
               headerOffset: ($('#navMenu').outerHeight() - 1)
         },
        responsive: {
            details: {
                type: 'column'
            }
        },
        columnDefs: [ {
            className: 'control',
            orderable: false,
            targets:   0
        }, {
            "searchable": false,
            "orderable": false,
            "targets": [1,6,7]
            }
         ]      
    } ); 
    
    t.on( 'order.dt search.dt', function () {
        t.column(1, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
} );
</script>

<nav class="navbar">
  <ul class="nav nav-pills pull-left">
    <li><%= form_tag("/companies/all", method: "get", class: 'form-inline') do %>
    	<div class="form-group">
		  <%= label_tag(:company_search, "Искать:", class: "control-label") %>
		  <%= search_field_tag(:company_search, @data_for_search, placeholder: 'Enter your search query here', class: "form-control", title: "код, наименование, краткое наименование") %>
		  <%= submit_tag("Поиск", class: "btn btn-primary", name: "search", title: "код, наименование, краткое наименование") %>
		</div>
		<% end %></li>    
  </ul>  
</nav>

<h4 align="center">Справочник-Потребители <span class="glyphicon glyphicon-lamp" aria-hidden="true"></span></h4>	 

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-info"">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class = "glyphicon glyphicon-wrench">
          <% if @flag=='edit' then %>Редактировать потребителя<% else %>Добавить потребителя<% end %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse <%= if (@flag!='edit' && @flag!='add') then "collapse" end %>" role="tabpanel" aria-labelledby="headingOne">	
      <div class="panel-body">
		<h4 align="center"><% if @flag=='edit' then %>Редактирование потребителя<% else %>Ввод нового потребителя<% end %></h4>
		<%= simple_form_for(@company) do |f| %>
		    <div class="row">
		      <% if @company.errors.any? %>
			    <div id="error_explanation">
			      <h4><%= pluralize(@company.errors.count, "error") %> prohibited this line from being saved:</h4>
			      <ul>
			        <% @company.errors.full_messages.each do |msg| %>
			          <li><%= msg %></li>
			        <% end %>
			      </ul>
			    </div>
			  <% end %>			    						
		    <div class="col-md-7">
				<%= f.input :name, label: 'Наименование', input_html: { maxlength:"40"}, placeholder: "Наименование...", required: true %>
				<%= f.input :shname, label: 'Краткое наименование', input_html: { maxlength:"15"},  placeholder: "Краткое наименование...", 
				    hint: 'Сокращенное наименование без SA, SRL, IS, кавычек и пр. для упрощения сортировки по названию.' %>				
			</div>
		  	<div class="col-md-5">
		  		<%= f.input :cod, label: 'Код', input_html: { maxlength:"20"},  placeholder: "Код...", hint: 'Условный код для отчетов.' %>	
		        <%= f.input :comment, label: 'Комментарий', as: :text, :input_html => { :size => 50} %>
		        <%= f.input :f, label: 'Активный', as: :boolean, checked_value: true, unchecked_value: false %>
		  	</div>		   		
		   	</div> <!--  row --> 				
	  			<%= hidden_field_tag :cp_id, @company.id %>
	  			<%= hidden_field_tag :page, @page %>      
	  			<div  align="center">
					<%= button_tag "Сохранить", type: 'submit', class: "btn btn-info glyphicon glyphicon-ok pull-center", data: { confirm: "Сохранить данные?" } %>
					<%= button_tag "Отмена", type: "submit", name: "cancel", value: true, class: "btn btn-warning glyphicon glyphicon-remove pull-center" %>                
			    </div> 
		<% end %>
      </div>
    </div>
  </div>  
</div>		           

<table id="companies" class="table table-bordered table-condensed table-hover table-striped dt-responsive nowrap compact" style="width:100%">
	   <% 2.times do |i| %>	
	   <% if i==0 then %><thead><% else %><tfoot><% end %>
			<tr class="info">
			   <th style="width:3%"></th>
			   <th style="width:2%" class="all">№</th>
			   <th>Наименование</th>
			   <th>Краткое наименование</th>
			   <th>Код</th>
			   <th>Комментарий</th>
			   <th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
			   <th>.........</th>			   
			</tr>	
	   <% if i==0 then %></thead><% else %></tfoot><% end %>
	   <% end %>
		<tbody>
			<% @companies.each do |item| %>
			   <% if item.updated_at > (Time.now.ago($GreenDelay)) then %><tr class="success"><% else %><tr><% end %>					
						<td></td>
						<td></td>
						<td><% if item.f == false then %><em><% end %><%= item.name %><% if item.f == false then %></em><% end %></td>
						<td><% if item.f == false then %><em><% end %><%= item.shname %><% if item.f == false then %></em><% end %></td>
						<td><% if item.f == false then %><em><% end %><%= item.cod %><% if item.f == false then %></em><% end %></td>						
                        <td><%= item.comment %></td>
                        <td><span class="glyphicon glyphicon-<%= if item.f then 'ok' else 'minus' end %>" aria-hidden="true"></span></td>
                        <td><%= link_to " " , companies_edit_path(:cp_id => item.id, :page => @page), :class=> "glyphicon glyphicon-pencil" %>
  						    <%= link_to " " , companies_destroy_path(:cp_id => item.id, :page => @page), :class=> "glyphicon glyphicon-remove",
  						                 data: { confirm: "Удалить потребителя #{item.name} ?" } %></td>  
					</tr>		
			<% end %>			
		</tbody>
</table>

