<% provide(:title, 'Потребители') %>

<nav class="navbar">
  <ul class="nav nav-pills pull-left">
    <li><%= link_to "Назад", welcome_index_path, :class => "glyphicon glyphicon-level-up" %></li>
    <li><%= link_to "Справка", companies_helpmpoint_path(:id => @flr.id, :page => @page), :class => "glyphicon glyphicon-info-sign" %></li>    
    <li><%= link_to image_tag('vjuh-suma.png', :alt => "Отчет", :width => 40, :height => 30, :title => "Отчет FidereDirecte"), companies_reports_path(:id => @flr.id, :page => @page) %></li>
    <li><%= link_to image_tag('nezna.png', :alt => "Отчет", :width => 30, :height => 30, :title => "Отчет Model lista fidere directe"), companies_simplereports_path(:id => @flr.id, :page => @page) %></li>
    <li><%= link_to image_tag('lampmoney.png', :alt => "Отчет", :width => 30, :height => 30, :title => "Отчет Lista consumatorilor directi"), companies_regionreports_path(:id => @flr.id, :page => @page) %></li>
    <li><%= form_tag("/companies/index", method: "get", class: 'form-inline') do %>
    	<div class="form-group">
		  <%= label_tag(:q, "Искать:", class: "control-label") %>
		  <%= search_field_tag(:q, @data_for_search, placeholder: 'Enter your search query here', class: "form-control", title: "код, наименование, филиал, район, поставщик, подстанция, точка учета") %>
		  <%= hidden_field_tag :id, @flr.id %>
		  <%= submit_tag("Поиск", class: "btn btn-primary", name: "search", title: "код, наименование, филиал, район, поставщик, подстанция, точка учета") %>
		</div>
		<% end %></li>
	<li><%= form_tag("/companies/index", method: "get", class: 'form-inline') do %>
    	<div class="form-group">
		  <%= label_tag(:qcompany, "Фильтр:", class: "control-label") %>
		  <%= select_tag(:qcompany, options_for_select(@fcomps, @qcompany), class: "form-control", prompt: "Потребитель...#{@qcompany}", include_blank: false, title: "Потребитель") %>
		  <%= select_tag(:qfurnizor, options_for_select(@ffurns, @qfurnizor), class: "form-control", prompt: "Поставщик...#{@qfurnizor}", include_blank: false, title: "Поставщик") %>
		  <%= select_tag(:qfilial, options_for_select(@ffils, @qfilial), class: "form-control", prompt: "Филиал...#{@qfilial}", include_blank: false, title: "Филиал") %>
		  <%= select_tag(:qregion, options_for_select(@fregions, @qregion), class: "form-control", prompt: "Район...#{@qregion}", include_blank: false, title: "Район") %>
		  <%= select_tag(:qmesubstation, options_for_select(@fsstations, @qmesubstation), class: "form-control", prompt: "Подстанция...#{@qmesubstation}", include_blank: false, title: "Подстанция") %>
		  <%= hidden_field_tag :id, @flr.id %>
		  <%= submit_tag("Фильтр", class: "btn btn-primary", name: "filter") %>
		</div>
		<% end %></li>	    
  </ul>  
</nav>

<ul class="breadcrumb">
  <% if @fpr < 6 then %>
	  <li><%=  link_to "Филиалы", welcome_index_path, :class => "glyphicon glyphicon-home" %></li>		
	  <li class="active"><span class="glyphicon glyphicon-tower" aria-hidden="true"></span><strong><%= "Филиал: #{@flr.name}" %></strong></li>  
  <% elsif @fpr < 9 then %> 	
	  <li><%=  link_to "Поставщики", welcome_index_path, :class => "glyphicon glyphicon-home" %></li>	
	  <li class="active"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span><strong><%= "Поставщик: #{@flr.name} " %></strong>
	  	<%= if @flr.name.upcase.include?("FEE") then image_tag('fee.png', :alt => "FEE", :width => 25, :height => 25) 
		   	                                       elsif @flr.name.upcase.include?("FENOSA") then image_tag('fenosa.png', :alt => "Fenosa", :width => 25, :height => 25) end %>
	  </li> 	  
  <% end %>
</ul>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class = "glyphicon glyphicon-wrench">
          <% if @flag=='edit' then %>Редактировать потребителя<% else %>Добавить точку учета для нового потребителя<% end %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse <%= if (@flag!='edit' && @flag!='add') then "collapse" end %>" role="tabpanel" aria-labelledby="headingOne">	
      <div class="panel-body">
		<h3 align="center"><% if @flag=='edit' then %>Редактирование потребителя<% else %>Ввод точки учета для нового потребителя<% end %></h3>
		<%= simple_form_for(@mpoint, html: { class: 'form-inline' }) do |f| %>
				<div class="form-group"> 
						<label for='cod' class="control-label">Код</label>
						<%= number_field_tag 'cod', @mpoint.cod, class: "form-control",  placeholder: "Код", min: 1, max: 1000000000, step: 1 %>
		        </div>
		        <div class="form-group">
						<label for='name'class="control-label">Наименование</label>
						<%= text_field_tag('name', @mpoint.name, class: "form-control",  :size=>"50", placeholder: "Точка учета...") %>
				</div>
				<div class="form-group">		   				
		   				<label for='voltcl' class="control-label">Класс напряжения, кВ</label>
		   				<%= number_field_tag 'voltcl', @mpoint.voltcl,  placeholder: "Класс напряжения", min: 0.1, max: 1000000, step: 0.1, class: "form-control" %>
		   		</div><br>
				<div class="form-group">		
						<label for='company_id' class="control-label">Потребитель</label>
						<%= select_tag "company_id", options_for_select( @comps, if !@mpoint.company_id.nil? then @mpoint.company_id else nil end ), class: "form-control" %>
				</div>		
				<div class="form-group">		
						<label for='furnizor_id' class="control-label">Поставщик</label>
						<%= select_tag "furnizor_id", options_for_select( @furns, if !@mpoint.furnizor_id.nil? then @mpoint.furnizor_id else nil end ), class: "form-control" %>
				</div>			       
			    <div class="form-group">                   
		   				<label for='thesauru_id' class="control-label">Подстанция (ME)</label>
		   				<%= select_tag 'mesubstation_id', options_for_select( @sstations, if !@mpoint.mesubstation_id.nil? then @mpoint.mesubstation_id else nil end), include_blank: false, prompt: "Select something" , class: "form-control" %>
		   		</div><br>		
		   		<div class="form-group">		
		   				<label for='meconname' class="control-label">Точка учета (МЕ)</label>
		   				<%= text_field_tag 'meconname', @mpoint.meconname,  placeholder: "Присоединение (запитан потребитель)",  :size=>"50", class: "form-control" %>
		   		</div>
		   		<div class="form-group">		
		   				<label for='clsstation' class="control-label">Объект установки учета</label>
		   				<%= text_field_tag 'clsstation', @mpoint.clsstation, placeholder: "Объект установки учета",  :size=>"50", class: "form-control" %>
				</div>
				<div class="form-group">
		   				<label for='clconname' class="control-label">Точка учета (потребитель)</label>
		   				<%= text_field_tag 'clconname', @mpoint.clconname,  placeholder: "Присоединение установки учета",  :size=>"50", class: "form-control" %>
    		   	</div>
		   		<div class="form-group">		
		   				<label for='comment' class="control-label">Комментарий</label>
		   				<%= text_field_tag 'comment', @mpoint.comment, placeholder: 'Комментарий...',  :size=>"50", class: "form-control" %>
		   		</div>		
		   		<div class="form-group">		
		   				<label for='fct' class="control-label">Не считать тех.расход <%= image_tag('faract.png', :alt => "без СТ", :width => 35, :height => 25) %></label>						
						<%= check_box_tag 'fct', 'yes', @mpoint.fct, class: "form-control" %>
						<label for='fctc' class="control-label">Не считать емкостной тех расход <%= image_tag('c.png', :alt => "без СТ емк", :width => 35, :height => 25) %></label>						
						<%= check_box_tag 'fctc', 'yes', @mpoint.fctc, class: "form-control" %>
					    <label for='fctl' class="control-label">Не считать индуктивный тех расход <%= image_tag('l1.png', :alt => "без СТ инд", :width => 35, :height => 25) %></label>						
						<%= check_box_tag 'fctl', 'yes', @mpoint.fctl, class: "form-control" %>					
			    </div>
			    <div class="form-group">		   				
		   				<label for='cosfi' class="control-label">cos φ контрактный</label>		
						<%= number_field_tag 'cosfi', @mpoint.cosfi,  placeholder: "cos φ", min: 0, max: 1, step: 0.01, class: "form-control", :title => "cos φ" %>
		   		</div>
		   		<div class="form-group">		
		   				<label for='four' class="control-label">Наш трансформатор <span class="glyphicon glyphicon-flag" aria-hidden="true"></span></label>						
						<%= check_box_tag 'four', 'yes', @mpoint.four, class: "form-control" %>				
			    </div>
			    <div class="form-group">		
		   				<label for='fturn' class="control-label">Обратное включение счетчика <span class="glyphicon glyphicon-random" aria-hidden="true"></span></label>						
						<%= check_box_tag 'fturn', 'yes', @mpoint.fturn, class: "form-control" %>				
			    </div>
			    <div class="form-group">		
		   				<label for='fmargin' class="control-label">Граница раздела и точка учета не совпадают <span class="glyphicon glyphicon-adjust" aria-hidden="true"></span></label>						
						<%= check_box_tag 'fmargin', 'yes', @mpoint.fmargin, class: "form-control" %>				
			    </div>
		   		<div class="form-group">		
		   				<label for='f' class="control-label">Активный</label>						
						<%= check_box_tag 'f', true, @mpoint.f, class: "form-control" %>						   				
		   		</div><br>							        
  			            <%= hidden_field_tag :flr_id, @flr.id %>
  			            <%= hidden_field_tag :parentform, 'newcompanympoint' %>
  			            <%= hidden_field_tag :page, @page %> 
  			<div  align="center">
				<%= button_tag "Сохранить", type: 'submit', class: "btn btn-default glyphicon glyphicon-ok pull-center", 
				                data: { confirm: "Сохранить данные для #{@flr.name} / #{@mpoint.name}?" } %>
				<%= button_tag "Отмена", type: "submit", name: "cancel", value: true, class: "btn btn-default glyphicon glyphicon-remove pull-center" %>                	
			</div> 
		<% end %>
      </div>
    </div>
  </div>  
</div>

<h3 align="center">Потребители с точками учета <span class="glyphicon glyphicon-lamp" aria-hidden="true"></span><% if @filter==1 then %><span class="glyphicon glyphicon-filter" aria-hidden="true"></span><% end %></h3>	 		           

<table  class="table table-striped  table-hover">
		<thead>
			<tr class="info">
			   <th>№</th>
			   <th>Наименование</th>
			   <th>Код</th>
			   <th>Точки учета</th>
			   <th>Отчеты</th>
			   <th>Инфо</th>
			   <th>Комментарий</th>
			   <th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>			   
			</tr>	
		</thead>
		<tbody>
   			<% i = 0%>
			<% @companies.each do |item| %>
			   <% if item.updated_at > (Time.now.ago($GreenDelay)) %>
			    	<tr class="success">
			   <% else %> 	
					<tr>
			   <% end %>
						<% i = i + 1 %>						
						<td><%= if @page.nil? then i else (@page.to_i - 1) * $PerPage + i end %></td>
						<td><% if item.f == false then %><em><% end %><%= item.shname %><% if item.f == false then %></em><% end %></td>
						<td><% if item.f == false then %><em><% end %><%= item.cod %><% if item.f == false then %></em><% end %></td>						
						<td><%= link_to "Открыть", company_path(item,:flr_id => @flr.id), :class=> "glyphicon glyphicon-object-align-horizontal" %></td>
                        <td><%= link_to image_tag('vjuh-report.png', :alt => "Отчет", :width => 30, :height => 20), companies_report_path(:flr_id => @flr.id, :cp_id => item.id, :page => @page) %></td>
                        <td><%= link_to image_tag('indicii.png', :alt => "Показания", :width => 30, :height => 20), companies_mvreport_path(:flr_id => @flr.id, :cp_id => item.id, :page => @page) %>
                        	<%= link_to image_tag('meter.png', :alt => "Счетчики", :width => 30, :height => 20), companies_mtreport_path(:flr_id => @flr.id, :cp_id => item.id, :page => @page) %>
                        	<%= link_to image_tag('tr-lep.png', :alt => "Параметры", :width => 30, :height => 20), companies_paramreport_path(:flr_id => @flr.id, :cp_id => item.id, :page => @page) %></td>
                        <td><%= item.comment %></td>
                        <td><span class="glyphicon glyphicon-<%= if item.f then 'ok' else 'minus' end %>" aria-hidden="true"></span></td>
					</tr>		
			<% end %>			
		</tbody>
</table>

<center><small><%= if !@companies.nil? then will_paginate @companies, renderer: BootstrapPagination::Rails end %></small></center>

