<% provide(:title, 'Счетчики') %>

<nav class="navbar">
  <ul class="nav nav-pills pull-left">
    <li><%= link_to "Назад", companies_path(:id => @flr.id, :page => @page), :class => "glyphicon glyphicon-level-up" %></li>                  
  </ul>  
</nav>

<ul class="breadcrumb">
  <li><%= if (@fpr > 5) 
  	         then link_to "Поставщики", welcome_index_path, :class => "glyphicon glyphicon-home"
  	         else link_to "Филиалы", welcome_index_path, :class => "glyphicon glyphicon-home" end %></li>	
  <li><%= if (@fpr > 5) 
  	         then link_to "Поставщик: #{@cp.furnizor.name}", companies_path(:id => @cp.furnizor_id), :class => "glyphicon glyphicon-piggy-bank"
  	         else link_to "Филиал: #{@cp.filial.name}", companies_path(:id => @cp.filial_id), :class => "glyphicon glyphicon-tower" end %></li>
  <li class="active"><span class="glyphicon glyphicon-lamp" aria-hidden="true"></span><strong><%= "Потребитель: #{@cp.name}" %></strong></li>
</ul>
				
<h3 align="center"><%= "Счетчики (валидные) #{@cp.name} " %><%= image_tag('meter.png', :alt => "Счетчики", :width => 40, :height => 30) %></h3>

<% if @meters.count != 0 then %>
	<% x = nil %>
    <% i = j = 1 %>
    <% @meters.each do |item| %>
      <% if x != item.id then %>
        <% unless x.nil? then %>
          </tbody>
          </table>
        <% end %>
        <% x = item.id %>
        <h4><%= "#{i}. Точка учета: " + (item.cod.nil? ? '' : " #{item.cod}") + (item.name.nil? ? '' : " #{item.name}") + (item.messtation.nil? ? '' : " #{item.messtation}") +  (item.voltcl.to_s) + ' Î ' + item.meconname + ' F' %></h4>
        <% i += 1 %>
        <% j = 1 %>
        <table class="table table-striped table-condensed  table-hover">	
        <thead>
        <tr class="info">
      		<th>Nr</th>
      		<th>Тип счетчика</th>      
      		<th>№ счетчика</th>
      		<th>Коэффициент</th>      
      		<th>Актуальность начало</th>
      		<th>Актуальность конец</th>
      		<th>Комментарий</th>
      		<th>Дата изменений</th> 
    	</tr>  
  		</thead>
  		<tbody>
      <% end %>
	   <% if item.updated_at > (Time.now.ago($GreenDelay)) %>
		 <tr class="success">
	   <% else %> 	
		 <tr>
	   <% end %>
      	 <td><%= j %></td>
      	 <td><%= item.metertype %></td>
      	 <td><%= item.meternum %></td>
      	 <td><%= item.koefcalc %></td>
      	 <td><%= item.relevance_date %></td>
      	 <td><%= item.relevance_end %></td>
      	 <td><%= item.comment %></td>
      	 <td><%= item.updated_at %></td>
      </tr>
      <% j += 1 %>
    <% end %>
    </tbody>
    </table>     	
<% end %>

