<% provide(:title, 'Счетчики') %>

<script>
	$(document).ready(function() {
	    var table = $('#mtt').DataTable({
	        "order": [[ 0, "asc" ],[ 6, "desc" ]],
	        "language": {
	            "lengthMenu": "Отображать _MENU_ строк на странице",
	            "zeroRecords": "Ничего не найдено - увы...",
	            "info": "Страница _PAGE_ из _PAGES_",
	            "infoEmpty": "Нет доступных строк",
	            "infoFiltered": "(Отфильтровано из _MAX_ строк)",
	            "search": "Поиск",
	             paginate: {
	                first:      "<<",
	                previous:   "<",
	                next:       ">",
	                last:       ">>"
	            }
	        },
	        "pagingType": "full_numbers",
	        "pageLength": 10,
	        columnDefs: [ 
	           {"orderable": false, targets: 1}, 
               {
	            "orderable": false,
	            "targets": [2,3,4,5,6,7,8,9,10]
	           },
	            { "visible": false, "targets": 0 },
                { type: 'de_date', targets: [6] }
	         ],
	        rowGroup: {
	           dataSrc: 0
	        }      
	    } ); 
	} );        
</script>

<nav class="navbar">
  <ul class="nav nav-pills pull-left">
    <li><%= link_to "Назад", companies_path(:id => @flr.id, :cp_id => @cp), :class => "glyphicon glyphicon-level-up" %></li>                  
  </ul>  
</nav>

<ul class="breadcrumb">
  <li><%= if (@fpr > 5) 
  	         then link_to "Поставщики", welcome_index_path, :class => "glyphicon glyphicon-home"
  	         else link_to "Филиалы", welcome_index_path, :class => "glyphicon glyphicon-home" end %></li>	
  <li><%= if (@fpr > 5) 
  	         then link_to "Поставщик: #{@flr.name}", companies_path(:id => @flr.id, :cp_id => @cp), :class => "glyphicon glyphicon-piggy-bank"
  	         else link_to "Филиал: #{@flr.name}", companies_path(:id => @flr.id, :cp_id => @cp), :class => "glyphicon glyphicon-tower" end %></li>
  <li class="active"><span class="glyphicon glyphicon-lamp" aria-hidden="true"></span><strong><%= "Потребитель: #{@cp.name}" %></strong></li>
</ul>
				
<h3 align="center"><%= "Счетчики (валидные) #{@cp.name} " %><%= image_tag('meter.png', :alt => "Счетчики", :width => 40, :height => 30) %></h3>
<small>
<table id="mtt" class="table table-bordered table-condensed table-hover table-striped dt-responsive compact" style="width:100%">
	   <% 2.times do |i| %>	
	   <% if i==0 then %><thead><% else %><tfoot><% end %>
			<tr class="info">
			    <th></th>
	      		<th>Тип счетчика</th>      
	      		<th>№ счетчика</th>
	      		<th>Коэффициент ток</th>
	      		<th>Коэффициент напряжение</th>
	      		<th>Коэффициент расчетный</th>      
	      		<th>Дата монтажа</th>
	      		<th>Дата демонтажа</th>
	      		<th>Цифр до запятой</th>
	      		<th>Цифр после запятой</th>
	      		<th>Комментарий</th>		  
		    </tr>  
	   <% if i==0 then %></thead><% else %></tfoot><% end %>
	   <% end %>			  	
  <tbody>
      <% @meters.each do |item| %>
	   <% if item.updated_at > (Time.now.ago($GreenDelay)) %><tr class="success"><% else %><tr><% end %>
	     <td><%= "Точка учета:  #{item.cod} | #{item.name} | #{item.mesubstation} | #{item.region} | #{item.voltcl} | #{item.meconname}" %></td>
      	 <td><%= item.metertype %></td>
      	 <td><%= item.meternum %></td>
      	 <td><%= item.koeftt %></td>
      	 <td><%= item.koeftn %></td>
      	 <td><%= item.koefcalc %></td>
      	 <td><%= item.relevance_date.strftime("%d.%m.%Y") %></td>
      	 <td><%= item.relevance_end.strftime("%d.%m.%Y") %></td>
      	 <td><%= item.beforedigs %></td>
      	 <td><%= item.afterdigs %></td>
      	 <td><%= item.comment %></td>
      </tr>
     <% end %>
  </tbody>
</table>
</small>

