<% provide(:title, 'Счетчики') %>

<nav class="navbar">
  <ul class="nav nav-pills pull-left">
    <li><%= link_to "Назад", companies_path(:id => @flr.id, :page => @page), :class => "glyphicon glyphicon-level-up" %></li>                  
  </ul>  
</nav>

<ul class="breadcrumb">
  <li><%= if (@fpr > 5) 
  	         then link_to "Поставщики", welcome_index_path, :class => "glyphicon glyphicon-home"
  	         else link_to "Филиалы", welcome_index_path, :class => "glyphicon glyphicon-home" end %></li>	
  <li><%= if (@fpr > 5) 
  	         then link_to "Поставщик: #{@cp.furnizor.name}", companies_path(:id => @cp.furnizor_id), :class => "glyphicon glyphicon-piggy-bank"
  	         else link_to "Филиал: #{@cp.filial.name}", companies_path(:id => @cp.filial_id), :class => "glyphicon glyphicon-tower" end %></li>
  <li class="active"><span class="glyphicon glyphicon-lamp" aria-hidden="true"></span><strong><%= "Потребитель: #{@cp.name}" %></strong></li>
</ul>
				
<h3 align="center"><%= "Счетчики (валидные) #{@cp.name}" %></h3>

<table class="table table-striped table-condensed  table-hover">	
  <thead>
    <tr class="info">
      <th>Nr</th>
      <th>Точка учета</th>
      <th>Тип счетчика</th>      
      <th>№ счетчика</th>
      <th>Коэффициент</th>      
      <th>Актуальность начало</th>
      <th>Актуальность конец</th>
      <th>Комментарий</th>
      <th>Дата изменений</th> 
    </tr>  
  </thead>
  <tbody>
  	<% i = 0 %>
    <% @meters.each do |item| %>
       <% i = i + 1 %>	
	   <% if item.updated_at > (Time.now.ago($GreenDelay)) %>
		 <tr class="success">
	   <% else %> 	
		 <tr>
	   <% end %>
      	 <td><%= i %></td>
      	 <td><%= item.name %></td>
      	 <td><%= item.metertype %></td>
      	 <td><%= item.meternum %></td>
      	 <td><%= item.koefcalc %></td>
      	 <td><%= item.relevance_date %></td>
      	 <td><%= item.relevance_end %></td>
      	 <td><%= item.comment %></td>
      	 <td><%= item.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
