<% provide(:title, 'Показания') %>

<nav class="navbar">
  <ul class="nav nav-pills pull-left">
    <li><%= link_to "Назад", companies_path(:id => @flr.id, :page => @page), :class => "glyphicon glyphicon-level-up" %></li>                  
  </ul>  
</nav>

<ul class="breadcrumb">
  <li><%= if (@fpr > 5) 
  	         then link_to "Поставщики", welcome_index_path, :class => "glyphicon glyphicon-home"
  	         else link_to "Филиалы", welcome_index_path, :class => "glyphicon glyphicon-home" end %></li>	
  <li><%= if (@fpr > 5) 
  	         then link_to "Поставщик: #{@cp.furnizor.name}", companies_path(:id => @cp.furnizor_id), :class => "glyphicon glyphicon-piggy-bank"
  	         else link_to "Филиал: #{@cp.filial.name}", companies_path(:id => @cp.filial_id), :class => "glyphicon glyphicon-tower" end %></li>
  <li class="active"><span class="glyphicon glyphicon-lamp" aria-hidden="true"></span><strong><%= "Потребитель: #{@cp.name}" %></strong></li>
</ul>
				
<h3 align="center"><%= "Показания счетчиков (валидные) #{@cp.name} " %><%= image_tag('indicii.png', :alt => "Показания", :width => 60, :height => 30) %></h3>

<table class="table table-striped table-condensed  table-hover">	
  <thead>
    <tr class="info">
      <th>Nr</th>
      <th>Точка учета</th>
      <th>Код точки учета</th>      
      <th>Счетчик</th>
      <th>Дата</th>      
      <th>1.8.0</th>
      <th>2.8.0</th>
      <th>3.8.0</th>
      <th>4.8.0</th>
      <th><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></th>
      <th>Дата изменений</th>  
    </tr>  
  </thead>
  <tbody>
  	<% i = 0 %>
    <% @mvalues.each do |item| %>
       <% i = i + 1 %>	
	   <% if item.mvalue_updated_at > (Time.now.ago($GreenDelay)) %>
		 <tr class="success">
	   <% else %> 	
		 <tr>
	   <% end %>
      	 <td><%= i %></td>
      	 <td><%= Mpoint.find(item.id).name %> <%= Mpoint.find(item.id).messtation %> <%= Mpoint.find(item.id).voltcl %> Î <%= Mpoint.find(item.id).meconname %> F </td>
      	 <td><%= item.cod %></td>
      	 <td><%= item.meternum %></td>
      	 <td><%= item.actdate %></td>
      	 <td><%= item.actp180 %></td>
      	 <td><%= item.actp280 %></td>
      	 <td><%= item.actp380 %></td>
      	 <td><%= item.actp480 %></td>
      	 <td><% if item.r then %><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span><% end %></td>
      	 <td><%= item.mvalue_updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<center><small><%= if @mvalues.count!=0 then will_paginate @mvalues, renderer: BootstrapPagination::Rails end %></small></center>