<% provide(:title, 'Показания') %>

<nav class="navbar">
  <ul class="nav nav-pills pull-left">
    <li><%= link_to "Назад", companies_path(:id => @flr.id, :cp_id => @cp), :class => "glyphicon glyphicon-level-up" %></li>                  
  </ul>  
</nav>

<ul class="breadcrumb">
  <li><%= if (@fpr > 5) 
  	         then link_to "Поставщики", welcome_index_path, :class => "glyphicon glyphicon-home"
  	         else link_to "Филиалы", welcome_index_path, :class => "glyphicon glyphicon-home" end %></li>	
  <li><%= if (@fpr > 5) 
  	         then link_to "Поставщик: #{@flr.name}", companies_path(:id => @flr.id, :cp_id => @cp), :class => "glyphicon glyphicon-piggy-bank"
  	         else link_to "Филиал: #{@flr.name}", companies_path(:id => @flr.id, :cp_id => @cp), :class => "glyphicon glyphicon-tower" end %></li>
  <li class="active"><span class="glyphicon glyphicon-lamp" aria-hidden="true"></span><strong><%= "Потребитель: #{@cp.name}" %></strong></li>
</ul>
				
<h3 align="center"><%= "Показания счетчиков (валидные) #{@cp.name} " %><%= image_tag('indicii.png', :alt => "Показания", :width => 60, :height => 30) %></h3>
<small>
<% x = 0 %> 
<table class="table table-striped table-condensed  table-hover">	
  <thead>
    <tr class="info">     
      <th>№ счетчика</th>
      <th>Дата актирования</th>      
      <th>Активный<br> прием A+</th>
      <th>Активная<br> отдача A-</th>
      <th>Реактивный<br> прием R+</th>
      <th>Реактивная<br> отдача R-</th>
	  <th>Потребление<br> субабонента,<br> кВт*ч</th>
	  <th>Недоучет,<br> кВт*ч</th>
	  <th title="Включить недоучет в расчет потерь"><span class="glyphicon glyphicon-record" aria-hidden="true"></span></th>		   
	  <th title="Учет А-: не аннулировать отдачу"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span></th>
	  <th title="Время работы электроустановки Tраб (если пусто, то Траб=часы между текущей и предыдущей датами)(0 = пусто)">Траб, часы</th>
	  <th>Комментарий</th>        
      <th title="Расчетный день"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></th>
    </tr>  
  </thead>
  <tbody>	
    <% @mvalues.each do |item| %>     	
       <% if x != item.id then %>
          <% x = item.id %>
          <tr>
       <td colspan=12><h5><center><%= "Точка учета: " + (item.cod.nil? ? '' : " #{item.cod}") + (item.name.nil? ? '' : " #{item.name}") + (item.mesubstation.nil? ? '' : " #{item.mesubstation} ") + " #{item.meconname}" %></center></h5></td>   
       <% else %>
	     <% case when item.frfail then %><tr class="warning">	
		   <% when item.fzero then %><tr class="info">						   
		   <% when item.mvalue_updated_at > (Time.now.ago($GreenDelay)) then %><tr class="success">
		   <% else %><tr>
	     <% end %>         		 
      	 <td nowrap><%= number_with_delimiter(item.meternum, delimiter: " ", separator: ".") %></td>
      	 <td nowrap><%= item.actdate.to_formatted_s(:day_month_year) %></td>
      	 <td nowrap><%= number_with_delimiter(item.actp180, delimiter: " ", separator: ".", precision: 4) %></td>
      	 <td nowrap><%= number_with_delimiter(item.actp280, delimiter: " ", separator: ".", precision: 4) %></td>
      	 <td nowrap><%= number_with_delimiter(item.actp380, delimiter: " ", separator: ".", precision: 4) %></td>
      	 <td nowrap><%= number_with_delimiter(item.actp480, delimiter: " ", separator: ".", precision: 4) %></td>
		 <td nowrap><%= number_with_delimiter(item.dwa, delimiter: " ", separator: ".", precision: 4) %></td>
		 <td nowrap><%= number_with_delimiter(item.undercount, delimiter: " ", separator: ".", precision: 4) %></td>
		 <td title="Включить недоучет в расчет потерь"><% if item.fnefact then %><span class="glyphicon glyphicon-record" aria-hidden="true"></span><% end %></td>
		 <td title="Учет А-: не аннулировать отдачу"><% if item.fanulare then %><span class="glyphicon glyphicon-flash" aria-hidden="true"></span><% end %></td>
		 <td title="Tраб (если пусто, то Траб=часы между текущей и предыдущей датами)(0 = пусто)"><%= item.trab %></td>						
		 <td><%= item.comment %></td>     	 
      	 <td title="Расчетный день"><% if item.r then %><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span><% end %></td>
      <% end %>      	 
      </tr>
    <% end %>
  </tbody>
</table>
</small>

<center><small><%= if @mvalues.count!=0 then will_paginate @mvalues, renderer: BootstrapPagination::Rails end %></small></center>

<h5><mark>Желтых</mark> строк быть не должно!</h5>
<h5><mark>Желтая</mark> строка  - проверить расчетный день <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>(выбрано больше одного расчетного дня в месяце или вообще ни одного)</h5>
<h5><mark>Голубая</mark> строка - проверить переход через 0 (предыдущие показания больше текущих)</h5>
<h5>Зеленая строка - недавно отредактированная строка</h5>
<h5>Ярко-голубая строка - бегунок</h5>