<% provide(:title, 'Расчет') %>

<nav class="navbar">
  <ul class="nav nav-pills pull-left">
    <li><%= link_to "Назад", company_path(@mp.company_id, :flr_id => @mp.mesubstation.filial), :class => "glyphicon glyphicon-level-up" %></li>
    <li><%= link_to "#{image_tag('Excel-icon.png', :alt => "XLSX", :width => "25", :height => "25")}".html_safe, companies_report_path(:flr_id => @flr.id,:cp_id => @mp.company_id,:month_for_report => @ddate.to_formatted_s(:year_month),format: "xlsx") %></li>
    <li><%= link_to image_tag('Apps-Pdf-B-icon.png', :alt => "PDF", :width => "25", :height => "25"), companies_report_path(:flr_id => @flr.id,:cp_id => @mp.company_id,:month_for_report => @ddate.to_formatted_s(:year_month),format: "pdf") %></li>
    <li><%= form_tag companies_onempreport_path(:id => @flr.id, :mp_id => @mp.id, :page => @page) do %>
    	        <%= month_field_tag :month_for_report,@ddate.to_formatted_s(:year_month) %>
                <%= image_submit_tag("vjuh-recalc.png",class: 'submit_button',:alt => "Пересчет", :width => 50, :height => 40) %> 
                <%= button_tag "Пересчет", type: "submit", name: "ok", value: true, class: "btn btn-default glyphicon glyphicon-refresh" %>
                <% end %></li>                   
  </ul>  
</nav>

<ul class="breadcrumb">
  <li><%= if (@fpr > 5) 
  	         then link_to "Поставщики", welcome_index_path, :class => "glyphicon glyphicon-home"
  	         else link_to "Филиалы", welcome_index_path, :class => "glyphicon glyphicon-home" end %></li>	
  <li><%= if (@fpr > 5) 
  	         then link_to "Поставщик: #{@flr.name}", companies_path(:id => @flr.id, :cp_id => @mp.company_id), :class => "glyphicon glyphicon-piggy-bank"
  	         else link_to "Филиал: #{@flr.name}", companies_path(:id => @flr.id, :cp_id => @mp.company_id), :class => "glyphicon glyphicon-tower" end %></li>
  <li><%= link_to "Потребитель: #{@mp.company.name}", company_path(@mp.company_id, :flr_id => @mp.mesubstation.filial), :class => "glyphicon glyphicon-lamp" %></li>
  <li class="active"><span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true"></span><strong><%= "Точка учета: #{@mp.name}, #{@mp.mesubstation.name}, #{@mp.meconname}" %></strong></li>
</ul>
	
<% @lista_title.each do |t| %>
	<h4 align="center"><%= t %></h4>  
<% end %>

<%= "Denumirea furnizorului:  #{@mp.furnizor.name}" %></br>

<h4 align="center">Показания</h4> 
<small>
<table class="table table-striped table-condensed  table-hover">	
  <thead>
    <tr class="success">
      <th>Nr счетчика</th>
      <th>Тип данных</th>    
      <th>Данные текущие</th>
      <th>Данные предыдущие</th>
      <th>Разница</th>
      <th>Коэффициент</th>  
      <th>Энергия, kWh</th> 
    </tr>  
  </thead>
  <tbody>
  	<% unless @indicii.nil? then%>
    <% @indicii.each do |item| %>
      <tr>
      	 <td><%= number_with_delimiter(item[:meternum], delimiter: " ") %></td>
      	 <td>Дата съема</td>
      	 <td><%= item[:date1] %></td>
      	 <td><%= item[:date0] %></td>
      	 <td><strong><%= number_with_delimiter(item[:dt], delimiter: " ") %>, дни</strong></td>
      	 <td></td>
      	 <td></td>
      </tr>
      <tr>
      	 <td></td>
      	 <td>1.8.0</td>
      	 <td><%= number_with_delimiter(item[:ind1_180], delimiter: " ") %></td>
      	 <td><%= number_with_delimiter(item[:ind0_180], delimiter: " ") %></td>
      	 <td><%= number_with_delimiter(item[:dind_180], delimiter: " ") %></td>
      	 <td><%= number_with_delimiter(item[:koef], delimiter: " ") %></td>
      	 <td><strong><%= number_with_delimiter(item[:enrg_180], delimiter: " ") %></strong></td>
      </tr>
      <tr>
      	 <td></td>
      	 <td>2.8.0</td>
      	 <td><%= number_with_delimiter(item[:ind1_280], delimiter: " ") %></td>
      	 <td><%= number_with_delimiter(item[:ind0_280], delimiter: " ") %></td>
      	 <td><%= number_with_delimiter(item[:dind_280], delimiter: " ") %></td>
      	 <td><%= number_with_delimiter(item[:koef], delimiter: " ") %></td>
      	 <td><strong><%= number_with_delimiter(item[:enrg_280], delimiter: " ") %></strong></td>
      </tr>
      <tr>
      	 <td></td>
      	 <td>3.8.0</td>
      	 <td><%= number_with_delimiter(item[:ind1_380], delimiter: " ") %></td>
      	 <td><%= number_with_delimiter(item[:ind0_380], delimiter: " ") %></td>
      	 <td><%= number_with_delimiter(item[:dind_380], delimiter: " ") %></td>
      	 <td><%= number_with_delimiter(item[:koef], delimiter: " ") %></td>
      	 <td><strong><%= number_with_delimiter(item[:enrg_380], delimiter: " ") %></strong></td>
      </tr>
      <tr>
      	 <td></td>
      	 <td>4.8.0</td>
      	 <td><%= number_with_delimiter(item[:ind1_480], delimiter: " ") %></td>
      	 <td><%= number_with_delimiter(item[:ind0_480], delimiter: " ") %></td>
      	 <td><%= number_with_delimiter(item[:dind_480], delimiter: " ") %></td>
      	 <td><%= number_with_delimiter(item[:koef], delimiter: " ") %></td>
      	 <td><strong><%= number_with_delimiter(item[:enrg_480], delimiter: " ") %></strong></td>
      </tr>      
    <% end %>
    <% end %>
  </tbody>
</table>
</small>

<h4 align="center">Энергии</h4>
<small>
<table class="table table-striped table-condensed  table-hover">	
  <thead>
    <tr class="success">
      <th>Энергия A+, kWh</th>      
      <th>Энергия A-, kWh</th>
      <th>Энергия R+, kVAh</th>
      <th>Энергия R-, kVAh</th>
      <th>Потребление<br>субабонента, kWh</th>
      <th>Потребление за вычетом<br> потребления<br>субабонента, kWh</th> 
    </tr>  
  </thead>
  <tbody>
    <tr>
      <td><%= @energies[:wa_formula] %><strong><%= number_with_delimiter(@energies[:wa], delimiter: " ") %></strong></td>
      <td><%= @energies[:waliv_formula] %><strong><%= number_with_delimiter(@energies[:waliv], delimiter: " ") %></strong></td>
      <td><%= @energies[:wri_formula] %><strong><%= number_with_delimiter(@energies[:wri], delimiter: " ") %></strong></td>
      <td><%= @energies[:wrc_formula] %><strong><%= number_with_delimiter(@energies[:wrc], delimiter: " ") %></strong></td>
      <td><strong><%= number_with_delimiter(@energies[:wasub], delimiter: " ") %></strong></td>
      <td><%= @energies[:wa_without_wasub_formula] %><strong><%= number_with_delimiter(@energies[:wa_without_wasub], delimiter: " ") %></strong></td>
    </tr>
  </tbody>
</table>
</small>

<h4 align="center">Дополнительные параметры</h4>
<small>
<table class="table table-striped table-condensed  table-hover">	
  <thead>
    <tr class="success">
      <th>Время работы<br> электроустановки, часы</th>
      <th>cos φ контрактный</th>
      <th>tg φ контрактный</th>   
      <th>Tраб, часы</th>	
      <th>cos φ расчетный</th>
    </tr>  
  </thead>
  <tbody>
    <tr>
      <td><strong><%= number_with_delimiter(@energies[:trab], delimiter: " ") %></strong></td>	
      <td><strong><%= number_with_delimiter(@losses[:cosfi_contract], delimiter: " ") %></strong></td>
      <td><%= @losses[:tgfi_contract_formula] %><strong><%= number_with_delimiter(@losses[:tgfi_contract], delimiter: " ") %></strong></td>
      <td><%= @energies[:workt_formula] %><strong><%= number_with_delimiter(@energies[:workt], delimiter: " ") %></strong></td>	
      <td><%= @losses[:cosfi_formula] %><strong><%= number_with_delimiter(@losses[:cosfi], delimiter: " ") %></strong></td>      
    </tr>
  </tbody>
</table>
</small>

<h4 align="center">Транcформаторы <%= image_tag('tr-r.png', :alt => "Транcформаторы", :width => 40, :height => 30) %></h4>
<small> 
<table class="table table-striped table-condensed  table-hover">	
    <thead>
        <tr class="info">
      	   <th>Nr</th>
		   <th>Тип</th>
		   <th>Uном, кВ</th>
		   <th>Sном, кВА</th>
		   <th>Uкз, %</th>
		   <th>Ркз, кВт</th>
		   <th>Рхх, кВт</th>
		   <th>I0, %</th>
		   <th>Qкз, квар</th>
    	</tr>  
   </thead>
   <tbody>
   <% unless @trp.nil? then %>
      <% j = 0 %>
      <% @trp.each do |item| %>
	  <tr>
      	 <td><%= j+= 1 %></td>
		 <td><%= item.mark %></td>
		 <td><%= number_with_delimiter(item.unom, delimiter: " ") %></td>
		 <td><%= number_with_delimiter(item.snom, delimiter: " ") %></td>
		 <td><%= number_with_delimiter(item.ukz, delimiter: " ") %></td>
		 <td><%= number_with_delimiter(item.pkz, delimiter: " ") %></td>
		 <td><%= number_with_delimiter(item.pxx, delimiter: " ") %></td>
		 <td><%= number_with_delimiter(item.io, delimiter: " ") %></td>
		 <td><%= number_with_delimiter(item.qkz, delimiter: " ") %></td>
      </tr>
    <% end %>
   <% end %> 
   </tbody>
</table>     	
</small>
	
<h4 align="center">ζ</h4>
<small>
<table class="table table-striped table-hover table-condensed table-sm">
	<thead>
		<tr>
		   <th colspan="1" width="5%" class="info">№</th>
		   <th colspan="1" width="5%" class="info">Tm, ч.</th>
		   <th colspan="1" width="5%" class="info">ζm, ч.</th>
		   <th colspan="1" width="85%" class="info"></th>
		</tr>	
	</thead>
	<tbody>					
			<% i = 0%>
			<% @tau.each do |item| %>
				<tr>		
					<% i = i + 1 %>		        
					<td><%= i  %></td>
					<td><%= item.tm %></td>									
					<td><%= item.taum %></td>
					<td></td>									
				</tr>
			<% end %>	  
	</tbody>
</table>
</small>

<small>
<table class="table table-striped table-condensed  table-hover">	
  <thead>
    <tr class="success">
      <th>ζ</th>      
      <th>Tm</th>
      <th>cos φ</th>
      <th>Sном, кВА</th>
      <th>Wi, кBт*ч</th>
      <th>Wi*0,9, кВт*ч</th>
      <th>Wa, кВт*ч</th>
    </tr>  
  </thead>
  <tbody>
  	<% unless @ttaus.nil? then %>
  	<% @ttaus.each do |item| %>
    <tr>
      <td><%= item[:tau] %></td>
      <td><%= item[:tm] %></td>
      <td><%= number_with_delimiter(item[:cosfi], delimiter: " ") %></td>
      <td><%= number_with_delimiter(item[:snom], delimiter: " ") %></td>
      <td><%= item[:wi_formula] %><strong><%= number_with_delimiter(item[:wi], delimiter: " ") %></strong></td>      
      <td><%= item[:wi09_formula] %><strong><%= number_with_delimiter(item[:wi09], delimiter: " ") %></strong></td>
      <td><%= number_with_delimiter(item[:wa], delimiter: " ") %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</small>

<h4 align="center">Потери в трансформаторах</h4>
<small>
<table class="table table-striped table-condensed  table-hover">	
  <thead>
    <tr class="success">
      <th>Pxx, kWh</th>
      <th>Pкз, kWh</th>      
      <th>Rxx, kVAh</th>
      <th>Rкз, kVAh</th>
      <th>P суммарные, kWh</th>
      <th>R суммарные, kVAh</th>  
    </tr>  
  </thead>
  <tbody>
    <tr>
      <td><%= @losses[:tr_losses_pxx_formula] %> = <strong><%= number_with_delimiter(@losses[:tr_losses_pxx], delimiter: " ") %></strong></td>
      <td><%= @losses[:tr_losses_pkz_formula] %> = <strong><%= number_with_delimiter(@losses[:tr_losses_pkz], delimiter: " ") %></strong></td>
      <td><%= @losses[:tr_losses_rxx_formula] %> = <strong><%= number_with_delimiter(@losses[:tr_losses_rxx], delimiter: " ") %></strong></td>
      <td><%= @losses[:tr_losses_rkz_formula] %> = <strong><%= number_with_delimiter(@losses[:tr_losses_rkz], delimiter: " ") %></strong></td>
      <td><%= @losses[:tr_losses_p_formula] %><strong><%= number_with_delimiter(@losses[:tr_losses_p], delimiter: " ") %></strong></td>
      <td><%= @losses[:tr_losses_r_formula] %><strong><%= number_with_delimiter(@losses[:tr_losses_r], delimiter: " ") %></strong></td>
    </tr>
  </tbody>
</table>
</small>

<h4 align="center">Линии <%= image_tag('lep.png', :alt => "Линии", :width => 40, :height => 30) %></h4> 
<small>
<table class="table table-striped table-condensed  table-hover">	
    <thead>
        <tr class="info">
      	   <th>Nr</th>
		   <th>Длина линии L, км</th>
		   <th>Сопротивление линии r, Ом</th>
		   <th>Сопротивление материала r20, Ом</th>
		   <th>Коэффициент скрутки Kr</th>
		   <th>Коэффициент трассы Ktr</th>
		   <th>Коэффициент пов. эффекта и близости Kc</th>
		   <th>Коэффициент формы Кф</th>
		   <th>Марка</th>
		   <th>Сечение провода q, мм2</th>
		   <th>Uном, кВ</th>
    	</tr>  
   </thead>
   <tbody>
   <% unless @lnp.nil? then %>
      <% j = 0 %>
      <% @lnp.each do |item| %>
	  <tr>
      	 <td><%= j+= 1 %></td>
		 <td><%= number_with_delimiter(item.l, delimiter: " ") %></td>									
		 <td><%= number_with_delimiter(item.r, delimiter: " ") %></td>
		 <td><%= number_with_delimiter(item.ro, delimiter: " ") %></td>
		 <td><%= number_with_delimiter(item.k_scr, delimiter: " ") %></td>
		 <td><%= number_with_delimiter(item.k_tr, delimiter: " ") %></td>
		 <td><%= number_with_delimiter(item.k_peb, delimiter: " ") %></td>
		 <td><%= number_with_delimiter(item.k_f, delimiter: " ") %></td>
		 <td><%= item.mark %></td>
		 <td><%= item.q %></td>
		 <td><%= item.unom %></td>
      </tr>
    <% end %>
   <% end %> 
   </tbody>
</table>     	
</small>
	
<h4 align="center">Потери в ВЛ</h4>
<small>
<table class="table table-striped table-condensed  table-hover">	
  <thead>
    <tr class="success">
      <th>Нагрузочные, kWh</th>
      <th>На корону, kWh</th>      
      <th>Суммарные, kWh</th>
    </tr>  
  </thead>
  <tbody>
    <tr>
      <td><%= @losses[:ln_losses_ng_formula] %> = <strong><%= number_with_delimiter(@losses[:ln_losses_ng], delimiter: " ") %></strong></td>
      <td><%= number_with_delimiter(@losses[:ln_losses_kr], delimiter: " ") %></td>
      <td><strong><%= number_with_delimiter(@losses[:ln_losses], delimiter: " ") %></strong></td>
    </tr>
  </tbody>
</table>
</small>

<h4 align="center">Технологический расход</h4>
<small>
<table class="table table-striped table-condensed  table-hover">	
  <thead>
    <tr class="success">
      <th>Энергия активная с потерями, kWh</th>
      <th>Энергия реактивная с потерями, kVAh</th>      
      <th>cos φ</th>
      <th>Wrio</th>
      <th>Wrif</th>
      <th>CTi</th>
      <th>CTc</th>
      <th>CT</th>      
    </tr>  
  </thead>
  <tbody>
    <tr>
      <td><%= @losses[:wal_formula] %> = <strong><%= number_with_delimiter(@losses[:wal], delimiter: " ") %></strong></td>
      <td><%= @losses[:wrl_formula] %> = <strong><%= number_with_delimiter(@losses[:wrl], delimiter: " ") %></strong></td>
      <td><%= @losses[:cosf_formula] %> = <strong><%= number_with_delimiter(@losses[:cosf], delimiter: " ") %></strong></td>
      <td><%= @losses[:wrio_formula] %> = <strong><%= number_with_delimiter(@losses[:wrio], delimiter: " ") %></strong></td>
      <td><%= @losses[:wrif_formula] %> = <strong><%= number_with_delimiter(@losses[:wrif], delimiter: " ") %></strong></td>
      <td><%= @losses[:consumtehi_formula] %> = <strong><%= number_with_delimiter(@losses[:consumtehi], delimiter: " ") %></strong></td>
      <td><%= @losses[:consumtehc_formula] %> = <strong><%= number_with_delimiter(@losses[:consumtehc], delimiter: " ") %></strong></td>
      <td><strong><%= number_with_delimiter(@losses[:consumteh], delimiter: " ") %></strong></td>
    </tr>
  </tbody>
</table>
</small>
