<% provide(:title, 'Расчет') %>

<nav class="navbar">
  <ul class="nav nav-pills pull-left">
    <li><%= link_to "Назад", companies_path(:id => @flr.id, :cp_id => @id), :class => "glyphicon glyphicon-level-up" %></li>
    <li><%= link_to "#{image_tag('Excel-icon.png', :alt => "XLSX", :width => "25", :height => "25")}".html_safe, companies_report_path(:cp_id => @id,:month_for_report => @ddate.to_formatted_s(:year_month),format: "xlsx") %></li>
    <li><%= link_to image_tag('Apps-Pdf-B-icon.png', :alt => "PDF", :width => "25", :height => "25"), companies_report_path(:cp_id => @id,:month_for_report => @ddate.to_formatted_s(:year_month),format: "pdf") %></li>
    <li><%= form_tag companies_report_path(:cp_id => @id) do %>
    	        <%= month_field_tag :month_for_report,@ddate.to_formatted_s(:year_month) %>
                <%= image_submit_tag("vjuh-recalc.png",class: 'submit_button',:alt => "Пересчет", :width => 80, :height => 60) %>
                <% end %></li>                   
  </ul>  
</nav>

<ul class="breadcrumb">
  <li><%= if (@fpr > 5) 
  	         then link_to "Поставщики", welcome_index_path, :class => "glyphicon glyphicon-home"
  	         else link_to "Филиалы", welcome_index_path, :class => "glyphicon glyphicon-home" end %></li>	
  <li><%= if (@fpr > 5) 
  	         then link_to "Поставщик: #{@cp.furnizor.name}", companies_path(:id => @cp.furnizor_id), :class => "glyphicon glyphicon-piggy-bank"
  	         else link_to "Филиал: #{@cp.filial.name}", companies_path(:id => @cp.filial_id), :class => "glyphicon glyphicon-tower" end %></li>
  <li><%= link_to "Потребитель: #{@mp.company.name}", company_path(@mp.company.id), :class => "glyphicon glyphicon-lamp" %></li>
  <li class="active"><span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true"></span><strong><%= "Точка учета: #{@mp.messtation} / #{@mp.clsstation}, #{@mp.meconname} / #{@mp.clconname}" %></strong></li>
</ul>
	
<% @lista_title.each do |t| %>
	<h4 align="center"><%= t %></h4>  
<% end %>

<%= "Denumirea furnizorului:  #{@cp.furnizor.name}" %></br>
<%= "Denumirea filialei:  #{@cp.filial.name}" %></br>
<%= "Denumirea consumatorului:  #{@cp.name}" %></br></br>

<%= @energies.inspect %>

<h4 align="center">Показания</h4> 

<small>
<table class="table table-striped table-condensed  table-hover">	
  <thead>
    <tr class="success">
      <th>Nr счетчика</th>
      <th>Тип данных</th>    
      <th>Данные текущие</th>
      <th>Данные предыдущие</th>
      <th>Разница</th>
      <th>Коэффициент</th>  
      <th>Энергия, kWh</th> 
    </tr>  
  </thead>
  <tbody>
    <% @indicii.each do |item| %>
      <tr>
      	 <td><%= item[:meternum] %></td>
      	 <td>Дата съема</td>
      	 <td><%= item[:date1] %></td>
      	 <td><%= item[:date0] %></td>
      	 <td><%= item[:dt] %>, дни</td>
      	 <td></td>
      	 <td></td>
      </tr>
      <tr>
      	 <td></td>
      	 <td>1.8.0</td>
      	 <td><%= item[:ind1_180] %></td>
      	 <td><%= item[:ind0_180] %></td>
      	 <td><%= item[:dind_180] %></td>
      	 <td><%= item[:koef] %></td>
      	 <td><%= item[:enrg_180] %></td>
      </tr>
      <tr>
      	 <td></td>
      	 <td>2.8.0</td>
      	 <td><%= item[:ind1_280] %></td>
      	 <td><%= item[:ind0_280] %></td>
      	 <td><%= item[:dind_280] %></td>
      	 <td><%= item[:koef] %></td>
      	 <td><%= item[:enrg_280] %></td>
      </tr>
      <tr>
      	 <td></td>
      	 <td>3.8.0</td>
      	 <td><%= item[:ind1_380] %></td>
      	 <td><%= item[:ind0_380] %></td>
      	 <td><%= item[:dind_380] %></td>
      	 <td><%= item[:koef] %></td>
      	 <td><%= item[:enrg_380] %></td>
      </tr>
      <tr>
      	 <td></td>
      	 <td>4.8.0</td>
      	 <td><%= item[:ind1_480] %></td>
      	 <td><%= item[:ind0_480] %></td>
      	 <td><%= item[:dind_480] %></td>
      	 <td><%= item[:koef] %></td>
      	 <td><%= item[:enrg_480] %></td>
      </tr>      
    <% end %>
  </tbody>
</table>
</small>

<h4 align="center">Энергии</h4>

<small>
<table class="table table-striped table-condensed  table-hover">	
  <thead>
    <tr class="success">
      <th>Tраб, часы</th>
      <th>Энергия 1.8.0, kWh</th>      
      <th>Энергия 2.8.0, kWh</th>
      <th>Энергия 3.8.0, kWh</th>
      <th>Энергия 4.8.0, kWh</th> 
    </tr>  
  </thead>
  <tbody>
    <tr>
      <td><%= @energies[:workt] %></td>
      <td><%= @energies[:wa] %></td>
      <td><%= @energies[:waliv] %></td>
      <td><%= @energies[:wri] %></td>
      <td><%= @energies[:wrc] %></td>
    </tr>
  </tbody>
</table>
</small>

<small>
<table class="table table-striped table-condensed  table-hover">	
  <thead>
    <tr class="success">
      <th>Nr</th>
      <th>RRE,SE si liniilor</th>      
      <th>Punctul de evidenta</th>
      <th></th>
      <th>N contor.</th>
      <th><%= "Indicatii \n #{@luna_e}" %></th>
      <th><%= "Indicatii \n #{@luna_b}" %></th> 
      <th>Diferenta indicat.</th>
      <th>Coeficient contor.</th>
      <th>Energie, kWh</th> 
    </tr>  
    <tr class="info">
      <th>1</th>
      <th>2</th>      
      <th>3a</th>
      <th>3b</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th> 
      <th>8</th>
      <th>9</th> 
    </tr>
  </thead>
  <tbody>
    <% @report.each do |item| %>
      <% color = item.last %>
      <% item.pop %>
      <% if color.nil? %>
      <tr>
      <% else %> 	
      <tr class=<%= case color when 1 then "danger"
      	                       when 2 then "warning" 
      	                       when 3 then "info" 
      	                       else "success" end %>>     
      <% end %>	
      	<% item.each do |x| %>
      	   <td><%= x %></td>
      	<% end %> 
      </tr>
    <% end %>
  </tbody>
</table>
</small>

