<% provide(:title, 'Расчет') %>

<nav class="navbar">
  <ul class="nav nav-pills pull-left">
    <li><%= link_to "Назад", company_path(@mp.company_id, :flr_id => if @fpr < 6  then @mp.mesubstation.filial else @mp.furnizor end), :class => "glyphicon glyphicon-level-up" %></li>
 <!--  <li><%= link_to "#{image_tag('Excel-icon.png', :alt => "XLSX", :width => "25", :height => "25")}".html_safe, companies_report_path(:flr_id => @flr.id,:cp_id => @mp.company_id,:month_for_report => @ddate.to_formatted_s(:year_month),format: "xlsx") %></li>
    <li><%= link_to image_tag('Apps-Pdf-B-icon.png', :alt => "PDF", :width => "25", :height => "25"), companies_report_path(:flr_id => @flr.id,:cp_id => @mp.company_id,:month_for_report => @ddate.to_formatted_s(:year_month),format: "pdf") %></li> --> 
    <li><%= form_tag companies_onempreport_path(:id => @flr.id, :mp_id => @mp.id, :page => @page) do %>
    	        <%= month_field_tag :month_for_report,@ddate.to_formatted_s(:year_month) %>
                <%= image_submit_tag("vjuh-recalc.png",class: 'submit_button',:alt => "Пересчет", :width => 50, :height => 40) %> 
                <%= button_tag "Пересчет", type: "submit", name: "ok", value: true, class: "btn btn-default glyphicon glyphicon-refresh" %>
                <% end %></li>                   
  </ul>  
</nav>

<%= @condates.inspect %></br>

<ul class="breadcrumb">
  <li><%= if (@fpr > 5) 
  	         then link_to "Поставщики", welcome_index_path, :class => "glyphicon glyphicon-home"
  	         else link_to "Филиалы", welcome_index_path, :class => "glyphicon glyphicon-home" end %></li>	
  <li><%= if (@fpr > 5) 
  	         then link_to(if @mp.furnizor.name.upcase.include?("FEE") then "Поставщик: #{@mp.furnizor.name} #{image_tag('fee.png', :size => 25)}".html_safe
  	                      elsif @mp.furnizor.name.upcase.include?("FENOSA") then "Поставщик: #{@mp.furnizor.name} #{image_tag('fenosa.png', :size => 25)}".html_safe
  	                      else "Поставщик: #{@mp.furnizor.name}" end, companies_path(:cp_id => @mp.company, :id => @mp.furnizor), :class => "glyphicon glyphicon-piggy-bank")
  	         else link_to "Филиал: #{@flr.name}", companies_path(:id => @flr.id, :cp_id => @mp.company), :class => "glyphicon glyphicon-tower" end %></li>
  <li><%= link_to "Потребитель: #{@mp.company.name}", company_path(@mp.company, :flr_id => if (@fpr > 5) then @mp.furnizor else @mp.mesubstation.filial end), :class => "glyphicon glyphicon-lamp" %></li>
  <li class="active"><span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true"></span><strong><%= "Точка учета: #{@mp.name}, #{@mp.mesubstation.name}, #{@mp.meconname}" %></strong></li>
</ul>
	
<% @lista_title.each do |t| %>
	<h4 align="center"><%= t %></h4>  
<% end %>

<%= "Denumirea furnizorului:  #{@mp.furnizor.name}" %></br>

<h4 align="center">Показания в том виде, как были введены в БД</h4> 
<small>
<table class="table table-striped table-condensed  table-hover">	
  <thead>
    <tr>
      <th class="warning">Nr счетчика</th>
      <th class="warning">Тип данных</th>    
      <th class="warning">Данные текущие</th>
      <th class="warning">Данные предыдущие</th>
      <th class="success">Разница</th>
      <th class="warning">Коэффициент</th>  
      <th class="success">Энергия, kWh</th> 
    </tr>  
  </thead>
  <tbody>
  	<% unless @indicii.nil? then%>
    <% @indicii.each do |item| %>
      <tr>
      	 <td><%= number_with_delimiter(item[:meternum], delimiter: " ") %></td>
      	 <td>Дата съема</td>
      	 <td><%= item[:date1] %></td>
      	 <td><%= item[:date0] %></td>
      	 <td><strong><%= number_with_delimiter(item[:dt], delimiter: " ") %>, дни</strong></td>
      	 <td></td>
      	 <td></td>
      </tr>
      <tr>
      	 <td></td>
      	 <td>Активный прием</td>
      	 <td><%= number_with_precision(item[:ind1_180], precision: 4, delimiter: " ") %></td>
      	 <td><%= number_with_precision(item[:ind0_180], precision: 4, delimiter: " ") %></td>
      	 <td><%= number_with_delimiter(item[:dind_180], delimiter: " ") %></td>
      	 <td><%= number_with_delimiter(item[:koef], delimiter: " ") %></td>
      	 <td><strong><%= number_with_delimiter(item[:enrg_180], delimiter: " ") %></strong></td>
      </tr>
      <tr>
      	 <td></td>
      	 <td>Активная отдача</td>
      	 <td><%= number_with_precision(item[:ind1_280], precision: 4, delimiter: " ") %></td>
      	 <td><%= number_with_precision(item[:ind0_280], precision: 4, delimiter: " ") %></td>
      	 <td><%= number_with_delimiter(item[:dind_280], delimiter: " ") %></td>
      	 <td><%= number_with_delimiter(item[:koef], delimiter: " ") %></td>
      	 <td><strong><%= number_with_delimiter(item[:enrg_280], delimiter: " ") %></strong></td>
      </tr>
      <tr>
      	 <td></td>
      	 <td>Реактивный прием</td>
      	 <td><%= number_with_precision(item[:ind1_380], precision: 4, delimiter: " ") %></td>
      	 <td><%= number_with_precision(item[:ind0_380], precision: 4, delimiter: " ") %></td>
      	 <td><%= number_with_delimiter(item[:dind_380], delimiter: " ") %></td>
      	 <td><%= number_with_delimiter(item[:koef], delimiter: " ") %></td>
      	 <td><strong><%= number_with_delimiter(item[:enrg_380], delimiter: " ") %></strong></td>
      </tr>
      <tr>
      	 <td></td>
      	 <td>Реактивная отдача</td>
      	 <td><%= number_with_precision(item[:ind1_480], precision: 4, delimiter: " ") %></td>
      	 <td><%= number_with_precision(item[:ind0_480], precision: 4, delimiter: " ") %></td>
      	 <td><%= number_with_delimiter(item[:dind_480], delimiter: " ") %></td>
      	 <td><%= number_with_delimiter(item[:koef], delimiter: " ") %></td>
      	 <td><strong><%= number_with_delimiter(item[:enrg_480], delimiter: " ") %></strong></td>
      </tr>
      <tr>
      	 <td></td>
      	 <td>Время работы электроустановки, часы</td>
      	 <td><%= number_with_delimiter(item[:trab], delimiter: " ") %></td>
      	 <td></td>
      	 <td></td>
      	 <td></td>
      	 <td></td>
      </tr>
      <tr>
      	 <td></td>
      	 <td>Потребление субабонента, kWh</td>
      	 <td><%= number_with_delimiter(item[:dwa], delimiter: " ") %></td>
      	 <td></td>
      	 <td></td>
      	 <td></td>
      	 <td></td>
      </tr>
      <tr>
      	 <td></td>
      	 <td>Недоучет, kWh</td>
      	 <td><%= number_with_delimiter(item[:undercount], delimiter: " ") %></td>
      	 <td></td>
      	 <td></td>
      	 <td></td>
      	 <td></td>
      </tr>      
      <tr>
      	 <td></td>
      	 <td>Учет А- (не аннулировать отдачу)</td>
      	 <td><% if item[:fanulare] then %><span class="glyphicon glyphicon-flash" aria-hidden="true"></span><% end %></td>
      	 <td></td>
      	 <td></td>
      	 <td></td>
      	 <td></td>
      </tr>      
    <% end %>
    <% end %>
  </tbody>
</table>
</small>

<h4 align="center">Дополнительные параметры</h4>
<small>
<table class="table table-striped table-condensed  table-hover">	
  <thead>
    <tr class="success">
      <th class="warning">Класс напряжения, кВ</th>
      <th class="warning" title="Особенности расчета тех расхода" class="warning">Тех. расход</th>
	  <th class="warning" title="Не считать потери хх в трансформаторе">Наш тр-р</th>
	  <th class="warning" title="Обратное включение счетчика">Обр.сч.</th>
	  <th class="warning" title="Граница раздела и точка учета не совпадают">Граница</br>раздела</th> 
      <th class="warning">Время работы<br> электроустановки, часы</th>
      <th class="warning">cos φ контрактный</th>
      <th>tg φ контрактный</th>   
      <th>Tраб, часы</th>	
      <th>cos φ расчетный</th>
    </tr>  
  </thead>
  <tbody>
    <tr>
      <td><strong><%= @mp.voltcl %></strong></td>
      <td ><% if @mp.fct then %><%= image_tag('faract.png', :alt => "без СТ", :width => 30, :height => 20, :title => "Не считать тех расход") %><% end %>
           <% if @mp.fctc then %><%= image_tag('c.png', :alt => "без СТ емк", :width => 30, :height => 20, :title => "Не считать емкостной тех расход") %><% end %>
	       <% if @mp.fctl then %><%= image_tag('l1.png', :alt => "без СТ инд", :width => 30, :height => 20, :title => "Не считать индуктивный тех расход") %><% end %></td>
	  <td title="Не считать потери хх в трансформаторе"><% if @mp.four then %><span class="glyphicon glyphicon-flag" aria-hidden="true"></span><% end %></td>
  	  <td title="Обратное включение счетчика"><% if @mp.fturn then %><span class="glyphicon glyphicon-random" aria-hidden="true"></span><% end %></td>
  	  <td title="Граница раздела и точка учета не совпадают"><% if @mp.fmargin then %><span class="glyphicon glyphicon-adjust" aria-hidden="true"></span><% end %></td>      	
      <td><strong><%= number_with_delimiter(@energies[:trab], delimiter: " ") %></strong></td>	
      <td><strong><%= number_with_delimiter(@energies[:cosfi_contract], delimiter: " ") %></strong></td>
      <td><%= @energies[:tgfi_contract_formula] %><strong><%= number_with_delimiter(@energies[:tgfi_contract], delimiter: " ") %></strong></td>
      <td><%= @energies[:workt_formula] %><strong><%= number_with_delimiter(@energies[:workt], delimiter: " ") %></strong></td>	
      <td><%= @losses[:cosfi_formula] %><strong><%= number_with_delimiter(@losses[:cosfi], delimiter: " ") %></strong></td>      
    </tr>
  </tbody>
</table>
</small>

<h4 align="center">Энергии</h4>
<small>
<table class="table table-striped table-condensed  table-hover">	
  <thead>
    <tr class="success">
      <th style="width:350px; max-width:350px;">Параметр</th>
      <th style="width:100px; max-width:200px;">Значение</th>      
      <th>Расчет</th>    	
    </tr>  
  </thead>
  <tbody>
    <tr>
      <td>Энергия Wa+, kWh</td>	
      <td><strong><%= number_with_delimiter(@energies[:wa], delimiter: " ") %></strong></td>
      <td><%= @energies[:wa_formula] %></td>
    </tr>  	
    <tr>
      <td>Энергия Wa-, kWh</td>	
      <td><strong><%= number_with_delimiter(@energies[:waliv], delimiter: " ") %></strong></td>
      <td><%= @energies[:waliv_formula] %></td>
    </tr>
    <tr>
      <td>Энергия Wri, kVAh</td>
      <td><strong><%= number_with_delimiter(@energies[:wri], delimiter: " ") %></strong></td>
      <td><%= @energies[:wri_formula] %></td>
    </tr>
    <tr>      
      <td>Энергия Wrc, kVAh</td>
      <td><strong><%= number_with_delimiter(@energies[:wrc], delimiter: " ") %></strong></td>
      <td><%= @energies[:wrc_formula] %></td>
    </tr>
    <tr>      
      <td>Энергия Wr=Wri+Wrc, kVAh</td>
      <td><strong><%= number_with_delimiter(if @energies[:wr] then @energies[:wr].round(2) end, delimiter: " ") %></strong></td>
      <td><%= @energies[:wr_formula] %></td>
    </tr>
    <tr>      
      <td>Потребление субабонента, kWh</td>
      <td><strong><%= number_with_delimiter(@energies[:wasub], delimiter: " ") %></strong></td>
      <td></td>
    </tr>
    <tr>      
      <td>Недоучет, kWh</td>
      <td><strong><%= number_with_delimiter(@energies[:undercount], delimiter: " ") %></strong></td>
      <td></td>
    </tr>
    <tr>      
      <td>Wa+ за вычетом потребления субабонента, Wa, kWh</td>
      <td><strong><%= number_with_delimiter(@energies[:wa_without_wasub], delimiter: " ") %></strong></td>
      <td><%= @energies[:wa_without_wasub_formula] %></td>
    </tr>
    <tr>      
      <td>Wa с недоучетом, kWh</td>
      <td><strong><%= number_with_delimiter(@energies[:wa_without_wasub_with_undercount], delimiter: " ") %></strong></td>
      <td><%= @energies[:wa_without_wasub_with_undercount_formula] %></td>
    </tr>    
  </tbody>
</table>
</small>

<h4 align="center">Транcформаторы <%= image_tag('tr-r.png', :alt => "Транcформаторы", :width => 40, :height => 30) %><% if @trp.empty? then %> - трансформаторов нет<% end %></h4>
<% unless @trp.empty? then %>
<small> 
<table class="table table-striped table-condensed  table-hover">	
    <thead>
        <tr class="info">
      	   <th>Nr</th>
		   <th>Тип</th>
		   <th>Uном, кВ</th>
		   <th>Sном, кВА</th>
		   <th>Uкз, %</th>
		   <th>Ркз, кВт</th>
		   <th>Рхх, кВт</th>
		   <th>I0, %</th>
		   <th>Qкз, квар</th>
    	</tr>  
   </thead>
   <tbody>
   <% unless @trp.nil? then %>
      <% j = 0 %>
      <% @trp.each do |item| %>
	  <tr>
      	 <td><%= j+= 1 %></td>
		 <td><%= item.mark %></td>
		 <td><%= number_with_delimiter(item.unom, delimiter: " ") %></td>
		 <td><%= number_with_delimiter(item.snom, delimiter: " ") %></td>
		 <td><%= number_with_delimiter(item.ukz, delimiter: " ") %></td>
		 <td><%= number_with_delimiter(item.pkz, delimiter: " ") %></td>
		 <td><%= number_with_delimiter(item.pxx, delimiter: " ") %></td>
		 <td><%= number_with_delimiter(item.io, delimiter: " ") %></td>
		 <td><%= number_with_delimiter(item.qkz, delimiter: " ") %></td>
      </tr>
    <% end %>
   <% end %> 
   </tbody>
</table>     	
</small>

<small>
<table class="table table-striped table-condensed  table-hover">	
  <thead>
    <tr class="success">
      <th>ζ</th>      
      <th>Tm</th>
      <th>cos φ</th>
      <th>Sном, кВА</th>
      <th>Wi, кBт*ч</th>
      <th>Wi*0,9, кВт*ч</th>
      <th>Wa, кВт*ч</th>
    </tr>  
  </thead>
  <tbody>
  	<% unless @ttaus.nil? then %>
  	<% @ttaus.each do |item| %>
    <tr>
      <td><%= item[:tau] %></td>
      <td><%= item[:tm] %></td>
      <td><%= number_with_delimiter(item[:cosfi], delimiter: " ") %></td>
      <td><%= number_with_delimiter(item[:snom], delimiter: " ") %></td>
      <td><%= item[:wi_formula] %><strong><%= number_with_delimiter(item[:wi], delimiter: " ") %></strong></td>      
      <td><%= item[:wi09_formula] %><strong><%= number_with_delimiter(item[:wi09], delimiter: " ") %></strong></td>
      <td><%= number_with_delimiter(item[:wa], delimiter: " ") %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</small>
<% end %>

<h4 align="center">Потери в трансформаторах</h4>
<small>
<table class="table table-striped table-condensed  table-hover">	
  <thead>
    <tr class="success">
      <th style="width:150px; max-width:150px;">Параметр</th>
      <th style="width:100px; max-width:200px;">Значение</th>      
      <th>Расчет</th> 
    </tr>  
  </thead>
  <tbody>
    <tr>
      <td>Pxx, kWh</td>
      <td><strong><%= number_with_delimiter(@losses[:tr_losses_pxx], delimiter: " ") %></strong></td>    	
      <td><%= @losses[:tr_losses_pxx_formula] %></td>
    </tr>
    <tr>
      <td>Pкз, kWh</td>
      <td><strong><%= number_with_delimiter(@losses[:tr_losses_pkz], delimiter: " ") %></strong></td>
      <td><%= @losses[:tr_losses_pkz_formula] %></td>
    </tr>
    <tr>
      <td>Rxx, kVAh</td>	      
      <td><strong><%= number_with_delimiter(@losses[:tr_losses_rxx], delimiter: " ") %></strong></td>
      <td><%= @losses[:tr_losses_rxx_formula] %></td>
    </tr>
    <tr>
      <td>Rкз, kVAh</td>
      <td><strong><%= number_with_delimiter(@losses[:tr_losses_rkz], delimiter: " ") %></strong></td>	      
      <td><%= @losses[:tr_losses_rkz_formula] %></td>
    </tr>
    <tr>
      <td>Pсум расчет, kWh</td>
      <td><strong><%= number_with_delimiter(@losses[:calculated_tr_losses_p], delimiter: " ") %></strong></td>	      
      <td><%= @losses[:tr_losses_p_formula] %></td>
    </tr>
    <tr>
      <td>Pсум руч ввод, kWh</td>
      <td><strong><%= number_with_delimiter(@energies[:minput_tplosses], delimiter: " ") %></strong></td>	      
      <td></td>
    </tr>
    <tr>
      <td>Итого Pсум, kWh</td>
      <td><strong><%= number_with_delimiter(@losses[:tr_losses_p], delimiter: " ") %></strong></td>	      
      <td></td>
    </tr>
    <tr>
      <td>Rсум расчет, kVAh</td> 	      
      <td><strong><%= number_with_delimiter(@losses[:calculated_tr_losses_r], delimiter: " ") %></strong></td>
      <td><%= @losses[:tr_losses_r_formula] %></td>
    </tr>
    <tr>
      <td>Rсум руч ввод, kVAh</td> 	      
      <td><strong><%= number_with_delimiter(@energies[:minput_trlosses], delimiter: " ") %></strong></td>
      <td></td>
    </tr>
    <tr>
      <td>Итого Rсум, kVAh</td> 	      
      <td><strong><%= number_with_delimiter(@losses[:tr_losses_r], delimiter: " ") %></strong></td>
      <td></td>
    </tr>        
  </tbody>
</table>
</small>

<h4 align="center">Линии <%= image_tag('lep.png', :alt => "Линии", :width => 40, :height => 30) %></h4><% if @lnp.empty? then %> - линий нет<% end %></h4>
<% unless @lnp.empty? then %> 
<small>
<table class="table table-striped table-condensed  table-hover">	
    <thead>
        <tr class="info">
      	   <th>ID</th>
      	   <th>Наименование</th>
		   <th title="Длина линии">L, км</th>
		   <th title="Сопротивление линии">R, Ом</th>
		   <th title="Удельное cопротивление материала">ρ20, Ом*мм&sup2;/м</th>
		   <th title="Коэффициент скрутки">Kr</th>
		   <th title="Коэффициент трассы">Kr</th>
		   <th title="Коэффициент пов. эффекта и близости">Kc</th>
		   <th title="Коэффициент формы">Кф</th>
		   <th title="Сечение провода">q, мм&sup2</th>
		   <th title="Марка провода">Провод</th>
		   <th>Uном, кВ</th>
		   <th title="Кол-во точек учета, которым принадлежит линия"><span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true"></span></th>
		   <th>ПСТ1</th>
		   <th>ПСТ2</th>
		   <th>Дата</th>
		   <th>Комментарий при подключении</th>
		   <th>Комментарий при линии</th>
    	</tr>  
   </thead>
   <tbody>
   <% unless @lnp.nil? then %>
      <% @lnp.each do |item| %>
	  <tr>
      	 <td><%= item.line.id %></td>
      	 <td><%= item.line.name %></td>
		 <td title="Длина линии"><%= number_with_delimiter(item.l, delimiter: " ") %></td>									
		 <td title="Сопротивление линии"><%= number_with_delimiter(item.r, delimiter: " ") %></td>
		 <td title="Сопротивление материала"><%= if item.l!=0 then number_with_delimiter(item.ro, delimiter: " ") end %></td>
		 <td title="Коэффициент скрутки"><%= if item.l!=0 then number_with_delimiter(item.k_scr, delimiter: " ") end %></td>
		 <td title="Коэффициент трассы"><%= if item.l!=0 then number_with_delimiter(item.k_tr, delimiter: " ") end %></td>
		 <td title="Коэффициент пов. эффекта и близости"><%= if item.l!=0 then number_with_delimiter(item.k_peb, delimiter: " ") end %></td>
		 <td title="Коэффициент формы"><%= if item.l!=0 then number_with_delimiter(item.k_f, delimiter: " ") end %></td>
		 <td title="Сечение провода"><%= if item.l!=0 then item.q end %></td>
		 <td title="Марка провода"><%= if item.l!=0 then item.mark end %></td>
		 <td><%= item.unom %></td>
		 <td title="Кол-во точек учета, которым принадлежит линия"><%= Vmpointslnparam.select(:id).distinct.where("line_id = ?", item.line_id).count %></td>
		 <td title="<%= item.mesubstation_name %>"><%= item.mesubstation_id %></td>
		 <td title="<%= item.mesubstation2_name %>"><%= item.mesubstation2_id %></td>
		 <td><%= if item.condate then item.condate.strftime("%d.%m.%Y_%H:%M") end %></br><%= if item.condate_end then item.condate_end.strftime("%d.%m.%Y_%H:%M") end %></td>
		 <td><%= item.comment %></td>
		 <td><%= item.line.comment %></td>
      </tr>
    <% end %>
   <% end %> 
   </tbody>
</table>     	
</small>
<% end %>
	
<h4 align="center">Потери в ВЛ</h4>
<small>
<table class="table table-striped table-condensed  table-hover">	
  <thead>
    <tr class="success">
      <th style="width:180px; max-width:180px;">Параметр</th>
      <th style="width:100px; max-width:200px;">Значение</th>      
      <th>Расчет</th>    	
    </tr>  
  </thead>
  <tbody>
    <tr>
      <td>Отпаечные, kWh</td>	
      <td><strong><%= number_with_delimiter(@losses[:otpaika_losses], delimiter: " ") %></strong></td>
      <td><% if @losses[:otpaika_losses_formula] then %>
      	  <% @losses[:otpaika_losses_formula].each do |f| %>
      	  с <%= f[0].strftime("%d.%m.%Y_%H:%M") %> по <%= f[1].strftime("%d.%m.%Y_%H:%M") %> <%= f[3] %> часов:</br>
      	  <%= f[2] %></br>
      	  <% end  %>
      	  <% end  %></td>
    </tr>  	
    <tr>
      <td>Нагрузочные, kWh</td>	
      <td><strong><%= number_with_delimiter(@losses[:ln_losses_ng], delimiter: " ") %></strong></td>
      <td><% if @losses[:ln_losses_ng_formula] then %>
      	  <% @losses[:ln_losses_ng_formula].each do |f| %>
      	  с <%= f[0].strftime("%d.%m.%Y_%H:%M") %> по <%= f[1].strftime("%d.%m.%Y_%H:%M") %> <%= f[3] %> часов:</br>
      	  <%= f[2] %></br>
      	  <% end  %>
      	  <% end  %></td>
    </tr>
    <tr>
      <td>На корону, kWh</td>
      <td><%= number_with_delimiter(@losses[:ln_losses_kr], delimiter: " ") %></td>
      <td></td>
    </tr>
    <tr>      
      <td>Суммарные расчетные, kWh</td>
      <td><strong><%= number_with_delimiter(@losses[:calculated_ln_losses], delimiter: " ") %></strong></td>
      <td><%= @losses[:ln_losses_formula] %></td>
    </tr>
    <tr>      
      <td>Суммарные ручной ввод, kWh</td>
      <td><strong><%= number_with_delimiter(@energies[:minput_llosses], delimiter: " ") %></strong></td>
      <td></td>
    </tr>
    <tr>      
      <td>Итого суммарные, kWh</td>
      <td><strong><%= number_with_delimiter(@losses[:ln_losses], delimiter: " ") %></strong></td>
      <td></td>
    </tr>
  </tbody>
</table>
</small>


<h4 align="center">Технологический расход</h4>
<small>
<table class="table table-striped table-condensed  table-hover">	
  <thead>
    <tr class="success">
      <th style="width:150px; max-width:150px;">Параметр</th>
      <th style="width:100px; max-width:200px;">Значение</th>      
      <th>Расчет</th>     	 
    </tr>  
  </thead>
  <tbody>
    <tr>
      <td>Wa с потерями, kWh</td>	
      <td><%= number_with_delimiter(@losses[:wal], delimiter: " ") %></td>
      <td><%= @losses[:wal_formula] %></td>
    </tr>
    <tr>
      <td>Wr с потерями, kVAh</td>	
      <td><%= number_with_delimiter(@losses[:wrl], delimiter: " ") %></td>
      <td><%= @losses[:wrl_formula] %></td>
    </tr>
    <tr>
      <td>cos φ расч</td>	
      <td><%= number_with_delimiter(@losses[:cosf], delimiter: " ") %></td>
      <td><%= @losses[:cosf_formula] %></td>
    </tr>
    <tr>
      <td>cos φ конст.</td>	
      <td><%= number_with_delimiter(@losses[:cosficonst], delimiter: " ") %></td>
      <td></td>
    </tr>
    <tr>
      <td>tg φ конст.</td>	
      <td><%= number_with_delimiter(@losses[:tgficonst], delimiter: " ") %></td>
      <td></td>
    </tr> 
    <tr>
      <td>Wrio</td>	
      <td><%= number_with_delimiter(@losses[:wrio], delimiter: " ") %></td>
      <td><%= @losses[:wrio_formula] %></td>
    </tr>
    <tr>
      <td>Wrif</td>	
      <td><%= number_with_delimiter(@losses[:wrif], delimiter: " ") %></td>
      <td><%= @losses[:wrif_formula] %></td>
    </tr>
    <tr>
      <td>Wrcf</td>	
      <td><%= number_with_delimiter(@losses[:wrcf], delimiter: " ") %></td>
      <td><%= @losses[:wrcf_formula] %></td>
    </tr>    
    <tr>
      <td>CTi расчет</td>	
      <td><strong><%= number_with_delimiter(@losses[:calculated_consumtehi], delimiter: " ") %></strong></td>
      <td><%= @losses[:consumtehi_formula] %></td>
    </tr>
    <tr>
      <td>CTi ручной ввод</td>	
      <td><strong><%= number_with_delimiter(@energies[:minput_cti], delimiter: " ") %></strong></td>
      <td></td>
    </tr>
    <tr>
      <td>Итого CTi</td>	
      <td><strong><%= number_with_delimiter(@losses[:consumtehi], delimiter: " ") %></strong></td>
      <td></td>
    </tr>
    <tr>
      <td>CTc расчет</td>	
      <td><strong><%= number_with_delimiter(@losses[:calculated_consumtehc], delimiter: " ") %></strong></td>
      <td><%= @losses[:consumtehc_formula] %></td>
    </tr>
    <tr>
      <td>CTc ручной ввод</td>	
      <td><strong><%= number_with_delimiter(@energies[:minput_ctc], delimiter: " ") %></strong></td>
      <td></td>
    </tr>    
    <tr>
      <td>Итого CTc</td>	
      <td><strong><%= number_with_delimiter(@losses[:consumtehc], delimiter: " ") %></strong></td>
      <td></td>
    </tr>        
    <tr>
      <td>Итого CT</td>	
      <td><strong><%= number_with_delimiter(@losses[:consumteh], delimiter: " ") %></strong></td>
      <td><%= @losses[:consumteh_formula] %></td>
    </tr>
  </tbody>
</table>
</small>

<% unless @trp.empty? then %>
<h4 align="center">ζ</h4>
<small>
<table class="table table-striped table-hover table-condensed table-sm">
	<thead>
		<tr>
		   <th colspan="1" width="5%" class="info">№</th>
		   <th colspan="1" width="5%" class="info">Tm, ч.</th>
		   <th colspan="1" width="5%" class="info">ζm, ч.</th>
		   <th colspan="1" width="85%" class="info"></th>
		</tr>	
	</thead>
	<tbody>					
			<% i = 0%>
			<% @tau.each do |item| %>
				<tr>		
					<% i = i + 1 %>		        
					<td><%= i  %></td>
					<td><%= item.tm %></td>									
					<td><%= item.taum %></td>
					<td></td>									
				</tr>
			<% end %>	  
	</tbody>
</table>
</small>
<% end %>
