<% provide(:title, 'Показания') %>

<nav class="navbar">
  <ul class="nav nav-pills pull-left">
    <li><%= link_to "Назад", companies_path(:id => @flr.id, :cp_id => @cp), :class => "glyphicon glyphicon-level-up" %></li>                  
  </ul>  
</nav>

<ul class="breadcrumb">
  <li><%= if (@fpr > 5) 
  	         then link_to "Поставщики", welcome_index_path, :class => "glyphicon glyphicon-home"
  	         else link_to "Филиалы", welcome_index_path, :class => "glyphicon glyphicon-home" end %></li>	
  <li><%= if (@fpr > 5) 
  	         then link_to "Поставщик: #{@flr.name}", companies_path(:id => @flr.id, :cp_id => @cp), :class => "glyphicon glyphicon-piggy-bank"
  	         else link_to "Филиал: #{@flr.name}", companies_path(:id => @flr.id, :cp_id => @cp), :class => "glyphicon glyphicon-tower" end %></li>
  <li class="active"><span class="glyphicon glyphicon-lamp" aria-hidden="true"></span><strong><%= "Потребитель: #{@cp.name}" %></strong></li>
</ul>

<h3 align="center">Транcформаторы <%= image_tag('tr-r.png', :alt => "Транcформаторы", :width => 40, :height => 30) %></h3> 

<small>
<% if @trp.count != 0 then %>
	<% x = nil %>
    <% i = j = 1 %>
    <% @trp.each do |item| %>
      <% if x != item.id then %>
        <% unless x.nil? then %>
          </tbody>
          </table>
        <% end %>
        <% x = item.id %>
        <h4><%= "#{i}. Точка учета: " + (item.cod.nil? ? '' : " #{item.cod}") + (item.name.nil? ? '' : " #{item.name}") + (item.mesubstation.nil? ? '' : " #{item.mesubstation}") +  (item.voltcl.to_s) + ' Î ' + item.meconname + ' F' %></h4>
        <% i += 1 %>
        <% j = 1 %>
        <table class="table table-striped table-condensed  table-hover">	
        <thead>
        <tr class="info">
      	   <th>ID</th>
		   <th>Тип</th>
		   <th>Uном, кВ</th>
		   <th>Номинальная мощность Sном, кВА</th>
		   <th>Uкз, %</th>
		   <th>Потери короткого замыкания Ркз, кВт</th>
		   <th>Потери холостого хода Рхх, кВт</th>
		   <th>I0, %</th>
		   <th>Qкз, квар</th>
		   <th>Комментарий</th>
      	   <th>Дата изменений</th> 
    	</tr>  
  		</thead>
  		<tbody>
      <% end %>
	   <% if item.updated_at > (Time.now.ago($GreenDelay)) %>
		 <tr class="success">
	   <% else %> 	
		 <tr>
	   <% end %>
      	 <td><%= item.tr_id %></td>
		 <td><%= item.mark %></td>
		 <td><%= item.unom %></td>
		 <td><%= item.snom %></td>
		 <td><%= item.ukz %></td>
		 <td><%= item.pkz %></td>
		 <td><%= item.pxx %></td>
		 <td><%= item.io %></td>
		 <td><%= item.qkz %></td>
		 <td><%= item.comment %></td>	
      	 <td><%= item.updated_at %></td>
      </tr>
      <% j += 1 %>
    <% end %>
    </tbody>
    </table>     	
<% end %>
</small>
			
<h3 align="center">Линии <%= image_tag('lep.png', :alt => "Линии", :width => 40, :height => 30) %></h3>

<small>
<% if @lnp.count != 0 then %>
	<% x = nil %>
    <% i = j = 1 %>
    <% @lnp.each do |item| %>
      <% if x != item.id then %>
        <% unless x.nil? then %>
          </tbody>
          </table>
        <% end %>
        <% x = item.id %>
        <h4><%= "#{i}. Точка учета: " + (item.cod.nil? ? '' : " #{item.cod}") + (item.name.nil? ? '' : " #{item.name}") + (item.mesubstation.nil? ? '' : " #{item.mesubstation}") +  (item.voltcl.to_s) + ' Î ' + item.meconname + ' F' %></h4>
        <% i += 1 %>
        <% j = 1 %>
        <table class="table table-striped table-condensed  table-hover">	
        <thead>
        <tr class="info">
      	   <th>ID</th>
      	   <th>Наименование</th>
		   <th title="Длина линии">L, км</th>
		   <th title="Сопротивление линии">R, Ом</th>
		   <th title="Удельное cопротивление материала">ρ20, Ом*мм&sup2;/м</th>
		   <th title="Коэффициент скрутки">Kr</th>
		   <th title="Коэффициент трассы">Ktr</th>
		   <th title="Коэффициент пов. эффекта и близости">Kc</th>
		   <th title="Коэффициент формы">Кф</th>
		   <th title="Сечение провода">q, мм&sup2</th>
		   <th title="Марка провода">Провод</th>
		   <th>Uном, кВ</th>
		   <th title="Кол-во точек учета, которым принадлежит линия"><span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true"></span></th>
		   <th>ПСТ1</th>
		   <th>ПСТ2</th>
		   <th>Дата</th>
		   <th>Комментарий при подключении</th>
    	</tr>  
  		</thead>
  		<tbody>
      <% end %>
	   <% if item.updated_at > (Time.now.ago($GreenDelay)) %>
		 <tr class="success">
	   <% else %> 	
		 <tr>
	   <% end %>
			      	<td><%= item.line_id %></td>
			      	<td><%= item.line_name %></td>
					<td title="Длина линии"><%= number_with_delimiter(item.l, delimiter: " ") %></td>									
					<td title="Сопротивление линии"><%= number_with_delimiter(item.r, delimiter: " ") %></td>
					<td title="Сопротивление материала"><%= if item.l!=0 then number_with_delimiter(item.ro, delimiter: " ") end %></td>
					<td title="Коэффициент скрутки"><%= if item.l!=0 then number_with_delimiter(item.k_scr, delimiter: " ") end %></td>
					<td title="Коэффициент трассы"><%= if item.l!=0 then number_with_delimiter(item.k_tr, delimiter: " ") end %></td>
					<td title="Коэффициент пов. эффекта и близости"><%= if item.l!=0 then number_with_delimiter(item.k_peb, delimiter: " ") end %></td>
					<td title="Коэффициент формы"><%= if item.l!=0 then number_with_delimiter(item.k_f, delimiter: " ") end %></td>
					<td title="Сечение провода"><%= if item.l!=0 then item.q end %></td>
					<td title="Марка провода"><%= if item.l!=0 then item.mark end %></td>
					<td><%= item.unom %></td>
					<td title="Кол-во точек учета, которым принадлежит линия"><%= Vmpointslnparam.select(:id).distinct.where("line_id = ?", item.line_id).count %></td>
					<td title="<%= item.mesubstation_name %>"><%= item.mesubstation_id %></td>
					<td title="<%= item.mesubstation2_name %>"><%= item.mesubstation2_id %></td>
					<td><%= if item.condate then item.condate.strftime("%d.%m.%Y_%H:%M") end %></br><%= if item.condate_end then item.condate_end.strftime("%d.%m.%Y_%H:%M") end %></td>
					<td><%= item.comment %></td>
      </tr>
      <% j += 1 %>
    <% end %>
    </tbody>
    </table>     	
<% end %>
</small>

<h3 align="center">ζ</h3>

<table class="table table-striped table-hover table-condensed table-sm">
	<thead>
		<tr class="info">
		   <th colspan="1" width="5%">№</th>
		   <th colspan="1" width="5%">Tm, ч.</th>
		   <th colspan="1" width="5%">ζm, ч.</th>
		   <th colspan="1" width="85%"></th>
		</tr>	
	</thead>
	<tbody>					
			<% i = 0%>
			<% @tau.each do |item| %>
				<tr>		
					<% i = i + 1 %>		        
					<td><%= i  %></td>
					<td><%= item.tm %></td>									
					<td><%= item.taum %></td>
					<td></td>									
				</tr>
			<% end %>	  
	</tbody>
</table>