<% provide(:title, 'Точки учета') %>
	           
<nav class="navbar">
  <ul class="nav nav-pills pull-left">
    <li><%= link_to "Назад", companies_path(:id => @flr.id), :class => "glyphicon glyphicon-level-up" %></li>
  </ul>  
</nav>

<ul class="breadcrumb">
  <li><%= if (@fpr > 5) 
  	         then link_to "Поставщики", welcome_index_path, :class => "glyphicon glyphicon-home"
  	         else link_to "Филиалы", welcome_index_path, :class => "glyphicon glyphicon-home" end %></li>	
  <li><%= if (@fpr > 5) 
  	         then link_to(if @flr.name.upcase.include?("FEE") then "Поставщик: #{@flr.name} #{image_tag('fee.png', :size => 25)}".html_safe
  	                      elsif @flr.name.upcase.include?("FENOSA") then "Поставщик: #{@flr.name} #{image_tag('fenosa.png', :size => 25)}".html_safe
  	                      else "Поставщик: #{@flr.name}" end, companies_path(:id => @flr.id), :class => "glyphicon glyphicon-piggy-bank")
  	         else link_to "Филиал: #{@flr.name}", companies_path(:id => @flr.id), :class => "glyphicon glyphicon-tower" end %>
  </li>  
  <li class="active"><span class="glyphicon glyphicon-lamp" aria-hidden="true"></span><strong><%= "Потребитель: #{@cp.name}" %></strong></li>
</ul>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class = "glyphicon glyphicon-wrench">
          <% if @flag=='edit' then %>Редактировать точку учета<% else %>Добавить точку учета<% end %>          
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse <%= if (@flag!='edit' && @flag!='add') then "collapse" end %>" role="tabpanel" aria-labelledby="headingOne">	
      <div class="panel-body">
		<h3 align="center"><% if @flag=='edit' then %>Редактирование точки учета<% else %>Ввод новой точки учета<% end %></h3>
		<%= form_for(@mpoint) do |f| %>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Код</th>
						<th>Наименование</th>
						<th>Поставщик</th>
		   				<th>Подстанция (подкл. потребитель)</th>
		   				<th>Присоединение (запитан потребитель)</th>
		   				<th>Объект установки учета</th>
		   				<th>Присоединение установки учета</th>
		   				<th>Класс напряжения, кВ</th>
		   				<th>Комментарий</th>
		   				<th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
					</tr>	
				</thead>
				<tbody>
	   				<tr>
	   					<td><%= number_field_tag 'cod', @mpoint.cod,  placeholder: "Код", min: 1, max: 1000000000, step: 1 %></td>
	   					<td><%= text_field_tag 'name', @mpoint.name, placeholder: "Точка учета..." %></td> 			
						<td><%= select_tag "furnizor_id", options_for_select( @furns, if !@mpoint.furnizor_id.nil? then @mpoint.furnizor_id else nil end ) %></td>
	   		            <td><%= select_tag 'mesubstation_id', options_for_select( @sstations, if !@mpoint.mesubstation_id.nil? then @mpoint.mesubstation_id else nil end), include_blank: false, prompt: "Select something" %></td> 	
						<td><%= text_field_tag 'meconname', @mpoint.meconname,  placeholder: "Присоединение (запитан потребитель)" %></td>
						<td><%= text_field_tag 'clsstation', @mpoint.clsstation, placeholder: "Объект установки учета" %></td>
						<td><%= text_field_tag 'clconname', @mpoint.clconname,  placeholder: "Присоединение установки учета" %></td>
						<td><%= number_field_tag 'voltcl', @mpoint.voltcl,  placeholder: "Класс напряжения", min: 0.1, max: 1000000, step: 0.1 %></td>
						<td><%= text_field_tag 'comment', @mpoint.comment, placeholder: 'Комментарий...' %></td>
						<td><%= check_box_tag 'f', 'yes', @mpoint.f %></td>			        
	   				</tr>
				</tbody>
			</table>
  			<%= hidden_field_tag :company_id, @mpoint.company.id %>
  			<%= hidden_field_tag :id, @mpoint.id %>
  			<%= hidden_field_tag :flr_id, @flr.id %> 
  			<div  align="center">
				<%= button_tag "Сохранить", type: 'submit', class: "btn btn-default glyphicon glyphicon-ok pull-center", 
				                data: { confirm: "Сохранить данные для #{@flr.name} / #{@cp.name}?" } %>
				<%= button_tag "Отмена", type: "submit", name: "cancel", value: true, class: "btn btn-default glyphicon glyphicon-remove pull-center" %>                
			</div> 
		<% end %>
      </div>
    </div>
  </div>  
</div>
	
<h3 align="center">Точки учета <span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true"></span></h3> 
           
<table class="table table-striped  table-hover">
		<thead>
			<tr class="info">
			   <th>№</th>
			   <th>Код</th>
			   <th>Наименование</th>
			   <th>Поставщик</th>
			   <th>Филиал</th>
			   <th>Регион</th>
			   <th>Подстанция (подкл. потребитель)</th>
			   <th>Присоединение (запитан потребитель)</th>
			   <th>Объект установки учета</th>
			   <th>Присоединение установки учета</th>			   
			   <th>Класс напряжения, кВ</th>
               <% if (current_user.has_role? :cduser) || (@fpr > 5) %> 
			      <th>Счетчики</th>
			      <th>Показания</th>
			   <% else %>
			      <th>Параметры</th>
			      <th>Расчет</th>		   
			   <% end %>   
			   <th>Комментарий</th>
			   <th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
			   <th>.........</th>	   
			</tr>	
		</thead>
		<tbody>
			   <% i = 0%>
			   <% @mp.each do |item| %>
			   <% if item.updated_at > (Time.now.ago($GreenDelay)) %>
			    	<tr class="success">
			   <% else %> 	
					<tr>
			   <% end %>	
						<% i = i + 1 %>
						<td><%= if params[:page].nil? then i else (params[:page].to_i - 1) * @perpage + i end %></td>
						<td><%= item.cod %></td>
						<td><%= item.name %></td>
						<td><%= if item.furnizor then item.furnizor.name end %></td>
						<td><%= if item.filial then item.filial.name end %></td>
						<td><%= if item.region then item.region.cvalue end %></td>
						<td><%= if item.mesubstation then item.mesubstation.name end %></td>						
						<td><%= item.meconname %></td>
						<td><%= item.clsstation %></td>
						<td><%= item.clconname %></td>						
						<td><%= item.voltcl %></td>
						<% if (current_user.has_role? :cduser) || (@fpr > 5) %> 
						   <td><%= link_to image_tag('meter.png', :alt => "Счетчики", :width => 20, :height => 20) , meters_index_path(:id => item.id) %></td>
  						   <td><%= link_to image_tag('indicii.png', :alt => "Показания", :width => 30, :height => 20), mpoint_path(item) %>
  						       <%= link_to image_tag('Excel-icon.png', :alt => "XLSX", :width => "20", :height => "20"), mpoint_path(item,format: "xlsx") %>
  						       <%= link_to image_tag('Apps-Pdf-B-icon.png', :alt => "PDF", :width => "20", :height => "20"), mpoint_path(item,format: "pdf") %></td>
  						<% else %>
  						   <td><%= link_to image_tag('tr-lep.png', :alt => "Параметры", :width => 30, :height => 20) , mpoint_path(item) %>
  						       <%= link_to image_tag('Excel-icon.png', :alt => "XLSX", :width => "20", :height => "20"), "#" %>
  						       <%= link_to image_tag('Apps-Pdf-B-icon.png', :alt => "PDF", :width => "20", :height => "20"), "#" %></td>
  						   <td><%= link_to image_tag('big_thumb.png', :alt => "Formula", :width => "30", :height => "20"), companies_onempreport_path(:id => @flr.id, :mp_id => item.id, :page => @page) %></td>      						
  						<% end %>    
  						<td><%= item.comment %></td>
  						<td><span class="glyphicon glyphicon-<%= if item.f then 'ok' else 'minus' end %>" aria-hidden="true"></span></td>      						
                        <td><%= link_to " " , mpoints_edit_path(:mp_id => item.id,:flr_id=>@flr.id), :class=> "glyphicon glyphicon-pencil" %>
  						    <%= link_to " " , mpoints_destroy_path(:mp_id=>item.id,:flr_id=>@flr.id), :class=> "glyphicon glyphicon-remove",
  						                 data: { confirm: "Удалить точку учета #{item.name} ?" } %></td>
					</tr>		
				<% end %>			
		</tbody>
</table>

<center><small><%= if !@mp.nil? then will_paginate @mp, renderer: BootstrapPagination::Rails end %></small></center>

