<% provide(:title, 'Справочник-Подстанции') %>


<script>
$(document).ready(function() {
    var t = $('#mesubs').DataTable( {
        "order": [[ 3, "asc" ],[ 4, "asc" ]],
        "language": {
            "lengthMenu": "Отображать _MENU_ строк на странице",
            "zeroRecords": "Ничего не найдено - увы...",
            "info": "Страница _PAGE_ из _PAGES_",
            "infoEmpty": "Нет доступных строк",
            "infoFiltered": "(Отфильтровано из _MAX_ строк)",
            "search": "Поиск",
             paginate: {
                first:      "<<",
                previous:   "<",
                next:       ">",
                last:       ">>"
            }
        },
        "pagingType": "full_numbers",
        "pageLength": 10,
         "fixedHeader": {
               headerOffset: ($('#navMenu').outerHeight() - 1)
         },
        responsive: {
            details: {
                type: 'column'
            }
        },
        columnDefs: [ {
            className: 'control',
            orderable: false,
            targets:   0
        }, {
            "searchable": false,
            "orderable": false,
            "targets": 1
            }
         ]      
    } ); 
    
    t.on( 'order.dt search.dt', function () {
        t.column(1, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
} );
</script>



<nav class="navbar">
  <ul class="nav nav-pills pull-left">
    <li><%= form_tag("/mesubstations/index", method: "get", class: 'form-inline') do %>
    	<div class="form-group">
		  <%= label_tag(:mesubstation_search, "Искать:", class: "control-label") %>
		  <%= search_field_tag(:mesubstation_search, @data_for_search, placeholder: 'Enter your search query here', class: "form-control", title: "код, наименование") %>
		  <%= submit_tag("Поиск", class: "btn btn-primary", name: "search", title: "код, наименование") %>
		</div>
		<% end %></li>
	<li><%= form_tag("/mesubstations/index", method: "get", class: 'form-inline') do %>
    	<div class="form-group">
		  <%= label_tag(:qfilial, "Фильтр:", class: "control-label") %>
		  <%= select_tag(:qfilial, options_for_select(@ffils, @qfilial), class: "form-control", prompt: "Филиал...", include_blank: false, title: "Филиал") %>
		  <%= select_tag(:qregion, options_for_select(@fregions, @qregion), class: "form-control", prompt: "Район...", include_blank: false, title: "Район") %>
		  <%= submit_tag("Фильтр", class: "btn btn-primary", name: "filter", title: "филиал, район") %>
		</div>
		<% end %></li>	    
  </ul>  
</nav>
	 
<h4 align="center">Справочник - Подстанции <%= image_tag('consumator.png', :alt => "Подстанции", :width => 60, :height => 40) %></h4>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-info"">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class = "glyphicon glyphicon-wrench">
          <% if @flag=='edit' then %>Редактировать подстанцию<% else %>Добавить подстанцию<% end %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse <%= if (@flag!='edit' && @flag!='add') then "collapse" end %>" role="tabpanel" aria-labelledby="headingOne">	
      <div class="panel-body">
		<h4 align="center"><% if @flag=='edit' then %>Редактирование подстанции<% else %>Ввод новой подстанции<% end %></h4>
		<%= simple_form_for(@mesubstation, html: { class: 'form-inline' }) do |f| %>
		   <div class="row">					
		    <div class="col-md-7">
		    <div class="panel  panel-default">
		    <div class="panel-body">
		      <%= f.error_notification %>
		      <% if @mesubstation.errors.any? %>
			    <div id="error_explanation">
			      <h4><%= pluralize(@mesubstation.errors.count, "error") %> prohibited this line from being saved:</h4>
			      <ul>
			        <% @mesubstation.errors.full_messages.each do |msg| %>
			          <li><%= msg %></li>
			        <% end %>
			      </ul>
			     <!-- <%= @line.inspect %> -->
			    </div>
			  <% end %>
		      <%= f.input :cod, label: 'Код ', placeholder: 'Код ' %>
			  <%= f.input :name, label: 'Наименование ', placeholder: 'Подстанция', as: :string, :input_html => { :size => 50}  %>
			</div>
		  	</div>
		  	</div>
		  	<div class="col-md-5">
		    <div class="panel  panel-default">
		    <div class="panel-body">
			  <%= f.association :filial, label: 'Филиал ', include_blank: true %>
			  <%= f.association :region, label: 'Регион ', label_method: :cvalue, value_method: :id, include_blank: true %>
			  <%= f.input :f, as: :boolean, checked_value: true, unchecked_value: false, inline_label: 'Активный' %>   				
  			  <%= hidden_field_tag :page, @page %>
			</div>
		  	</div>
		  	</div>		   		
		   	</div> <!--  row -->       
  			  <div  align="center">
				<%= button_tag "Сохранить", type: 'submit', class: "btn btn-info glyphicon glyphicon-ok pull-center", 
				                data: { confirm: "Сохранить данные?" } %>
				<%= button_tag "Отмена", type: "submit", name: "cancel", value: true, class: "btn btn-warning glyphicon glyphicon-remove pull-center" %>                
			 </div> 
		<% end %>
      </div>
    </div>
  </div>  
</div>		           	           

<table id="mesubs" class="table table-bordered table-condensed table-hover table-striped dt-responsive nowrap compact" style="width:100%">
	   <% 2.times do |i| %>	
	   <% if i==0 then %><thead><% else %><tfoot><% end %>
			<tr class="info">
			   <th style="width:3%"></th>
			   <th style="width:2%" class="all">№</th>
			   <th>Код</th>			   
			   <th>Наименование</th>
			   <th>Филиал<span class="glyphicon glyphicon-tower" aria-hidden="true"></span></th>
			   <th>Район <%= image_tag('moldova-map.png', :alt => "Регионы", :width => 25, :height => 25) %></th>
			   <th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
			   <th>.........</th>			   
			</tr>	
	   <% if i==0 then %></thead><% else %></tfoot><% end %>
	   <% end %>
		<tbody>
			<% @mesubstations.each do |item| %>
			   <% if item.updated_at > (Time.now.ago($GreenDelay)) then %><tr class="success"><% else %><tr><% end %>					
						<td></td>
						<td></td>
						<td><% if item.f == false then %><em><% end %><%= item.cod %><% if item.f == false then %></em><% end %></td>
						<td><% if item.f == false then %><em><% end %><%= item.name %><% if item.f == false then %></em><% end %></td>
						<td><% if item.f == false then %><em><% end %><%= item.filial_name %><% if item.f == false then %></em><% end %></td>
						<td><% if item.f == false then %><em><% end %><%= item.region_name %><% if item.f == false then %></em><% end %></td>
                        <td><span class="glyphicon glyphicon-<%= if item.f then 'ok' else 'minus' end %>" aria-hidden="true"></span></td>
                        <td><%= link_to " " , mesubstations_edit_path(:id => item.id, :page => @page), :class=> "glyphicon glyphicon-pencil" %>
  						    <%= link_to " " , mesubstations_destroy_path(:id => item.id, :page => @page), :class=> "glyphicon glyphicon-remove",
  						                 data: { confirm: "Удалить подстанцию #{item.name} ?" } %></td>  
					</tr>		
			<% end %>			
		</tbody>
</table>

