<% provide(:title, 'Новый потребитель') %>

<nav class="navbar">
  <ul class="nav nav-pills nav-pillspull-right">
    <li><%= link_to "Назад", :back %></li>
  </ul>  
</nav>

<div class="center">
	<h2>Ввод нового потребителя</h2>
	<div class="page">
	<div class="centercol">
			
			<%= form_for :company, url: companys_path do |f| %>
  			<%= f.label :"Наименование потребителя :"%><br>
  			<%= text_field_tag 'coname', nil, :maxlength => 40, :size => 40 %> <br>
  			<%= f.label :"Код потребителя :"%><br>
  			<%= text_field_tag 'pcod'%><br>
  			<%= f.label :"Комментарий"%><br>
  			<%= text_area_tag 'comment'%><br>
  			
  			                      
  			<%= f.submit "Сохранить"%>
  			<% end %>
  		
	</div>
	</div>
</div>
