<% provide(:title, 'Новый потребитель') %>

<nav class="navbar">
  <ul class="nav nav-pills nav-pillspull-right">
    <li><%= link_to "Назад", if params[:fl].nil? then furnizor_path(params[:fr]) else filial_path(params[:fl]) end %></li>
  </ul>  
</nav>

<div class="center">
	<h2>Ввод нового потребителя</h2>
	<div class="page">
	<div class="centercol">		
			<%= form_for :company, url: companys_path do |f| %>
  			<%= f.label :"Наименование потребителя :" %><br>
  			<%= text_field_tag 'name', nil, :maxlength => 40, :size => 40 %> <br>
  			<%= f.label :"Код потребителя :" %><br>
  			<%= text_field_tag 'region' %><br>
  			<%= f.label :"Поставщик :" %><br>
  			<%  furn=Furnizor.all %>
  			<%  furns=Array[] %>
  			<%  i=0 %>     			
  			<%  furn.each do |item| %>
  			<%    furns[i] = [item.name, item.id] %>
  			<%    i+=1 %>    
  			<%  end %>  			
  			<%= select_tag "furnizor_id", options_for_select( furns, if params[:fr].nil? then furns[0][1] else params[:fr] end ) %><br>
  			<%= f.label :"Филиал :" %><br>
  			<%  fil=Filial.all %>
  			<%  fils=Array[] %>
  			<%  i=0 %>     			
  			<%  fil.each do |item| %>
  			<%    fils[i] = [item.name, item.id] %>
  			<%    i+=1 %>    
  			<%  end %>
  			<%= select_tag "filial_id", options_for_select( fils, if params[:fl].nil? then fils[0][1] else params[:fl] end ) %><br><br>  						                     
  			<%= f.submit "Сохранить"%>
  			<% end %>  		
	</div>
	</div>
</div>
