<% provide(:title, 'Отчет') %>

<% if @fpr > 5 then @fr = @cp.furnizor
	           else @fl = @cp.filial end %>

<nav class="navbar">
  <ul class="nav nav-pills nav-pillspull-right">
    <li><%= if (@fpr > 5) 
    	        then link_to "Назад", furnizor_path(@fr), :class => "glyphicon glyphicon-level-up" 
    	        else link_to "Назад", filial_path(@fl), :class => "glyphicon glyphicon-level-up" end %></li>
    <li><%= link_to "#{image_tag('Excel-icon.png', :alt => "XLSX", :width => "25", :height => "25")}".html_safe, companys_report_path(:id => @id,:month_for_report => @ddate.to_formatted_s(:year_month),format: "xlsx") %></li>
    <li><%= link_to image_tag('Apps-Pdf-B-icon.png', :alt => "PDF", :width => "25", :height => "25"), companys_report_path(:id => @id,:month_for_report => @ddate.to_formatted_s(:year_month),format: "pdf") %></li>
    <li><%= form_tag companys_report_path(:id => @id) do %>
    	        <%= month_field_tag :month_for_report,@ddate.to_formatted_s(:year_month) %>
	       <!--     <%= date_field_tag :date_for_report, @ddate %> -->
                <%= image_submit_tag("vjuh-recalc.png",class: 'submit_button',:alt => "Пересчет", :width => 100, :height => 80) %>
                <% end %></li>
                    
  </ul>  
</nav>

<ul class="breadcrumb">
  <li><%= if (@fpr > 5) 
  	         then link_to "Поставщик: #{@cp.furnizor.name}", furnizor_path(@cp.furnizor.id), :class => "glyphicon glyphicon-home"
  	         else link_to "Филиал: #{@cp.filial.name}", filial_path(@cp.filial.id), :class => "glyphicon glyphicon-home"end %></li>
  <li class="active"><span class="glyphicon glyphicon-lamp" aria-hidden="true"></span><strong><%= "Потребитель: #{@cp.name}" %></strong></li>
</ul>
				
<h3 align="center">LISTA</h3> 
<h4 align="center"><%= "de calcul a intrarii energiei electrice la #{@cp.name}" %></h4>
<h4 align="center"><%= "pentru luna #{@luna} anul #{@ddate.year}" %></h4>

<%= "Denumirea furnizorului:  #{@cp.furnizor.name}" %></br>
<%= "Denumirea filialei:  #{@cp.filial.name}" %></br>
<%= "Denumirea consumatorului:  #{@cp.name}" %></br></br>

<table class="table table-striped table-condensed  table-hover">	
  <thead>
    <tr class="success">
      <th>Nr</th>
      <th>RRE,SE si liniilor</th>      
      <th>Punctul de evidenta</th>
      <th></th>
      <th>N contor.</th>
      <th><%= "Indicatii \n #{@luna1}" %></th>
      <th><%= "Indicatii \n #{@luna0}" %></th> 
      <th>Diferenta indicat.</th>
      <th>Coeficient contor.</th>
      <th>Energie, kWh</th> 
    </tr>  
    <tr class="info">
      <th>1</th>
      <th>2</th>      
      <th>3a</th>
      <th>3b</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th> 
      <th>8</th>
      <th>9</th> 
    </tr>
  </thead>
  <tbody>
    <% @report.each do |item| %>
      <% color = item.last %>
      <% item.pop %>
      <% if color.nil? %>
      <tr>
      <% else %> 	
      <tr class=<%= case color when 1 then "danger"
      	                       when 2 then "warning" 
      	                       when 3 then "info" 
      	                       else "success" end %>>     
      <% end %>	
      	<% item.each do |x| %>
      	   <td><%= x %></td>
      	<% end %> 
      </tr>
    <% end %>
  </tbody>
</table>

