<center>
	<% if @fpr > 5 %>
		<% @fr = @cp.furnizor %>
		<%= link_to "Назад", furnizor_path(@fr) %>
	<% end %>
	<% if @fpr < 5 %>
		<% @fl = @cp.filial %>
		<%= link_to "Назад", filial_path(@fl) %>
	<% end %>
	<% if @fpr == 5 %>
		<% @fl = @cp.filial %>
		<%= link_to "Назад", filial_path(@fl) %>
	<% end %>

<div class="page">
<div class="centercol">						
<h3>Отчет</h3>	
<table border="0" cellspacing="1" cellpadding="1">	
  <thead>
    <tr>
      <th>Nr</th>
      <th>RRE,SE si liniilor</th>      
      <th>Punctul de evidenta</th>
      <th></th>
      <th>N contor.</th>
      <th><%= "Indicatii" %></th>
      <th><%= "Indicatii" %></th> 
      <th>Diferenta indicat.</th>
      <th>Coeficient contor.</th>
      <th>Energie kWh</th> 
      <th colspan="3"></th>
    </tr>
    <tr>
      <th>1</th>
      <th>2</th>      
      <th>3a</th>
      <th>3b</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th> 
      <th>8</th>
      <th>9</th> 
      <th colspan="3"></th>
    </tr>
  </thead>
  <% i=0 %>
  <tbody>
    <% @mp.each do |item| %>
      <tr>
        <td><%= i+=1 %></td>    	
        <td><%= item.messtation %></td>        	
        <td><%= item.meconname %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td> 
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</center>	
<br>