
<% if current_user.has_role? :cduser %>
<%= link_to "Назад", welcome_cdindex_path %>
<% end %>
<% if current_user.has_role? :setsu %>
<%= link_to "Назад", welcome_setsuindex_path %>
<% end %>
<center>
	<div class="page">
	<div class="centercol">
		
	<h1><%= @cp.name %></h1>
<% comp = @cp %>
<%= link_to "Добавить присоединение", :controller => "mpoints", 
            :action => "new", 
            :cnum => @cp.id %>
<table id="mcl" border="0" cellspacing="5" cellpadding="5">
		<thead>
			<tr>
			   <th>№</th>
			   <th>Подстанция</th>
			   <th>Присоединение</th>
			   <th>Действие</th>
			</tr>	
		</thead>
		<tbody>
					<% i = 0%>
					<% @mp.each do |cl| %>
					<tr>
						<td><%= i = i + 1 %></td>
						<td><%= cl.messtation %></td>
						<td><%= cl.meconname %></td>
  						<td><%= link_to "Открыть" , mpoint_path(cl)%></td>
					</tr>		
					<% end %>
			
		</tbody>
</table>

</div>
</div>

</center>