<!-- DataTables CSS -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  
<!-- DataTables -->
 <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>

 
<!-- <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.magellan.js"></script> --> 
  

 <script> 
$(document).ready(function() {
    $('#mcln').DataTable( {
        "language": {
            "lengthMenu": "Показать _MENU_ записей на странице",
            "zeroRecords": "Ничего не найдено, простите",
            "info": "Показать страницу _PAGE_ из _PAGES_",
            "infoEmpty": "No records available",
            "infoFiltered": "(выбрано из _MAX_ total записей)",
            "search": "Поиск",
            "previousSibling": "Предыдущий",
            "nextSibling": "Следующий"
        }
    } );
} );
</script> 
<center>
	<% if @fpr > 5 %>
		<% @fr = @cp.furnizor %>
		<%= link_to "Назад", furnizor_path(@fr) %>
	<% end %>
	<% if @fpr < 5 %>
		<% @fl = @cp.filial %>
		<%= link_to "Назад", filial_path(@fl) %>
	<% end %>
	<% if @fpr == 5 %>
		<% @fl = @cp.filial %>
		<%= link_to "Назад", filial_path(@fl) %>
	<% end %>
</center>	
	
<center>
	<div class="page">
	<div class="centercol">
		
	<h1><%= @cp.name %></h1>
<% comp = @cp %>
<%= link_to "Добавить присоединение", :controller => "mpoints", 
            :action => "new", 
            :cnum => @cp.id %>
<table id="mcln" border="0" cellspacing="5" cellpadding="5">
		<thead>
			<tr>
			   <th>№</th>
			   <th>Подстанция</th>
			   <th>Присоединение</th>
			   <th>Действие</th>
			</tr>	
		</thead>
		<tbody>
					<% i = 0%>
					<% @mp.each do |cl| %>
					<tr>
						<td align="center"><%= i = i + 1 %></td>
						<td align="center"><%= cl.messtation %></td>
						<td align="center"><%= cl.meconname %></td>
  						<td align="center"><%= link_to "Открыть" , mpoint_path(cl)%></td>
					</tr>		
					<% end %>
			
		</tbody>
</table>

</div>
</div>

</center>