<% provide(:title, 'Подстанции') %>

<h3><%= "Потребитель: #{@cp.name}" %></h3>
	
<div class="center">
	<% if @fpr > 5 %>
		<% @fr = @cp.furnizor %>
		<%= link_to "Назад", furnizor_path(@fr) %>
	<% end %>
	<% if @fpr < 5 %>
		<% @fl = @cp.filial %>
		<%= link_to "Назад", filial_path(@fl) %>
	<% end %>
	<% if @fpr == 5 %>
		<% @fl = @cp.filial %>
		<%= link_to "Назад", filial_path(@fl) %>
	<% end %>
				
<%= link_to "Добавить подстанцию", :controller => "mpoints", 
            :action => "new", 
            :cnum => @cp.id %>
            
<h3>Подстанции</h3> 

</div>
           
<table class="table table-striped">
		<thead>
			<tr>
			   <th>№</th>
			   <th>Подстанция</th>
			   <th>Присоединение</th>
			   <th>Действие</th>
			   <th>Скачать</th>		   
			</tr>	
		</thead>
		<tbody>
					<% i = 0%>
					<% @mp.each do |cl| %>
					<tr>
						<% i = i + 1 %>
						<td><%= if params[:page].nil? then i else (params[:page].to_i - 1) * @perpage + i end %></td>						
						<td><%= cl.messtation %></td>
						<td><%= cl.meconname %></td>
  						<td><%= link_to "Открыть" , mpoint_path(cl) %></td>
  						<td><%= link_to "#{image_tag('Excel-icon.png', :alt => "XLSX", :width => "25", :height => "25")}".html_safe, mpoint_path(cl,format: "xlsx") %>
  						    <%= link_to image_tag('Apps-Pdf-B-icon.png', :alt => "PDF", :width => "25", :height => "25"), mpoint_path(cl,format: "pdf") %></td>  						
					</tr>		
					<% end %>			
		</tbody>
</table>
<small><%= will_paginate @mp, renderer: BootstrapPagination::Rails %></small>

