<% provide(:title, 'Точки учета') %>

<% if @fpr > 5 then @fr = @cp.furnizor
	           else @fl = @cp.filial end %>
	           
<nav class="navbar">
  <ul class="nav nav-pills nav-pillspull-right">
    <li><%= if (@fpr > 5) 
    	        then link_to "Назад", furnizor_path(@fr), :class => "glyphicon glyphicon-level-up" 
    	        else link_to "Назад", filial_path(@fl), :class => "glyphicon glyphicon-level-up" end %></li>
    <li><%= link_to "Добавить точку учета", mpoints_new_path(:cnum => @cp.id), :class => "glyphicon glyphicon-wrench" %></li>
  </ul>  
</nav>

<h4><%= "Поставщик: #{@cp.furnizor.name}" %></h4>
<h4><%= "Филиал: #{@cp.filial.name}" %></h4>
<h4><%= "Потребитель: #{@cp.name}" %></h4>
	
<h2 align="center">Точки учета</h2> 
           
<table class="table table-striped">
		<thead>
			<tr>
			   <th>№</th>
			   <th>Подстанция</th>
			   <th>Присоединение</th>
			   <th>Класс напряжения, кВ</th>
			   <th>Счетчики</th>
			   <th>Показания</th>	   
			</tr>	
		</thead>
		<tbody>
					<% i = 0%>
					<% @mp.each do |item| %>
					<tr>
						<% i = i + 1 %>
						<td><%= if params[:page].nil? then i else (params[:page].to_i - 1) * @perpage + i end %></td>						
						<td><%= "#{item.messtation} / #{item.clsstation}" %></td>
						<td><%= "#{item.meconname} / #{item.clconname}" %></td>
						<td><%= item.voltcl %></td>
						<td><%= link_to "Открыть" , meters_index_path(:id => item.id), :class=> "glyphicon glyphicon-folder-open" %></td>
  						<td><%= link_to " " , mpoint_path(item), :class=> "glyphicon glyphicon-folder-open" %>
  						    <%= link_to image_tag('Excel-icon.png', :alt => "XLSX", :width => "20", :height => "20"), mpoint_path(item,format: "xlsx") %>
  						    <%= link_to image_tag('Apps-Pdf-B-icon.png', :alt => "PDF", :width => "20", :height => "20"), mpoint_path(item,format: "pdf") %></td>  						
					</tr>		
					<% end %>			
		</tbody>
</table>

<center><small><%= will_paginate @mp, renderer: BootstrapPagination::Rails %></small></center>

