<h1><%= @cp.name %></h1>
<% comp = @cp %>
<%= link_to "Добавить присоединение", :controller => "mpoints", 
            :action => "new", 
            :cnum => @cp.id %>
<table id="mcl" border="0" cellspacing="5" cellpadding="5">
		<thead>
			<tr>
			   <th>№</th>
			   <th>Наименование</th>
			   <th>Действие</th>
			</tr>	
		</thead>
		<tbody>
					<% i = 0%>
					<% @mp.each do |cl| %>
					<tr>
						<td><%= i = i + 1 %></td>
						<td><%= cl.pname %></td>
						<td><%= link_to "Открыть" , mpoint_path(cl)%></td>
					</tr>		
					<% end %>
			
		</tbody>
</table>

