<% provide(:title, 'Потребители') %>

<nav class="navbar">
  <ul class="nav nav-pills nav-pillspull-right">
    <li><%= if (current_user.has_role? :"cduser-fee") || (current_user.has_role? :cduser) || (current_user.has_role? :"cduser-fenosa") 
    	        then link_to "Назад", welcome_cdindex_path, :class => "glyphicon glyphicon-level-up" 
    	        else link_to "Назад", root_path, :class => "glyphicon glyphicon-level-up" end %></li>
    <li><%= link_to "Добавить потребителя", companys_new_path(:fr => @fr, :fl => nil), :class => "glyphicon glyphicon-wrench" %></li>
  </ul>  
</nav>

<h4><%= "Поставщик: #{@fr.name}" %></h4>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class = "glyphicon glyphicon-wrench">
          Добавить точку учета
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">	
      <div class="panel-body">
		<h3 align="center">Ввод новой точки учета</h3>
		<%= form_for :mpoint, url: mpoints_path do |f| %>
			<table class="table table-striped">
				<thead>
					<tr>
		   				<th>Подстанция подключения ME</th>
		   				<th>Наименование фидера ME</th>
		   				<th>Наименование подстанции потребителя</th>
		   				<th>Наименование присоединения потребителя</th>
		   				<th>Класс напряжения, кВ</th>
		   				<th>Комментарий</th>
					</tr>	
				</thead>
				<tbody>
	   				<tr>		
						<td><%= text_field_tag 'messtation', nil, placeholder: "Подстанция..." %></td>
						<td><%= text_field_tag 'meconname', nil,  placeholder: "Фидер..." %></td>
						<td><%= text_field_tag 'clsstation', nil, placeholder: "Подстанция..." %></td>
						<td><%= text_field_tag 'clconname', nil,  placeholder: "Фидер..." %></td>
						<td><%= text_field_tag 'voltcl', nil, size: "10", placeholder: "Класс напряжения", maxlength:"10" %></td>
						<td><%= text_field_tag 'comment', nil, placeholder: 'Комментарий...' %></td>			        
	   				</tr>
				</tbody>
			</table>
  			<%= hidden_field_tag :company_id, @cp.id %> 
  			<div  align="center">
			<%= button_tag "Сохранить", type: 'submit', class: "btn btn-default glyphicon glyphicon-ok pull-center", 
			                data: { confirm: "Сохранить данные для #{@cp.furnizor.name}, #{@cp.filial.name} / #{@cp.name}?" } %></div> 
		<% end %>
      </div>
    </div>
  </div>  
</div>

<h2 align="center">Список потребителей</h2>	 		           

<table  class="table table-striped">
		<thead>
			<tr>
			   <th>№</th>
			   <th>Наименование</th>
			   <th>Код</th>
			   <th>Филиал</th>
			   <th>Точки учета</th>
			   <th>Действие</th>			   
			</tr>	
		</thead>
		<tbody>
					<% i = 0%>
					<% @companies.each do |cl| %>
					<tr>
						<% i = i + 1 %>
						<td><%= if params[:page].nil? then i else (params[:page].to_i - 1) * @perpage + i end %></td>
						<td><%= cl.name %></td>
						<td><%= cl.region %></td>
						<td><%= Filial.find(cl.filial_id).name %></td>
						<td><%= link_to "Открыть", company_path(cl), :class=> "glyphicon glyphicon-folder-open" %></td>
                        <td><%= link_to image_tag('vjuh-report.png', :alt => "Отчет", :width => 40, :height => 30), companys_report_path(:id => cl.id) %></td>
					</tr>		
					<% end %>			
		</tbody>
</table>

<center><small><%= will_paginate @companies, renderer: BootstrapPagination::Rails %></small></center>

