<nav class="navbar">
  <ul class="nav nav-pills nav-pillspull-right">
    <li><%= if (current_user.has_role? :"cduser-fee") || (current_user.has_role? :cduser) || (current_user.has_role? :"cduser-fenosa") 
    	        then link_to "Назад", welcome_cdindex_path 
    	        else link_to "Назад", root_path end %></li>
    <li><%= link_to "Добавить потребителя", :controller => "companys", :action => "new" %></li>
  </ul>  
</nav>

<div class="center">
	<h1>Список потребителей</h1>
</div> 	 		           

<table  class="table table-striped">
		<thead>
			<tr>
			   <th>№</th>
			   <th>Наименование</th>
			   <th>Действие</th>
			   <th>Действие</th>			   
			</tr>	
		</thead>
		<tbody>
					<% i = 0%>
					<% @companies.each do |cl| %>
					<tr>
						<% i = i + 1 %>
						<td><%= if params[:page].nil? then i else (params[:page].to_i - 1) * @perpage + i end %></td>
						<td><%= cl.name %></td>
						<td><%= link_to "Открыть", company_path(cl) %></td>
                        <td><%= link_to "Отчет", companys_report_path(:id => cl.id) %></td>
					</tr>		
					<% end %>			
		</tbody>
</table>

<small><center>
	<%= will_paginate @companies, renderer: BootstrapPagination::Rails %>
</small></center>
