<% provide(:title, 'Потребители') %>

<nav class="navbar">
  <ul class="nav nav-pills pull-left">
    <li><%= link_to "Назад", if @fpr < 6 then welcome_setsuindex_path elsif @fpr < 9 then welcome_cdindex_path else root_path end, :class => "glyphicon glyphicon-level-up" %></li>
  </ul>  
</nav>

<ul class="breadcrumb">
  <% if @fpr < 6 then %>
	  <li><%=  link_to "Филиалы", welcome_setsuindex_path, :class => "glyphicon glyphicon-home" %></li>		
	  <li class="active"><span class="glyphicon glyphicon-tower" aria-hidden="true"></span><strong><%= "Филиал: #{@flr.name}" %></strong></li>  
  <% elsif @fpr < 9 then %> 	
	  <li><%=  link_to "Поставщики", welcome_cdindex_path, :class => "glyphicon glyphicon-home" %></li>	
	  <li class="active"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span><strong><%= "Поставщик: #{@flr.name}" %></strong></li> 	  
  <% end %>
</ul>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class = "glyphicon glyphicon-wrench">
          <% if @flag=='edit' then %>Редактировать потребителя<% else %>Добавить потребителя<% end %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse <%= if (@flag!='edit' && @flag!='add') then "collapse" end %>" role="tabpanel" aria-labelledby="headingOne">	
      <div class="panel-body">
		<h3 align="center"><% if @flag=='edit' then %>Редактирование потребителя<% else %>Ввод нового потребителя<% end %></h3>
		<%= form_for(@company) do |f| %>
			<table class="table table-striped">
				<thead>
					<tr>
		   				<th>Наименование</th>
		   				<th>Краткое наименование</th>
		   				<th>Код</th>
		   				<th>Поставщик</th>
		   				<th>Филиал</th>
		   				<th>Комментарий</th>
		   				<th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
					</tr>	
				</thead>
				<tbody>
	   				<tr>		
						<td><%= text_field_tag 'name', @company.name, placeholder: "Наименование...", maxlength:"40" %></td>
						<td><%= text_field_tag 'shname', @company.shname, placeholder: "Краткое наименование...", maxlength:"15" %></td>
						<td><%= text_field_tag 'region', @company.region,  placeholder: "Код...", maxlength:"20" %></td>
						<%  furn=Furnizor.all %>
  			            <%  furns=Array[] %>
  			            <%  i=0 %>     			
  			            <%  furn.each do |item| %>
  			            <%    furns[i] = [item.name, item.id] %>
  			            <%    i+=1 %>    
  			            <% end %>  			
						<td><%= select_tag "furnizor_id", options_for_select( furns, if !@company.furnizor_id.nil? then @company.furnizor_id elsif !@flr.nil? then @flr.id else furns[0][1] end ) %></td>
						<%  fil=Filial.all %>
  			            <%  fils=Array[] %>
  			            <%  i=0 %>     			
  			            <%  fil.each do |item| %>
  			            <%    fils[i] = [item.name, item.id] %>
  			            <%    i+=1 %>    
  			            <% end %>
  			            <td><%= select_tag "filial_id", options_for_select( fils, if !@company.filial_id.nil? then @company.filial_id elsif !@flr.nil? then @flr.id else fils[0][1] end ) %></td> 
						<td><%= text_field_tag 'comment', @company.comment, placeholder: 'Комментарий...' %></td>
						<td><%= check_box_tag 'f', 'yes', @company.f %></td>			        
	   				</tr>
				</tbody>
			</table>
  			<%= hidden_field_tag :cp_id, @company.id %>
  			<%= hidden_field_tag :flr_id, @flr.id %>
  			<%= hidden_field_tag :page, @page %>      
  			<div  align="center">
				<%= button_tag "Сохранить", type: 'submit', class: "btn btn-default glyphicon glyphicon-ok pull-center", 
				                data: { confirm: "Сохранить данные?" } %>
				<%= button_tag "Отмена", type: "submit", name: "cancel", value: true, class: "btn btn-default glyphicon glyphicon-remove pull-center" %>                
			</div> 
		<% end %>
      </div>
    </div>
  </div>  
</div>

<h2 align="center">Потребители</h2>	 		           

<table  class="table table-striped  table-hover">
		<thead>
			<tr class="info">
			   <th>№</th>
			   <th>Наименование</th>
			   <th>Краткое наименование</th>
			   <th>Код</th>
			   <th><%= if @fpr < 6 then 'Поставщик' elsif @fpr < 9 then 'Филиал' end %></th>
			   <th>Точки учета</th>
			   <th>Действие</th>
			   <th>Комментарий</th>
			   <th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
			   <th>.........</th>			   
			</tr>	
		</thead>
		<tbody>
   			<% i = 0%>
			<% @companies.each do |item| %>
			   <% if item.updated_at > (Time.now.ago($GreenDelay)) %>
			    	<tr class="success">
			   <% else %> 	
					<tr>
			   <% end %>
						<% i = i + 1 %>						
						<td><%= if @page.nil? then i else (@page.to_i - 1) * $PerPage + i end %></td>
						<td><% if item.f == false then %><em><% end %><%= item.name %><% if item.f == false then %></em><% end %></td>
						<td><% if item.f == false then %><em><% end %><%= item.shname %><% if item.f == false then %></em><% end %></td>
						<td><% if item.f == false then %><em><% end %><%= item.region %><% if item.f == false then %></em><% end %></td>						
						<td><%= if @fpr < 6 then item.furnizor.name elsif @fpr < 9 then item.filial.name end %></td>
						<td><%= link_to "Открыть", company_path(item), :class=> "glyphicon glyphicon-folder-open" %></td>
                        <td><%= link_to image_tag('vjuh-report.png', :alt => "Отчет", :width => 40, :height => 30), companies_report_path(:cp_id => item.id, :page => @page) %></td>
                        <td><%= item.comment %></td>
                        <td><span class="glyphicon glyphicon-<%= if item.f then 'ok' else 'minus' end %>" aria-hidden="true"></span></td>
                        <td><%= link_to " " , companies_edit_path(:flr_id => @flr.id, :cp_id => item.id, :page => @page), :class=> "glyphicon glyphicon-pencil" %>
  						    <%= link_to " " , companies_destroy_path(:flr_id => @flr.id, :cp_id => item.id, :page => @page), :class=> "glyphicon glyphicon-remove",
  						                 data: { confirm: "Удалить потребителя #{item.name} ?" } %></td>  
					</tr>		
			<% end %>			
		</tbody>
</table>

<center><small><%= if !@companies.nil? then will_paginate @companies, renderer: BootstrapPagination::Rails end %></small></center>

