<% provide(:title, 'Показания') %>

<nav class="navbar">
  <ul class="nav nav-pills nav-pillspull-right">
    <li><%= link_to "Назад", company_path(@mp.company.id), :class => "glyphicon glyphicon-level-up" %></li>
    <li><%= link_to "Добавить показания", "#", :class => "glyphicon glyphicon-wrench" %></li>
  </ul>  
</nav>

<h4><%= "Поставщик: #{@mp.company.furnizor.name}" %></h4>
<h4><%= "Филиал: #{@mp.company.filial.name}" %></h4>
<h4><%= "Потребитель: #{@mp.company.name}" %></h4>
<h4><%= "Точка учета: #{@mp.messtation} / #{@mp.clsstation}, #{@mp.meconname} / #{@mp.clconname}" %></h4>

<center>
<% if @mets.empty? %>
<p>У данной точки нет счетчиков</p>
<% else %> 	
<h3>Ввод текущих показаний</h3>

<%= form_for([@mp,@mp.mvalues.build]) do |f| %>

<table class="table table-striped">
	<thead>
		<tr>
		   <th>№</th>
		   <th>Дата актирования</th>
		   <th>Счетчик</th>
		   <th>1.8.0</th>
		   <th>2.8.0</th>
		   <th>3.8.0</th>
		   <th>4.8.0</th>
		   <th>Комментарий</th>
		</tr>	
	</thead>
	<tbody>
	   <tr>		
		    <td>1</td>
			<td><%= date_field_tag 'actdate', Date.current %></td>
			<td><%= select_tag 'meter_id', options_for_select(@mets, if params[:met].nil? then @mets[0][1] else params[:met] end ) %></td>
			<td><%= number_field_tag 'actp180', if !@mv.first.nil? then  @mv.first.actp180 end, min: 0, max: 1000000, step: 0.0001 %></td>
			<td><%= number_field_tag 'actp280', if !@mv.first.nil? then  @mv.first.actp280 end, min: 0, max: 1000000, step: 0.0001 %></td>
			<td><%= number_field_tag 'actp380', if !@mv.first.nil? then  @mv.first.actp380 end, min: 0, max: 1000000, step: 0.0001 %></td>
			<td><%= number_field_tag 'actp480', if !@mv.first.nil? then  @mv.first.actp480 end, min: 0, max: 1000000, step: 0.0001 %></td>
			<td><%= text_field_tag 'comment', nil, placeholder: 'Комментарий...' %></td>			        
	   </tr>
	</tbody>
</table>
<%= submit_tag "Сохранить", data: { confirm: "Are you sure?" }  %>
<% end %>
<% end %>					
</center>
			
<h3 align="center">История показаний</h3>

<table class="table table-striped">
	<thead>
		<tr>
		   <th>№</th>
		   <th>Дата актирования</th>
		   <th>Счетчик</th>
		   <th>1.8.0</th>
		   <th>2.8.0</th>
		   <th>3.8.0</th>
		   <th>4.8.0</th>
		   <th>Комментарий</th>
		   <th></th>
		</tr>	
	</thead>
	<tbody>					
			<% i = 0%>
			<% if !@mv.nil? %>
			<% @mv.each do |item| %>
				<tr>
					<% i = i + 1 %>
					<td><%= if params[:page].nil? then i else (params[:page].to_i - 1) * @perpage + i end  %></td>
					<td><%= item.actdate.to_formatted_s(:day_month_year) %></td>
				    <td><%= item.meter.meternum %>(<%= if !item.meter.relevance_date.nil? then item.meter.relevance_date.to_formatted_s(:day_month_year) end %>)</td>										
					<td><%= item.actp180 %></td>
					<td><%= item.actp280 %></td>
					<td><%= item.actp380 %></td>
					<td><%= item.actp480 %></td>
					<td><%= item.comment %></td>
  					<td><%= link_to " " , "#", :class=> "glyphicon glyphicon-pencil" %>
  						<%= link_to " " , "#", :class=> "glyphicon glyphicon-remove" %></td>  						
				</tr>
			<% end %>	  
			<% end %>	
	</tbody>
</table>

<center><small><%= if !@mv.nil? then will_paginate @mv, renderer: BootstrapPagination::Rails end %></small></center>


