<% provide(:title, 'Показания') %>

<nav class="navbar">
  <ul class="nav nav-pills nav-pillspull-right">
    <li><%= link_to "Назад", if @met.nil? then company_path(@mp.company.id) else meters_index_path(:id => @mp.id) end , :class => "glyphicon glyphicon-level-up" %></li>
  </ul>  
</nav>

<ul class="breadcrumb">
  <li><%= link_to "Поставщики", welcome_cdindex_path, :class => "glyphicon glyphicon-home" %></li>	
  <li><%= link_to "Поставщик: #{@mp.company.furnizor.name}", furnizor_path(@mp.company.furnizor.id), :class => "glyphicon glyphicon-piggy-bank" %></li>
  <li><%= link_to "Потребитель: #{@mp.company.name}", company_path(@mp.company.id), :class => "glyphicon glyphicon-lamp" %></li>
  <% if !@met.nil? %>
    <li><%= link_to "Точка учета: #{@mp.messtation} / #{@mp.clsstation}, #{@mp.meconname} / #{@mp.clconname}", meters_index_path(:id => @mp.id), :class => "glyphicon glyphicon-object-align-horizontal" %></li>
    <li class="active"><span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>
  	    <strong><%= "Счетчик: #{@met.meternum}" %></strong></li>
  <% else %>
    <li class="active"><span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true"></span>
  	    <strong><%= "Точка учета: #{@mp.messtation} / #{@mp.clsstation}, #{@mp.meconname} / #{@mp.clconname}" %></strong></li>
  <% end %>
</ul>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class = "glyphicon glyphicon-wrench">
          Добавить показания
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">	
      <div class="panel-body">
	  <center>
	  <% if @mets.empty? %>
		<div class="alert alert-danger" role="alert">
  			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  			<span class="sr-only">Error:</span>
  			У данной точки учета нет счетчиков
		</div>
	  <% else %> 	
		<h3>Ввод текущих показаний</h3>
		<%= form_for([@mp,@mp.mvalues.build]) do |f| %>
			<table class="table table-striped">
				<thead>
					<tr>
		   				<th>Дата актирования</th>
		   				<th>Счетчик</th>
		   				<th>1.8.0</th>
		   				<th>2.8.0</th>
		   				<th>3.8.0</th>
		   				<th>4.8.0</th>
		   				<th>Комментарий</th>
					</tr>	
				</thead>
				<tbody>
	   				<tr>		
						<td><%= date_field_tag 'actdate', Date.current %></td>
						<td><%= select_tag 'meter_id', options_for_select(@mets, if params[:met].nil? then @mets[0][1] else params[:met] end ) %></td>
						<td><%= number_field_tag 'actp180', if !@mv.first.nil? then  @mv.first.actp180 end, min: 0, max: 1000000, step: 0.0001 %></td>
						<td><%= number_field_tag 'actp280', if !@mv.first.nil? then  @mv.first.actp280 end, min: 0, max: 1000000, step: 0.0001 %></td>
						<td><%= number_field_tag 'actp380', if !@mv.first.nil? then  @mv.first.actp380 end, min: 0, max: 1000000, step: 0.0001 %></td>
						<td><%= number_field_tag 'actp480', if !@mv.first.nil? then  @mv.first.actp480 end, min: 0, max: 1000000, step: 0.0001 %></td>
						<td><%= text_field_tag 'comment', nil, placeholder: 'Комментарий...' %></td>			        
	   				</tr>
				</tbody>
			</table>
			<%= hidden_field_tag(:met, (params[:met])) %>
			<%= button_tag "Сохранить", type: 'submit', class: "btn btn-default glyphicon glyphicon-ok pull-center", 
			                data: { confirm: "Сохранить данные для #{@mp.company.name}, #{@mp.messtation} / #{@mp.clsstation}, #{@mp.meconname} / #{@mp.clconname}?" } %>
		<% end %>
	  <% end %>
	  </center>
      </div>
    </div>
  </div>  
</div>
			
<h3 align="center">История показаний</h3>

<table class="table table-striped  table-hover">
	<thead>
		<tr class="info">
		   <th>№</th>
		   <th>Дата актирования</th>
		   <th>Счетчик</th>
		   <th>1.8.0</th>
		   <th>2.8.0</th>
		   <th>3.8.0</th>
		   <th>4.8.0</th>
		   <th>Комментарий</th>
		   <th>.........</th>
		</tr>	
	</thead>
	<tbody>					
			<% i = 0%>
			<% if !@mv.nil? %>
			<% @mv.each do |item| %>
			   <% if item.updated_at > (Time.now.ago($GreenDelay)) %>
			    <tr class="success">
			   <% else %> 	
				<tr>
			   <% end %>		
					<% i = i + 1 %>
					<td><%= if params[:page].nil? then i else (params[:page].to_i - 1) * @perpage + i end  %></td>
					<td><%= item.actdate.to_formatted_s(:day_month_year) %></td>
				    <td><%= item.meter.meternum %>(<%= if !item.meter.relevance_date.nil? then item.meter.relevance_date.to_formatted_s(:day_month_year) end %>)</td>										
					<td><%= item.actp180 %></td>
					<td><%= item.actp280 %></td>
					<td><%= item.actp380 %></td>
					<td><%= item.actp480 %></td>
					<td><%= item.comment %></td>
  					<td><%= link_to " " , "#", :class=> "glyphicon glyphicon-pencil" %>
  						<%= link_to " " , "#", :class=> "glyphicon glyphicon-remove" %></td>  						
				</tr>
			<% end %>	  
			<% end %>	
	</tbody>
</table>

<center><small><%= if !@mv.nil? then will_paginate @mv, renderer: BootstrapPagination::Rails end %></small></center>


