
<% provide(:title, 'Показания') %>

<h3>Ввод текущих показаний </h3>

<% @my_arr = [1,2,3,4,5] %>
<%= form_for([@mp,@mp.mvalues.build]) do |f| %>
	<td><%= label_tag "Дата актирования "%><%= date_field_tag 'actdate', Date.current %></td><br>
	<td><%= label_tag "Активный прием (1-8-0) "%><%= number_field_tag 'actp180', nil, min: 0, max: 1000000, step: 0.0001 %></td><br>
	<td><%= label_tag "Активный отдача (2-8-0) "%><%= number_field_tag 'actp280', nil, min: 0, max: 1000000, step: 0.0001 %></td><br>
	<td><%= label_tag "Реактивный прием (3-8-0) "%><%= number_field_tag 'actp380', nil, min: 0, max: 1000000, step: 0.0001 %></td><br>
	<td><%= label_tag "Реактивный отдача (4-8-0) "%><%= number_field_tag 'actp480', nil, min: 0, max: 1000000, step: 0.0001 %></td><br>
	<td><%= "Комментарий "%><%= text_field_tag 'comment'%></td>
	<td><%= submit_tag "Сохранить", data: { confirm: "Are you sure?" }  %></td>
<% end %>						
			
<h3>История показаний </h3>

<table class="table table-striped">
	<thead>
		<tr>
		   <th>№</th>
		   <th>Дата актирования</th>
		   <th>1.8.0</th>
		   <th>2.8.0</th>
		   <th>3.8.0</th>
		   <th>4.8.0</th>
		   <th>Комментарий</th>
		</tr>	
	</thead>
	<tbody>					
		<% if @mv.count == 0%>
			<tr>	
				<td><%=  %></td>
				<td><%=  %></td>
				<td><%=  %></td>
				<td><%=  %></td>
				<td><%=  %></td>
				<td><%=  %></td>
				<td><%=  %></td>
			</tr>
		<% else %>
			<% i = 0%>
			<% @mv.each do |cl| %>
				<tr>
					<% i = i + 1 %>						
					<td><%= if params[:page].nil? then i else (params[:page].to_i - 1) * @perpage + i end  %></td>				
					<td><%= cl.actdate.to_formatted_s(:day_month_year) %></td>
					<td><%= cl.actp180 %></td>
					<td><%= cl.actp280 %></td>
					<td><%= cl.actp380 %></td>
					<td><%= cl.actp480 %></td>
					<td><%= cl.comment %></td>
				</tr>  
			<% end %>	
		<% end %>	
	</tbody>
</table>
<small><%= will_paginate @mv, renderer: BootstrapPagination::Rails %></small>

