<h3>Ввод текущих показаний </h3>
<table id="mcl" border="1" cellspacing="3" cellpadding="3">
	<% @my_arr = [1,2,3,4,5]%>
  	<%= form_for([@mp,@mp.mvalues.build]) do |f| %>
	<thead>
			<tr>
		
			   <th>№</th>
			   <th>Дата актирования</th>
			   <th><%= f.label :"Активный прием (1-8-0)"%></th>
			   <th><%= f.label :"Активный отдача (2-8-0)"%></th>
			   <th><%= f.label :"Реактивный прием (3-8-0)"%></th>
			   <th><%= f.label :"Реактивный отдача (4-8-0)"%></th>
			   <th><%= f.label :"Описание"%></th><br>
			   <th>Действие</th>
			</tr>	
	</thead>
	<tbody>
					<% i = 0%>
					
					<tr>
						<td><%= i = i + 1 %></td>
						<td><%= text_field_tag 'actdate', Time.now.strftime("%d/%m/%Y") %></td>
						<td><%= text_field_tag 'actp180'%></td>
						<td><%= text_field_tag 'actp280'%></td>
						<td><%= text_field_tag 'actp380'%></td>
						<td><%= text_field_tag 'actp480'%></td>
						<td><%= text_field_tag 'comment'%></td>
						
						<td><%= f.submit "Сохранить" %></td>
					</tr>		
					
			
	</tbody>
	
  	<% end %>		
</table>

<div class="page">
<div class="centercol">
						
						<td><%= label_tag "Дата актирования "%><%= text_field_tag 'actdate', Time.now.strftime("%d/%m/%Y") %></td><br>
						<td><%= label_tag "Активный прием (1-8-0) "%><%= text_field_tag 'actp180'%></td><br>
						<td><%= label_tag "Активный отдача (2-8-0) "%><%= text_field_tag 'actp280'%></td><br>
						<td><%= label_tag "Реактивный прием (3-8-0) "%><%= text_field_tag 'actp380'%></td><br>
						<td><%= label_tag "Реактивный отдача (4-8-0) "%><%= text_field_tag 'actp480'%></td><br>
						<td><%= text_field_tag 'comment'%></td>
						
						
</div>	

 <div class="centercol"> 	
<h3>История показаний </h3>
<table id="mcl" border="1" cellspacing="3" cellpadding="3">
		<thead>
			<tr>
			   <th>№</th>
			   <th>Дата актирования</th>
			   <th>1.8.0</th>
			   <th>2.8.0</th>
			   <th>3.8.0</th>
			   <th>4.8.0</th>
			   <th>Описание</th>
			   <th>Действие</th>
			</tr>	
		</thead>
		<tbody>
					<% i = 0%>
					<% @mv.each do |cl| %>
					<tr>
						<td><%= i = i + 1 %></td>
						<td><%= cl.actdate %></td>
						<td><%= cl.actp180 %></td>
						<td><%= cl.actp280 %></td>
						<td><%= cl.actp380 %></td>
						<td><%= cl.actp480 %></td>
						<td><%= cl.comment %></td>
						
						<td><%= button_to "Открыть" , :action => :show, :controller=>"mpoints",:num => cl.id%></td>
					</tr>		
					<% end %>
			
		</tbody>
</table>

</div>
</div>
