<% provide(:title, 'Параметры') %>

<nav class="navbar">
  <ul class="nav nav-pills nav-pillspull-right">
    <li><%= link_to "Назад", company_path(@mp.company.id), :class => "glyphicon glyphicon-level-up" %></li>
  </ul>  
</nav>
 	
<ul class="breadcrumb">
  <li><%= link_to "Филиалы", welcome_setsuindex_path, :class => "glyphicon glyphicon-home" %></li>		
  <li><%= link_to "Филиал: #{@mp.company.filial.name}", filial_path(@mp.company.filial.id), :class => "glyphicon glyphicon-tower" %></li>
  <li><%= link_to "Потребитель: #{@mp.company.name}", company_path(@mp.company.id), :class => "glyphicon glyphicon-lamp" %></li>
  <li class="active"><span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true"></span><strong><%= "Точка учета: #{@mp.messtation} / #{@mp.clsstation}, #{@mp.meconname} / #{@mp.clconname}" %></strong></li>
</ul>

<% if @flag=='tadd' %>
		<div class="alert alert-danger" role="alert">
			<a class="close" data-dismiss="alert">&#215;</a>
  			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  			<span class="sr-only">Error:</span>
  		    <%= "Параметры не сохранены. Проверьте введенные данные." %>
		</div>
<% end %>		

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"  aria-expanded="false" aria-controls="collapseOne" class = "glyphicon glyphicon-wrench">
          <% if @flag=='tedit' %>  
              Редактировать параметры трансформатора
          <% else %>
              Добавить транcформатор 
          <% end %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse <%= if (@flag!='tedit' && @flag!='tadd') then "collapse" end %>" role="tabpanel" aria-labelledby="headingOne">	
      <div class="panel-body">
		<h3 align="center">
          <% if @flag=='tedit' %>  			
			Редактирование параметров трансформатора
          <% else  %>
            Ввод нового транcформатора
          <% end %>			
		</h3>
		<%= form_for ([@mp,@mp.trparams.build]) do |f| %>	
			<table class="table table-striped">
				<thead>
					<tr>
		   				<th>Потери холостого хода Рхх, кВт</th>
		   				<th>Потери короткого замыкания Ркз, кВт</th>
		   				<th>Номинальная мощность Sном, кВА</th>
		   				<th>Uкз, %</th>
		   				<th>Io, %</th>
		   				<th>Комментарий</th>
		   				<th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
					</tr>	
				</thead>
				<tbody>
	   				<tr>		
						<td><%= number_field_tag 'pxx', @pxx, placeholder: "Потери...", min: 0, max: 1000000, step: 0.0001  %></td>
						<td><%= number_field_tag 'pkz', @pkz,  placeholder: "Потери...", min: 0, max: 1000000, step: 0.0001 %></td>
						<td><%= number_field_tag 'snom', @snom, placeholder: "мощность...", min: 0, max: 1000000, step: 0.0001 %></td>
						<td><%= number_field_tag 'ukz', @ukz,  placeholder: "Uкз...", min: 0, max: 1000000, step: 0.0001 %></td>
						<td><%= number_field_tag 'io', @io, size: "10", placeholder: "Io...", maxlength:"10", min: 0, max: 1000000, step: 0.0001 %></td>
						<td><%= text_field_tag 'comment', @comment, placeholder: 'Комментарий...' %></td>
						<td><%= check_box_tag 'f', 'yes', @f %></td>			        
	   				</tr>
				</tbody>
			</table>
  			<%= hidden_field_tag :mpoint_id, @mp.id %>
  			<%= hidden_field_tag :tr_id, @tr_id %>
          <div  align="center"> 
			  <%= button_tag "Сохранить", type: 'submit', class: "btn btn-default glyphicon glyphicon-ok pull-center", 
			                data: { confirm: "Сохранить данные для #{@mp.messtation} / #{@mp.clsstation}, #{@mp.meconname} / #{@mp.clconname}?" } %>                            
			  <% if @flag=='tedit' %>	                
			     <%= button_to mpoint_path(@mp), :class => "btn btn-default" do %>
			         <span class="glyphicon glyphicon-remove">Отмена</span>
			     <% end %> 
              <% end %>
           </div> 	                
		<% end %>
      </div>
    </div>
</div>

<h3 align="center">Транcформаторы</h3>

<table class="table table-striped  table-hover">
	<thead>
		<tr class="info">
		   <th colspan="1" width="1%">№</th>
		   <th>Потери холостого хода Рхх, кВт</th>
		   <th>Потери короткого замыкания Ркз, кВт</th>
		   <th>Номинальная мощность Sном, кВА</th>
		   <th>Uкз, %</th>
		   <th>Io, %</th>
		   <th>Qкз, квар</th>
		   <th>Комментарий</th>
		   <th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
		   <th colspan="3">.........</th>
		</tr>	
	</thead>
	<tbody>					
			<% i = 0%>
			<% @trp.each do |item| %>
			   <% if item.updated_at > (Time.now.ago($GreenDelay)) %>
			    <tr class="success">
			   <% else %> 	
				<tr>
			   <% end %>		
					<% i = i + 1 %>
					<td><%= if params[:page].nil? then i else (params[:page].to_i - 1) * @perpage + i end  %></td>
					<td><%= item.pxx %></td>
				    <td><%= item.pkz %></td>										
					<td><%= item.snom %></td>
					<td><%= item.ukz %></td>
					<td><%= item.io %></td>
				    <td><%= item.qkz %></td>
					<td><%= item.comment %></td>
					<td><span class="glyphicon glyphicon-<%= if item.f then 'ok' else 'minus' end %>" aria-hidden="true"></span></td>
  					<td><%= link_to " ", trparams_edit_path(:tr_id => item.id), :class=> "glyphicon glyphicon-pencil" %>
  						<%= link_to " ", trparams_destroy_path(:tr_id => item.id), :class=> "glyphicon glyphicon-remove",
  						                 data: { confirm: "Удалить трансформатор для #{@mp.messtation} / #{@mp.clsstation}, #{@mp.meconname} / #{@mp.clconname}?" } %></td>  						
				</tr>
			<% end %>	  
	</tbody>
</table>

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class = "glyphicon glyphicon-wrench">
          <% if @flag=='ledit' %>  			
			Редактировать параметры линии
          <% else  %>
            Добавить линию
          <% end %>	
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse <%= if (@flag!='ledit' && @flag!='ladd') then "collapse" end %>" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
		<h3 align="center">
          <% if @flag=='ledit' %>  			
			Редактирование параметров линии
          <% else  %>
            Ввод новой линии
          <% end %>					
		</h3>
		<%= form_for([@mp,@mp.lnparams.build]) do |f| %>
			<table class="table table-striped">
				<thead>
					<tr>
		   				<th>Длина линии L,км</th>
		                <th>Сопротивление материала r20, Ом</th>
		                <th>Коэффициент скрутки Kr</th>
		                <th>Коэффициент трассы Ktr</th>
		                <th>Коэффициент пов. эффекта и близости Kc</th>
		                <th>Коэффициент формы Кф</th>
		                <th>Сечение провода q, мм2</th>
		   				<th>Комментарий</th>
		   				<th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
					</tr>	
				</thead>
				<tbody>
	   				<tr>		
						<td><%= number_field_tag 'l', @l, placeholder: "Длина...", min: 0, max: 1000000, step: 0.0001  %></td>
						<td><%= number_field_tag 'ro', @ro, placeholder: "Сопротивление...", min: 0, max: 1000000, step: 0.0001 %></td>
						<td><%= number_field_tag 'k_scr', @k_scr, placeholder: "Коэффициент...", min: 0, max: 1000000, step: 0.0001 %></td>
						<td><%= number_field_tag 'k_tr', @k_tr, placeholder: "Коэффициент...", min: 0, max: 1000000, step: 0.0001 %></td>
						<td><%= number_field_tag 'k_peb', @k_peb, placeholder: "Коэффициент...", min: 0, max: 1000000, step: 0.0001 %></td>
						<td><%= number_field_tag 'k_f', @k_f, placeholder: "Коэффициент...", min: 0, max: 1000000, step: 0.0001 %></td>
						<td><%= number_field_tag 'q', @q, placeholder: "Сечение...", min: 0.01, max: 1000000, step: 0.01 %></td>
						<td><%= text_field_tag 'comment', @comment, placeholder: 'Комментарий...' %></td>
						<td><%= check_box_tag 'f', 'yes', @f %></td>			        
	   				</tr>
				</tbody>
			</table>
  			<%= hidden_field_tag :mpoint_id, @mp.id %>
  			<%= hidden_field_tag :line_id, @line_id %> 
          <div  align="center"> 
			  <%= button_tag "Сохранить", type: 'submit', class: "btn btn-default glyphicon glyphicon-ok pull-center", 
			                data: { confirm: "Сохранить данные для #{@mp.messtation} / #{@mp.clsstation}, #{@mp.meconname} / #{@mp.clconname}?" } %>                            
			  <% if @flag=='ledit' %>	                
			     <%= button_to mpoint_path(@mp), :class => "btn btn-default" do %>
			         <span class="glyphicon glyphicon-remove">Отмена</span>
			     <% end %> 
              <% end %>
           </div> 	
	    <% end %>
      </div>
    </div>
</div>  

<h3 align="center">Линии</h3>

<table class="table table-striped table-hover">
	<thead>
		<tr class="info">
		   <th colspan="1" width="1%">№</th>
		   <th>Длина линии L, км</th>
		   <th>Сопротивление линии r, Ом</th>
		   <th>Сопротивление материала r20, Ом</th>
		   <th>Коэффициент скрутки Kr</th>
		   <th>Коэффициент трассы Ktr</th>
		   <th>Коэффициент пов. эффекта и близости Kc</th>
		   <th>Коэффициент формы Кф</th>
		   <th>Сечение провода q, мм2</th>
		   <th>Комментарий</th>
		   <th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
		   <th>.........</th>
		</tr>	
	</thead>
	<tbody>					
			<% i = 0%>
			<% @lnp.each do |item| %>
			   <% if item.updated_at > (Time.now.ago($GreenDelay)) %>
			    <tr class="success">
			   <% else %> 	
				<tr>
			   <% end %>		
					<% i = i + 1 %>
					<td><%= if params[:page].nil? then i else (params[:page].to_i - 1) * @perpage + i end  %></td>
					<td><%= item.l %></td>									
					<td><%= item.r %></td>
					<td><%= item.ro %></td>
					<td><%= item.k_scr %></td>
					<td><%= item.k_tr %></td>
					<td><%= item.k_peb %></td>
					<td><%= item.k_f %></td>
					<td><%= item.q %></td>
					<td><%= item.comment %></td>
					<td><span class="glyphicon glyphicon-<%= if item.f then 'ok' else 'minus' end %>" aria-hidden="true"></span></td>
  					<td><%= link_to " ", lnparams_edit_path(:line_id => item.id), :class=> "glyphicon glyphicon-pencil" %>
  						<%= link_to " ", lnparams_destroy_path(:line_id => item.id), :class=> "glyphicon glyphicon-remove",
  						                 data: { confirm: "Удалить линию для #{@mp.messtation} / #{@mp.clsstation}, #{@mp.meconname} / #{@mp.clconname}?" } %></td>  												
				</tr>
			<% end %>	  
	</tbody>
</table>


