<% provide(:title, 'Трансформаторы') %>

 <%= render "messages" %>    	
<center><h1><%= @mp.pname %></h1></center>

<div class="page">
		
    <div class="leftcol">
    <div class="content">
        <h3>Ввод нового транформатора </h3>
        <% @my_arr = [1,2,3,4,5]%>
  	<%= form_for([@mp,@mp.trparams.build]) do |f| %>
  	
  	  
  		<%= f.label :"Потери холостого хода,кВт :"%><br>
  		<%= text_field_tag 'pxx'%><br><br>
  		<%= f.label :"Потери короткого замыкания,кВт : "%><br>
  		<%= text_field_tag 'pkz'%><br><br>
  		<%= f.label :"Номинальная мощность : "%><br>
  		<%= text_field_tag 'snom'%><br><br>
  		<%= f.label :"Uкз, кВ : "%><br>
  		<%= text_field_tag 'ukz'%><br><br>
  		<%= f.label :"Io : "%><br>
  		<%= text_field_tag 'io'%><br><br>
  		
  		
  		
  		<%= f.submit "Сохранить" %>
  	<% end %>
  	</div>
    </div>

    <div class="rightcol">
        <div class="content">
        	<h3>Транформаторы </h3>
				<table  border="1" cellspacing="1" cellpadding="1">
				<thead>
					<tr>
			   			<th>№</th>
			   			<th>Pxx</th>
			   			<th>Pкз</th>
			   			<th>Sном</th>
			   			<th>Uкз</th>
			   			<th>Io</th>
			   			<th>Qkz</th>
			   			<th>Действие</th>
					</tr>	
				</thead>
				<tbody>
					<% i = 0%>
					<%  %>
					<% @trp.each do |cl| %>
					<tr>
						<td><%= i = i + 1 %></td>
						<td><%= cl.pxx %></td>
						<td><%= cl.pkz %></td>
						<td><%= cl.snom %></td>
						<td><%= cl.ukz %></td>
						<td><%= cl.io %></td>
						<td><%= cl.qkz %></td>
						<td><%= button_to "Изменить" ,:controller => "trparams", :action => "edit", :tr_id => cl.id %></td>
					</tr>		
					<% end %>
					
				</tbody>	
				</table>
		    <br><br>
        </div>
    </div>
    </div>    
    <br><br>
   <div class="page">
        
    <div class="leftcol">
        <h3>Ввод новой линии </h3>
        <% @my_arr = [1,2,3,4,5]%>
  	<%= form_for([@mp,@mp.lineprs.build]) do |f| %>
  		<%= f.label :"Длина линии :"%><br>
  		<%= text_field_tag 'l1'%><br><br>
  		<%= f.label :"Сопротивление линии : "%><br>
  		<%= text_field_tag 'p1'%><br><br>
  		<%= f.submit "Сохранить" %>
  	<% end %>
    </div>

    <div class="rightcol">
        <div class="content">
        	<h3>Линии </h3>
				<table  border="1" cellspacing="1" cellpadding="1">
				<thead>
					<tr>
			   			<th>№</th>
			   			<th>Длина линии,км</th>
			   			<th>Сопротивление линии</th>
			   			<th>Действие</th>
					</tr>	
				</thead>
				<tbody>
					<% i = 0%>
					<%  %>
					<% @lnp.each do |cl| %>
					<tr>
						<td><%= i = i + 1 %></td>
						<td><%= cl.l1 %></td>
						<td><%= cl.p1 %></td>
						<td><%= button_to "Изменить" , :action => :show, :controller=>"mpoints",:num => cl.id%></td>
					</tr>		
					<% end %>
					
				</tbody>	
				</table>
		    <br><br>
        </div>
    </div>

</div>
  	
