<% provide(:title, 'Параметры') %>

<nav class="navbar">
  <ul class="nav nav-pills nav-pillspull-right">
    <li><%= link_to "Назад", company_path(@mp.company.id), :class => "glyphicon glyphicon-level-up" %></li>
  </ul>  
</nav>
 	
<ul class="breadcrumb">
  <li><%= link_to "Филиал: #{@mp.company.filial.name}", filial_path(@mp.company.filial.id), :class => "glyphicon glyphicon-home" %></li>
  <li><%= link_to "Потребитель: #{@mp.company.name}", company_path(@mp.company.id), :class => "glyphicon glyphicon-lamp" %></li>
  <li class="active"><span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true"></span><strong><%= "Точка учета: #{@mp.messtation} / #{@mp.clsstation}, #{@mp.meconname} / #{@mp.clconname}" %></strong></li>
</ul>

<% if @flag=='tadd' %>
		<div class="alert alert-danger" role="alert">
			<a class="close" data-dismiss="alert">&#215;</a>
  			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  			<span class="sr-only">Error:</span>
  		    <%= "Параметры не сохранены. Проверьте введенные данные." %>
		</div>
<% end %>		

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"  aria-expanded="false" aria-controls="collapseOne" class = "glyphicon glyphicon-wrench">
          <% if @flag!='tedit' %>  
              Добавить транcформатор 
          <% else  %>
              Редактировать параметры трансформатора
          <% end %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse <%= if @flag.nil? then "collapse" end %>" role="tabpanel" aria-labelledby="headingOne">	
      <div class="panel-body">
		<h3 align="center">
          <% if @flag!='tedit' %>  			
			Ввод нового транcформатора
          <% else  %>
            Редактирование параметров трансформатора
          <% end %>			
		</h3>
		<%= form_for ([@mp,@mp.trparams.build]) do |f| %>	
			<table class="table table-striped">
				<thead>
					<tr>
		   				<th>Потери холостого хода, кВт</th>
		   				<th>Потери короткого замыкания, кВт</th>
		   				<th>Номинальная мощность</th>
		   				<th>Uкз, кВ</th>
		   				<th>Io</th>
		   				<th>Комментарий</th>
					</tr>	
				</thead>
				<tbody>
	   				<tr>		
						<td><%= number_field_tag 'pxx', @pxx, placeholder: "Потери...", min: 0, max: 1000000, step: 0.0001  %></td>
						<td><%= number_field_tag 'pkz', @pkz,  placeholder: "Потери...", min: 0, max: 1000000, step: 0.0001 %></td>
						<td><%= number_field_tag 'snom', @snom, placeholder: "мощность...", min: 0, max: 1000000, step: 0.0001 %></td>
						<td><%= number_field_tag 'ukz', @ukz,  placeholder: "Uкз...", min: 0, max: 1000000, step: 0.0001 %></td>
						<td><%= number_field_tag 'io', @io, size: "10", placeholder: "Io...", maxlength:"10", min: 0, max: 1000000, step: 0.0001 %></td>
						<td><%= text_field_tag 'comment', @comment, placeholder: 'Комментарий...' %></td>			        
	   				</tr>
				</tbody>
			</table>
  			<%= hidden_field_tag :mpoint_id, @mp.id %>
  			<%= hidden_field_tag :tr_id, @tr_id %>
          <div  align="center"> 
			  <%= button_tag "Сохранить", type: 'submit', class: "btn btn-default glyphicon glyphicon-ok pull-center", 
			                data: { confirm: "Сохранить данные для #{@mp.messtation} / #{@mp.clsstation}, #{@mp.meconname} / #{@mp.clconname}?" } %>                            
			  <% if @flag=='tedit' %>	                
			     <%= button_to mpoint_path(@mp), :class => "btn btn-default" do %>
			         <span class="glyphicon glyphicon-remove">Отмена</span>
			     <% end %> 
              <% end %>
           </div> 	                
		<% end %>
      </div>
    </div>
</div>

<h3 align="center">Транcформаторы</h3>

<table class="table table-striped">
	<thead>
		<tr>
		   <th>№</th>
		   <th>Потери холостого хода, кВт</th>
		   <th>Потери короткого замыкания, кВт</th>
		   <th>Номинальная мощность</th>
		   <th>Uкз, кВ</th>
		   <th>Io</th>
		   <th>Расчет</th>
		   <th>Комментарий</th>
		   <th></th>
		</tr>	
	</thead>
	<tbody>					
			<% i = 0%>
			<% @trp.each do |item| %>
			   <% if item.updated_at > (Time.now.ago($GreenDelay)) %>
			    <tr class="success">
			   <% else %> 	
				<tr>
			   <% end %>		
					<% i = i + 1 %>
					<td><%= if params[:page].nil? then i else (params[:page].to_i - 1) * @perpage + i end  %></td>
					<td><%= item.pxx %></td>
				    <td><%= item.pkz %></td>										
					<td><%= item.snom %></td>
					<td><%= item.ukz %></td>
					<td><%= item.io %></td>
				    <td><%= item.qkz %></td>
					<td><%= item.comment %></td>
  					<td><%= link_to " ", trparams_edit_path(:tr_id => item.id), :class=> "glyphicon glyphicon-pencil" %>
  						<%= link_to " ", trparams_destroy_path(:tr_id => item.id), :class=> "glyphicon glyphicon-remove",
  						                 data: { confirm: "Удалить трансформатор для #{@mp.messtation} / #{@mp.clsstation}, #{@mp.meconname} / #{@mp.clconname}?" } %></td>  						
				</tr>
			<% end %>	  
	</tbody>
</table>

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class = "glyphicon glyphicon-wrench">
          Добавить линию
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
		<h3 align="center">Ввод новой линии</h3>
		<%= form_for([@mp,@mp.lineprs.build]) do |f| %>
			<table class="table table-striped">
				<thead>
					<tr>
		   				<th>Длина линии,км</th>
		   				<th>Сопротивление линии</th>
		   				<th>Комментарий</th>
					</tr>	
				</thead>
				<tbody>
	   				<tr>		
						<td><%= number_field_tag 'l1', nil, placeholder: "Длина...", min: 0, max: 1000000, step: 0.0001  %></td>
						<td><%= number_field_tag 'p1', nil, placeholder: "Сопротивление...", min: 0, max: 1000000, step: 0.0001 %></td>
						<td><%= text_field_tag 'comment', nil, placeholder: 'Комментарий...' %></td>			        
	   				</tr>
				</tbody>
			</table>
  			<%= hidden_field_tag :mpoint_id, @mp.id %> 
  			<div  align="center">
			<%= button_tag "Сохранить", type: 'submit', class: "btn btn-default glyphicon glyphicon-ok pull-center", 
			                data: { confirm: "Сохранить данные для #{@mp.messtation} / #{@mp.clsstation}, #{@mp.meconname} / #{@mp.clconname}?" } %></div> 
		<% end %>
      </div>
    </div>
</div>  

<h3 align="center">Линии</h3>

<table class="table table-striped">
	<thead>
		<tr>
		   <th>№</th>
		   <th>Длина линии,км</th>
		   <th>Сопротивление линии</th>
		   <th>Комментарий</th>
		   <th></th>
		</tr>	
	</thead>
	<tbody>					
			<% i = 0%>
			<% @lnp.each do |item| %>
			   <% if item.updated_at > (Time.now.ago($GreenDelay)) %>
			    <tr class="success">
			   <% else %> 	
				<tr>
			   <% end %>		
					<% i = i + 1 %>
					<td><%= if params[:page].nil? then i else (params[:page].to_i - 1) * @perpage + i end  %></td>
					<td><%= item.l1 %></td>									
					<td><%= item.p1 %></td>
					<td><%= item.comment %></td>
  					<td><%= link_to " ","#", :class=> "glyphicon glyphicon-pencil" %>
  						<%= link_to " ", lineprs_destroy_path(:line_id => item.id), :class=> "glyphicon glyphicon-remove",
  						                 data: { confirm: "Удалить линию для #{@mp.messtation} / #{@mp.clsstation}, #{@mp.meconname} / #{@mp.clconname}?" } %></td>  												
				</tr>
			<% end %>	  
	</tbody>
</table>
