	
	
<div class="page">
		<h1><%= @mp.pname %></h1>
    <div class="leftcol">
        <h3>Ввод нового транформатора </h3>
        <% @my_arr = [1,2,3,4,5]%>
  	<%= form_for([@mp,@mp.trparams.build]) do |f| %>
  		<%= f.label :"Потери холостого хода,кВт :"%>
  		<%= text_field_tag 'pxx'%><br>
  		<%= f.label :"Потери короткого замыкания,кВт : "%>
  		<%= text_field_tag 'pkz'%><br>
  		<%= f.label :"Номинальная мощность : "%>
  		<%= text_field_tag 'snom'%><br>
  		<%= f.label :"Время наибольших потерь, : "%>
  		<%= text_field_tag 'tau'%><br>
  		<%= f.label :"T,Расчетный период,час : "%>
  		<%= text_field_tag 'trab'%><br>
  		<%= f.label :"Tm,Время максимальной нагрузки, час: "%>
  		<%= text_field_tag 'tmax'%><br>
  		
  		<%= f.submit "Сохранить" %>
  	<% end %>
    </div>

    <div class="rightcol">
        <div class="content">
        	<h3>Транформаторы </h3>
				<table id="mcl" border="1" cellspacing="1" cellpadding="1">
				<thead>
					<tr>
			   			<th>№</th>
			   			<th>Pxx</th>
			   			<th>Pкз</th>
			   			<th>Sном</th>
			   			<th>Tau</th>
			   			<th>Действие</th>
					</tr>	
				</thead>
				<tbody>
					<% i = 0%>
					<%  %>
					<% @trp.each do |cl| %>
					<tr>
						<td><%= i = i + 1 %></td>
						<td><%= cl.pxx %></td>
						<td><%= cl.pkz %></td>
						<td><%= cl.snom %></td>
						
						<td><%= button_to "Открыть" , :action => :show, :controller=>"mpoints",:num => cl.id%></td>
					</tr>		
					<% end %>
					
				</tbody>	
				</table>
		    <br><br>
        </div>
    </div>
    </div>    
    <br><br>
   <div class="page">
        
    <div class="leftcol">
        <h3>Ввод новой линии </h3>
        <% @my_arr = [1,2,3,4,5]%>
  	<%= form_for([@mp,@mp.lineprs.build]) do |f| %>
  		<%= f.label :"Длина линии :"%>
  		<%= text_field_tag 'l1'%><br>
  		<%= f.label :"Сопративление линии : "%>
  		<%= text_field_tag 'p1'%><br>
  		<%= f.submit "Сохранить" %>
  	<% end %>
    </div>

    <div class="rightcol">
        <div class="content">
        	<h3>Линии </h3>
				<table id="mcl" border="1" cellspacing="1" cellpadding="1">
				<thead>
					<tr>
			   			<th>№</th>
			   			<th>Длина линии,км</th>
			   			<th>Сопративление линии</th>
			   			<th>Действие</th>
					</tr>	
				</thead>
				<tbody>
					<% i = 0%>
					<%  %>
					<% @lnp.each do |cl| %>
					<tr>
						<td><%= i = i + 1 %></td>
						<td><%= cl.l1 %></td>
						<td><%= cl.p1 %></td>
						<td><%= button_to "Открыть" , :action => :show, :controller=>"mpoints",:num => cl.id%></td>
					</tr>		
					<% end %>
					
				</tbody>	
				</table>
		    <br><br>
        </div>
    </div>

</div>
</div>


  	
