<% provide(:title, 'Параметры') %>

<nav class="navbar">
  <ul class="nav nav-pills pull-left">
    <li><%= link_to "Назад", company_path(@mp.company_id, :flr_id => @mp.mesubstation.filial), :class => "glyphicon glyphicon-level-up" %></li>
  </ul>  
</nav>
 	
<ul class="breadcrumb">
  <li><%= link_to "Филиалы", welcome_index_path, :class => "glyphicon glyphicon-home" %></li>		
  <li><%= link_to "Филиал: #{@mp.mesubstation.filial.name}", companies_index_path(:id => @mp.mesubstation.filial), :class => "glyphicon glyphicon-tower" %></li>
  <li><%= link_to "Потребитель: #{@mp.company.name}", company_path(@mp.company_id, :flr_id => @mp.mesubstation.filial), :class => "glyphicon glyphicon-lamp" %></li>
  <li class="active"><span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true"></span><strong><%= "Точка учета: #{@mp.name}, #{@mp.mesubstation.name}, #{@mp.meconname}" %></strong></li>
</ul>
	
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"  aria-expanded="false" aria-controls="collapseOne" class = "glyphicon glyphicon-wrench">
          <% if @flag=='tedit' %>Редактировать параметры трансформатора<% else %>Добавить транcформатор<% end %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse <%= if (@flag!='tedit' && @flag!='tadd') then "collapse" end %>" role="tabpanel" aria-labelledby="headingOne">	
      <div class="panel-body">
		<h3 align="center"><% if @flag=='tedit' %>Редактирование параметров трансформатора<% else  %>Подключение нового транcформатора<% end %></h3>
		<%= simple_form_for(@tr, html: { class: 'form-inline' }) do |f| %>
				<%= f.association :transformator, label: 'Тип трансформатора ', 
				    :label_method => lambda { |transformator| "Unom = #{transformator.unom} кВ | Snom = #{transformator.snom} кВА | Usc = #{transformator.ukz} % | Марка: #{transformator.name}"}, 
				    value_method: :id, include_blank: false, prompt: "Тип трансформатора..." %>
				<%= f.input :comment, label: 'Комментарий ', placeholder: 'Комментарий...', as: :string, :input_html => { :size => 50}  %>
				<%= f.input :f, as: :boolean, checked_value: true, unchecked_value: false, inline_label: 'Активный' %>
				<%= f.input :mpoint_id, as: :integer, as: :hidden %>
	            <div  align="center"> 
				  <%= button_tag "Сохранить", type: 'submit', class: "btn btn-default glyphicon glyphicon-ok pull-center", data: { confirm: "Сохранить трансформатор?" } %>                            	                
				  <%= button_tag "Отмена", type: "submit", name: "cancel", value: true, class: "btn btn-default glyphicon glyphicon-remove pull-center" %>
	            </div> 	                
		<% end %>
      </div>
    </div>
</div>

<h3 align="center">Транcформаторы <%= image_tag('tr-r.png', :alt => "Транcформаторы", :width => 40, :height => 30) %></h3>

<table class="table table-striped  table-hover">
	<thead>
		<tr class="info">
		   <th colspan="1" width="1%">№</th>
		   <th>Тип</th>
		   <th>Uном, кВ</th>
		   <th>Номинальная мощность Sном, кВА</th>
		   <th>Uкз, %</th>
		   <th>Потери короткого замыкания Ркз, кВт</th>
		   <th>Потери холостого хода Рхх, кВт</th>
		   <th>I0, %</th>
		   <th>Qкз, квар</th>
		   <th>Комментарий</th>
		   <th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
		   <th>Комментарий</th>
		   <th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>		   
		   <th colspan="3">.........</th>
		</tr>	
	</thead>
	<tbody>					
			<% i = 0 %>
			<% @trp.each do |item| %>
			   <% if item.updated_at > (Time.now.ago($GreenDelay)) %>
			    <tr class="success">
			   <% else %> 	
				<tr>
			   <% end %>		
					<% i = i + 1 %>
					<td><%= i  %></td>
					<td><%= item.transformator.name %></td>
					<td><%= item.transformator.unom %></td>
					<td><%= item.transformator.snom %></td>
					<td><%= item.transformator.ukz %></td>
				    <td><%= item.transformator.pkz %></td>										
					<td><%= item.transformator.pxx %></td>					
					<td><%= item.transformator.i0 %></td>
				    <td><%= item.transformator.qkz %></td>
					<td><%= item.transformator.comment %></td>
					<td><span class="glyphicon glyphicon-<%= if item.transformator.f then 'ok' else 'minus' end %>" aria-hidden="true"></span></td>
					<td><%= item.comment %></td>
					<td><span class="glyphicon glyphicon-<%= if item.f then 'ok' else 'minus' end %>" aria-hidden="true"></span></td>					
  					<td><%= link_to " ", trparams_edit_path(:tr_id => item.id), :class=> "glyphicon glyphicon-pencil" %>
  						<%= link_to " ", trparams_destroy_path(:tr_id => item.id), :class=> "glyphicon glyphicon-remove",
  						                 data: { confirm: "Удалить трансформатор  #{item.transformator.name} ?" } %></td>  						
				</tr>
			<% end %>	  
	</tbody>
</table>

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class = "glyphicon glyphicon-wrench">
          <% if @flag=='ledit' %>Редактировать параметры линии<% else  %>Добавить линию<% end %>	
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse <%= if (@flag!='ledit' && @flag!='ladd') then "collapse" end %>" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
		<h3 align="center"><% if @flag=='ledit' %>Редактирование параметров линии<% else  %>Подключение новой линии<% end %></h3>
		<%= simple_form_for(@ln, html: { class: 'form-inline' }) do |f| %>
				<%= f.association :line, label: 'Линия ', 
				    :collection => @lines, value_method: :id,
				    :label_method => lambda { |line| "#{line.mesubstation_name} | #{line.name}  | L = #{line.l} км | R = #{line.r} Ом | Марка провода: #{line.wire_name}"},  
				    include_blank: false, prompt: "Линия..." %>				    
				<%= f.input :comment, label: 'Комментарий ', placeholder: 'Комментарий...', as: :string, :input_html => { :size => 50}  %>
				<%= f.input :f, as: :boolean, checked_value: true, unchecked_value: false, inline_label: 'Активный' %>
				<%= f.input :mpoint_id, as: :integer, as: :hidden %>
	            <div  align="center"> 
				  <%= button_tag "Сохранить", type: 'submit', class: "btn btn-default glyphicon glyphicon-ok pull-center", data: { confirm: "Сохранить линию?" } %>                            	                
				  <%= button_tag "Отмена", type: "submit", name: "cancel", value: true, class: "btn btn-default glyphicon glyphicon-remove pull-center" %>
	            </div> 	                
		<% end %>
      </div>
    </div>
</div>  

<h3 align="center">Линии <%= image_tag('lep.png', :alt => "Линии", :width => 40, :height => 30) %></h3>

<table class="table table-striped table-hover">
	<thead>
		<tr class="info">
		   <th colspan="1" width="1%">№</th>
		   <th>Наименование</th>
		   <th>Длина линии L, км</th>
		   <th>Сопротивление линии R, Ом</th>
		   <th>Коэффициент трассы Ktr</th>
		   <th>Коэффициент формы Кf</th>
		   <th>Марка провода</th>
		   <th>Сечение провода q, мм&sup2;</th>
		   <th>Удельное сопротивление материала ρ20, Ом*мм&sup2;/м</th>
		   <th>Коэффициент скрутки Kr</th>
		   <th>Коэффициент пов. эффекта и близости Kc</th>
		   <th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th> 		   		   
		   <th>Комментарий</th>
		   <th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
		   <th>.........</th>
		</tr>	
	</thead>
	<tbody>					
			<% i = 0 %>
			<% @lnp.each do |item| %>
			   <% if item.updated_at > (Time.now.ago($GreenDelay)) %>
			    <tr class="success">
			   <% else %> 	
				<tr>
			   <% end %>		
					<% i = i + 1 %>
					<td><%= i  %></td>
					<td><%= item.line_name %></td>
					<td><%= item.l %></td>									
					<td><%= item.r %></td>
					<td><%= item.k_tr %></td>
					<td><%= item.k_f %></td>
					<td><%= item.wire_name %></td>
					<td><%= item.q %></td>
					<td><%= item.ro %></td>
					<td><%= item.k_scr %></td>	
					<td><%= item.k_peb %></td>	
					<td><span class="glyphicon glyphicon-<%= if item.f then 'ok' else 'minus' end %>" aria-hidden="true"></span></td>
					<td><%= item.comment %></td>
					<td><span class="glyphicon glyphicon-<%= if item.line_f then 'ok' else 'minus' end %>" aria-hidden="true"></span></td>
  					<td><%= link_to " ", lnparams_edit_path(:ln_id => item.id), :class=> "glyphicon glyphicon-pencil" %>
  						<%= link_to " ", lnparams_destroy_path(:ln_id => item.id), :class=> "glyphicon glyphicon-remove",
  						                 data: { confirm: "Удалить линию?" } %></td>  												
				</tr>
			<% end %>	  
	</tbody>
</table>

<h3 align="center">ζ</h3>

<table class="table table-striped table-hover table-condensed table-sm">
	<thead>
		<tr class="info">
		   <th colspan="1" width="5%">№</th>
		   <th colspan="1" width="5%">Tm, ч.</th>
		   <th colspan="1" width="5%">ζm, ч.</th>
		   <th colspan="1" width="85%"></th>
		</tr>	
	</thead>
	<tbody>					
			<% i = 0%>
			<% @tau.each do |item| %>
				<tr>		
					<% i = i + 1 %>		        
					<td><%= i  %></td>
					<td><%= item.tm %></td>									
					<td><%= item.taum %></td>
					<td></td>									
				</tr>
			<% end %>	  
	</tbody>
</table>

