<% provide(:title, 'Параметры') %>

<nav class="navbar">
  <ul class="nav nav-pills pull-left">
    <li><%= link_to "Назад", company_path(@mp.company_id, :flr_id => @mp.mesubstation.filial), :class => "glyphicon glyphicon-level-up" %></li>
  </ul>  
</nav>
 	
<ul class="breadcrumb">
  <li><%= link_to "Филиалы", welcome_index_path, :class => "glyphicon glyphicon-home" %></li>		
  <li><%= link_to "Филиал: #{@mp.mesubstation.filial.name}", companies_index_path(:id => @mp.mesubstation.filial,:cp_id => @mp.company_id), :class => "glyphicon glyphicon-tower" %></li>
  <li><%= link_to "Потребитель: #{@mp.company.name}", company_path(@mp.company_id, :flr_id => @mp.mesubstation.filial), :class => "glyphicon glyphicon-lamp" %></li>
  <li class="active"><span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true"></span><strong><%= "Точка учета: #{@mp.name}, #{@mp.mesubstation.name}, #{@mp.meconname}" %></strong></li>
</ul>
	
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"  aria-expanded="false" aria-controls="collapseOne" class = "glyphicon glyphicon-wrench">
          <% if @flag=='tedit' %>Редактировать параметры трансформатора<% else %>Добавить транcформатор<% end %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse <%= if (@flag!='tedit' && @flag!='tadd') then "collapse" end %>" role="tabpanel" aria-labelledby="headingOne">	
      <div class="panel-body">
		<h3 align="center"><% if @flag=='tedit' %>Редактирование параметров трансформатора<% else  %>Подключение нового транcформатора<% end %></h3>
		<%= simple_form_for(@tr, html: { class: 'form-inline' }) do |f| %>
				<%= f.association :transformator, label: 'Тип трансформатора ', 
				    :label_method => lambda { |transformator| "Unom = #{transformator.unom} кВ | Snom = #{transformator.snom} кВА | Usc = #{transformator.ukz} % | Марка: #{transformator.name}"}, 
				    value_method: :id, include_blank: false, prompt: "Тип трансформатора..." %>
				<%= f.input :comment, label: 'Комментарий ', placeholder: 'Комментарий...', as: :string, :input_html => { :size => 50}  %>
				<%= f.input :f, as: :boolean, checked_value: true, unchecked_value: false, inline_label: 'Активный' %>
				<%= f.input :mpoint_id, as: :integer, as: :hidden %>
	            <div  align="center"> 
				  <%= button_tag "Сохранить", type: 'submit', class: "btn btn-default glyphicon glyphicon-ok pull-center", data: { confirm: "Сохранить трансформатор?" } %>                            	                
				  <%= button_tag "Отмена", type: "submit", name: "cancel", value: true, class: "btn btn-default glyphicon glyphicon-remove pull-center" %>
	            </div> 	                
		<% end %>
      </div>
    </div>
</div>

<h3 align="center">Транcформаторы <%= image_tag('tr-r.png', :alt => "Транcформаторы", :width => 40, :height => 30) %></h3>

<small>
<table class="table table-striped  table-hover  table-condensed">
	<thead>
		<tr class="info">
		   <th>ID</th>
		   <th>Тип</th>
		   <th>Uном, кВ</th>
		   <th>Номинальная мощность Sном, кВА</th>
		   <th>Uкз, %</th>
		   <th>Потери короткого замыкания Ркз, кВт</th>
		   <th>Потери холостого хода Рхх, кВт</th>
		   <th>I0, %</th>
		   <th>Qкз, квар</th>
		   <th>Комментарий</th>
		   <th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
		   <th>Комментарий</th>
		   <th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>		   
		   <th colspan="3">.........</th>
		</tr>	
	</thead>
	<tbody>					
			<% @trp.each do |item| %>
			   <% if item.updated_at > (Time.now.ago($GreenDelay)) %>
			    <tr class="success">
			   <% else %> 	
				<tr>
			   <% end %>		
					<td><%= item.transformator.id %></td>
					<td><%= item.transformator.name %></td>
					<td><%= item.transformator.unom %></td>
					<td><%= item.transformator.snom %></td>
					<td><%= item.transformator.ukz %></td>
				    <td><%= item.transformator.pkz %></td>										
					<td><%= item.transformator.pxx %></td>					
					<td><%= item.transformator.i0 %></td>
				    <td><%= item.transformator.qkz %></td>
					<td><%= item.transformator.comment %></td>
					<td><span class="glyphicon glyphicon-<%= if item.transformator.f then 'ok' else 'minus' end %>" aria-hidden="true"></span></td>
					<td><%= item.comment %></td>
					<td><span class="glyphicon glyphicon-<%= if item.f then 'ok' else 'minus' end %>" aria-hidden="true"></span></td>					
  					<td><%= link_to " ", trparams_edit_path(:tr_id => item.id), :class=> "glyphicon glyphicon-pencil" %>
  						<%= link_to " ", trparams_destroy_path(:tr_id => item.id), :class=> "glyphicon glyphicon-remove",
  						                 data: { confirm: "Удалить трансформатор  #{item.transformator.name} ?" } %></td>  						
				</tr>
			<% end %>	  
	</tbody>
</table>
</small>

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class = "glyphicon glyphicon-wrench">
          <% if @flag=='ledit' %>Редактировать параметры линии<% else  %>Добавить линию<% end %>	
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse <%= if (@flag!='ledit' && @flag!='ladd') then "collapse" end %>" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
		<h3 align="center"><% if @flag=='ledit' %>Редактирование параметров линии<% else  %>Подключение новой линии<% end %></h3>
		<%= simple_form_for(@ln, html: { class: 'form-inline' }) do |f| %>
				<%= f.input :condate, label: 'Дата ', as: :datetime, start_year: 2016 , end_year: Date.today.year,  order: [:day, :month, :year]  %></br></br>		
				<%= f.association :line, label: 'Линия ', 
				    :collection => @lines, value_method: :id,
				    :label_method => lambda { |line| "#{line.mesubstation_name} | #{line.mesubstation2_name} | #{line.name}  | L = #{line.l} км | R = #{line.r} Ом | Марка провода: #{line.wire_name}"},  
				    include_blank: false, prompt: "Линия..." %><br></br>   				    
				<%= f.input :comment, label: 'Комментарий ', placeholder: 'Комментарий...', as: :string, :input_html => { :size => 50}  %><br></br>
				<%= f.input :f, as: :boolean, checked_value: true, unchecked_value: false, inline_label: 'Активный' %><br>
				<%= f.input :mpoint_id, as: :integer, as: :hidden %>
	            <div  align="center"> 
				  <%= button_tag "Сохранить", type: 'submit', class: "btn btn-default glyphicon glyphicon-ok pull-center", data: { confirm: "Сохранить линию?" } %>                            	                
				  <%= button_tag "Отмена", type: "submit", name: "cancel", value: true, class: "btn btn-default glyphicon glyphicon-remove pull-center" %>
	            </div> 	                
		<% end %>
      </div>
    </div>
</div>  

<h3 align="center">Линии <%= image_tag('lep.png', :alt => "Линии", :width => 40, :height => 30) %></h3>
<small>
<table class="table table-striped table-hover table-condensed">
	<thead>
		<tr class="info">
      	   <th>ID</th>
      	   <th>Наименование</th>
		   <th title="Длина линии">L, км</th>
		   <th title="Сопротивление линии">R, Ом</th>
		   <th title="Удельное cопротивление материала">ρ20, Ом*мм&sup2;/м</th>
		   <th title="Коэффициент скрутки">Kr</th>
		   <th title="Коэффициент трассы">Kr</th>
		   <th title="Коэффициент пов. эффекта и близости">Kc</th>
		   <th title="Коэффициент формы">Кф</th>
		   <th title="Сечение провода">q, мм&sup2</th>
		   <th title="Марка провода">Провод</th>
		   <th>Uном, кВ</th>
		   <th title="Кол-во точек учета, которым принадлежит линия"><span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true"></span></th>
		   <th>ПСТ1</th>
		   <th>ПСТ2</th>
		   <th>Дата</th>
		   <th>Комментарий при подключении</th>
		   <th>Комментарий при линии</th>		   
		   <th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th> 		   		   
		   <th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
		   <th>.........</th>	
		</tr>	
	</thead>
	<tbody>					
			<% @lnp.each do |item| %>
			   <% if item.updated_at > (Time.now.ago($GreenDelay)) %>
			    <tr class="success">
			   <% else %> 	
				<tr>
			   <% end %>		
			      	<td><%= item.line.id %></td>
			      	<td><%= item.line.name %></td>
					<td title="Длина линии"><%= number_with_delimiter(item.l, delimiter: " ") %></td>									
					<td title="Сопротивление линии"><%= number_with_delimiter(item.r, delimiter: " ") %></td>
					<td title="Сопротивление материала"><%= if item.l!=0 then number_with_delimiter(item.ro, delimiter: " ") end %></td>
					<td title="Коэффициент скрутки"><%= if item.l!=0 then number_with_delimiter(item.k_scr, delimiter: " ") end %></td>
					<td title="Коэффициент трассы"><%= if item.l!=0 then number_with_delimiter(item.k_tr, delimiter: " ") end %></td>
					<td title="Коэффициент пов. эффекта и близости"><%= if item.l!=0 then number_with_delimiter(item.k_peb, delimiter: " ") end %></td>
					<td title="Коэффициент формы"><%= if item.l!=0 then number_with_delimiter(item.k_f, delimiter: " ") end %></td>
					<td title="Сечение провода"><%= if item.l!=0 then item.q end %></td>
					<td title="Марка провода"><%= if item.l!=0 then item.mark end %></td>
					<td><%= item.unom %></td>
					<td title="Кол-во точек учета, которым принадлежит линия"><%= Vmpointslnparam.select(:id).distinct.where("line_id = ?", item.line_id).count %></td>
					<td title="<%= item.mesubstation_name %>"><%= item.mesubstation_id %></td>
					<td title="<%= item.mesubstation2_name %>"><%= item.mesubstation2_id %></td>
					<td><%= if item.condate then item.condate.strftime("%d.%m.%Y_%H:%M") end %></br><%= if item.condate_end then item.condate_end.strftime("%d.%m.%Y_%H:%M") end %></td>
					<td><%= item.comment %></td>
					<td><%= item.line.comment %></td>		
					<td><span class="glyphicon glyphicon-<%= if item.f then 'ok' else 'minus' end %>" aria-hidden="true"></span></td>
					<td><span class="glyphicon glyphicon-<%= if item.line_f then 'ok' else 'minus' end %>" aria-hidden="true"></span></td>
  					<td><%= link_to " ", lnparams_edit_path(:ln_id => item.id), :class=> "glyphicon glyphicon-pencil" %>
  						<%= link_to " ", lnparams_destroy_path(:ln_id => item.id), :class=> "glyphicon glyphicon-remove",
  						                 data: { confirm: "Удалить линию?" } %></td>		                   												
				</tr>
			<% end %>	  
	</tbody>
</table>
<h5>При <mark>изменении СХЕМЫ питания потребителя</mark> добавляется новая линия с меткой времени. Т.е. если до 1.10.2017 счетчики питались от Ф54, а с 01.10.2017 - от Ф33, нужно на 01.10.2017 добавить 2 линии: Ф33 (пометить ее активной), Ф54 (пометить некативной).(пример: Knauf-Gips август 2017)</h5>
</small>
	
<h3 align="center">ζ</h3>
<small>
<table class="table table-striped table-hover table-condensed table-sm">
	<thead>
		<tr class="info">
		   <th colspan="1" width="5%">№</th>
		   <th colspan="1" width="5%">Tm, ч.</th>
		   <th colspan="1" width="5%">ζm, ч.</th>
		   <th colspan="1" width="85%"></th>
		</tr>	
	</thead>
	<tbody>					
			<% i = 0%>
			<% @tau.each do |item| %>
				<tr>		
					<% i = i + 1 %>		        
					<td><%= i  %></td>
					<td><%= item.tm %></td>									
					<td><%= item.taum %></td>
					<td></td>									
				</tr>
			<% end %>	  
	</tbody>
</table>
</small>

