  <script type="text/javascript">
  /* <![CDATA[ */
   function externalLinks() {
    links = document.getElementsByTagName("a");
    for (i=0; i<links.length; i++) {
      link = links[i];
      if (link.getAttribute("href") && link.getAttribute("rel") == "external")
      link.target = "_blank";
    }
   }
   window.onload = externalLinks;
  /* ]]> */ 
 </script>

<% provide(:title, 'Показания') %>

<nav class="navbar">
  <ul class="nav nav-pills pull-left">
    <li><%= link_to "Назад", if @met.nil? then company_path(@mp.company.id, :flr_id => @mp.furnizor_id) else meters_index_path(:id => @mp.id) end , :class => "glyphicon glyphicon-level-up" %></li>
    <li><%= link_to "Справка", mpoints_helpmvalue_path(:id => @mp.id, :met => @met), :class => "glyphicon glyphicon-info-sign", :rel => "external" %></li>
  </ul>  
</nav>

<ul class="breadcrumb">
  <li><%= link_to "Поставщики", welcome_index_path, :class => "glyphicon glyphicon-home" %></li>	
  <li><%= link_to(if @mp.furnizor.name.upcase.include?("FEE") then "Поставщик: #{@mp.furnizor.name} #{image_tag('fee.png', :size => 25)}".html_safe
  	                      elsif @mp.furnizor.name.upcase.include?("FENOSA") then "Поставщик: #{@mp.furnizor.name} #{image_tag('fenosa.png', :size => 25)}".html_safe
  	                      else "Поставщик: #{@mp.furnizor.name}" end, companies_path(:cp_id => @mp.company_id, :id => @mp.furnizor_id), :class => "glyphicon glyphicon-piggy-bank") %></li>
  <li><%= link_to "Потребитель: #{@mp.company.name}", company_path(:id => @mp.company_id, :flr_id => @mp.furnizor_id), :class => "glyphicon glyphicon-lamp" %></li>
  <% if !@met.nil? %>
    <li><%= link_to "Точка учета: #{@mp.name}, #{@mp.mesubstation.name}, #{@mp.meconname}", meters_index_path(:id => @mp.id), :class => "glyphicon glyphicon-object-align-horizontal" %></li>
    <li class="active"><span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>
  	    <strong><%= "Счетчик: #{@met.meternum}" %></strong></li>
  <% else %>
    <li class="active"><span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true"></span>
  	    <strong><%= "Точка учета: #{@mp.name}, #{@mp.mesubstation.name}, #{@mp.meconname}" %></strong></li>
  <% end %>
</ul>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class = "glyphicon glyphicon-wrench">
          <% if @flag=='mvedit' %>Редактировать показания<% else %>Добавить показания<% end %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse <%= if (@flag!='mvedit' && @flag!='mvadd') then "collapse" end %>" role="tabpanel" aria-labelledby="headingOne">	
      <div class="panel-body">
	  <% if @mets.empty? %>
		<div class="alert alert-danger" role="alert">
  			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  			<span class="sr-only">Error:</span>
  			У данной точки учета нет счетчиков
		</div>
	  <% else %> 	
		<h3 align="center"><% if @flag=='mvedit' %>Редактирование показаний<% else  %>Ввод новых показаний<% end %></h3>
		<%= form_for([@mp,@mp.mvalues.build], html: { class: 'form-inline' }) do |f| %>
		   		<div class="form-group">		
		   				<label for='comment' class="control-label">Дата актирования</label>
						<%= date_field_tag 'actdate', @mv_params[:actdate], class: "form-control" %>
				</div>
		   		<div class="form-group">		
		   				<label for='comment' class="control-label">Счетчик</label>
						<%= select_tag 'meter_id', options_for_select(@mets, @mv_params[:meter_id]), class: "form-control" %>
				</div><br><br>
          <div class="row">					
		    <div class="col-md-3">
		    <div class="panel  panel-default">
		    <div class="panel-body">				
		   		<div class="form-group">		
		   				<label for='comment' class="control-label">Активный прием</label>
						<%= number_field_tag 'actp180', @mv_params[:actp180], min: 0, max: 1000000, step: 0.0001, class: "form-control" %>
				</div>
		   		<div class="form-group">		
		   				<label for='comment' class="control-label">Активная отдача</label>
						<%= number_field_tag 'actp280', @mv_params[:actp280], min: 0, max: 1000000, step: 0.0001, class: "form-control" %>
				</div>
		   		<div class="form-group">		
		   				<label for='comment' class="control-label">Реактивный прием</label>
						<%= number_field_tag 'actp380', @mv_params[:actp380], min: 0, max: 1000000, step: 0.0001, class: "form-control" %>
				</div>
		   		<div class="form-group">		
		   				<label for='comment' class="control-label">Реактивная отдача</label>
						<%= number_field_tag 'actp480', @mv_params[:actp480], min: 0, max: 1000000, step: 0.0001, class: "form-control" %>
				</div><br><br>
			</div>
		  	</div>
		  	</div>
		  	<div class="col-md-3">
		    <div class="panel  panel-default">
		    <div class="panel-body">	
		   		<div class="form-group">		
		   				<label for='comment' class="control-label">Потребление субабонента, кВт*ч</label>
						<%= number_field_tag 'dwa', @mv_params[:dwa], min: 0, max: 1000000000, step: 0.0001, class: "form-control", title: 'если есть (необязательный параметр)' %>
				</div>				
		   		<div class="form-group">		
		   				<label for='comment' class="control-label">Недоучет, кВт*ч</label>
						<%= number_field_tag 'undercount', @mv_params[:undercount], min: 0, max: 1000000000, step: 0.0001, class: "form-control", title: 'если есть (необязательный параметр)' %>
				</div>
				<div class="form-group">		
		   				<label for='comment' class="control-label">Время работы электроустановки Траб, часы</label>
						<%= number_field_tag 'trab', @mv_params[:trab], max: 1000000, step: 1, class: "form-control", title: 'если есть (необязательный параметр)' %>
				</div>	
			</div>
		  	</div>
		  	</div>
		  	<div class="col-md-6">
		    <div class="panel  panel-default">
		    <div class="panel-body">
				<div class="form-group">
		   				<label for='fnefact' class="control-label"><span class="glyphicon glyphicon-record" aria-hidden="true">Включить недоучет в расчет потерь</span></label>
						<%= check_box_tag 'fnefact', 'yes', if (@mv_params[:fnefact])=='true' then 'yes' else nil end, class: "form-control" %>
		   		</div>
				<div class="form-group">
		   				<label for='fanulare' class="control-label"><span class="glyphicon glyphicon-flash" aria-hidden="true">Учет А- (не аннулировать отдачу)</span></label>
						<%= check_box_tag 'fanulare', 'yes', if (@mv_params[:fanulare])=='true' then 'yes' else nil end, class: "form-control" %>
		   		</div>	   		
		   		<div class="form-group">		
		   				<label for='comment' class="control-label">Комментарий</label>
						<%= text_field_tag 'comment', @mv_params[:comment], placeholder: 'Комментарий...',  :size=>"50", class: "form-control" %>
		   		</div>		
		   		<div class="form-group">
		   				<label for='f' class="control-label"><span class="glyphicon glyphicon-ok" aria-hidden="true">Активный</span></label>		   			
						<%= check_box_tag 'f', 'yes', if (@mv_params[:f])=='true' then 'yes' else nil end, class: "form-control" %>
		   		</div>		
		   		<div class="form-group">
		   				<label for='r' class="control-label"><span class="glyphicon glyphicon-pushpin" aria-hidden="true">Расчетный день</span></label>
						<%= check_box_tag 'r', 'yes', if (@mv_params[:r])=='true' then 'yes' else nil end, class: "form-control" %>
		   		</div>
			</div>
		  	</div>
		  	</div>		   		
		   	</div> <!--  row -->			
				<%= hidden_field_tag :mpoint_id, @mp.id %>
				<%= hidden_field_tag :met, unless @met.nil? then @met.id else nil end %>
				<%= hidden_field_tag :mv_id, @mv_params[:mv_id]%>
	            <div  align="center"> 
				  <%= button_tag "Сохранить", type: 'submit', class: "btn btn-default glyphicon glyphicon-ok pull-center", data: { confirm: "Сохранить показания ?" } %>                            	                
				  <%= button_tag "Отмена", type: "submit", name: "cancel", value: true, class: "btn btn-default glyphicon glyphicon-remove pull-center" %>
	            </div> 			                
		<% end %>
	  <% end %>
      </div>
    </div>
  </div>  
</div>
			
<h3 align="center">История показаний <%= image_tag('indicii.png', :alt => "Показания", :width => 60, :height => 30) %></h3>
<small>
<table class="table table-striped  table-hover table-condensed">
	<thead>
		<tr class="info">
		   <th>№</th>
		   <th>Дата актирования</th>
		   <th title="№ счетчика"  width="8%" >Счетчик</th>
		   <th title="Дата установки счетчика">Дата монтажа</th>
		   <th>Активный прием</th>
		   <th>Активная отдача</th>
		   <th>Реактивный прием</th>
		   <th>Реактивная отдача</th>
		   <th title="Вычитается из Wa до расчета потерь">Потребление <br>субабонента<br>, кВт*ч</th>
		   <th title="Добавляется к Wa">Недоучет, кВт*ч</th>
		   <th title="Включить недоучет в расчет потерь в линии"><span class="glyphicon glyphicon-record" aria-hidden="true"></span></th>		   
		   <th title="Учет А-: не аннулировать отдачу"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span></th>
		   <th title="Время работы электроустановки Tраб (если пусто, то Траб=часы между текущей и предыдущей датами)(0 = пусто)">Траб, часы</th>
		   <th>Комментарий</th>
		   <th title="Включить данные в расчет"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
		   <th title="Расчетный день"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></th>
		   <th>.........</th>
		</tr>	
	</thead>
	<tbody>					
	  <% i = 0%>
	  <% if !@mvs.nil? %>
			<% @mvs.each do |item| %>
			   <% case when item.actdatefail then %><tr class="danger">
			   	    <% when item.frfail then %><tr class="warning">	
			   	    <% when item.fzero then %><tr class="info">						   
				    <% when item.mvalue_updated_at > (Time.now.ago($GreenDelay)) then %><tr class="success">
				    <% else %><tr>
			   <% end %>		
					<% i = i + 1 %>
					<td><%= if params[:page].nil? then i else (params[:page].to_i - 1) * @perpage + i end  %></td>
					<td nowrap><%= item.actdate.to_formatted_s(:day_month_year) %></td>
				    <td nowrap><%= number_with_delimiter(item.meternum, delimiter: " ") %></td>										
					<td nowrap><%= if !item.relevance_date.nil? then item.relevance_date.to_formatted_s(:day_month_year) end %></td>
					<td nowrap><%= number_with_precision(item.actp180, delimiter: " ", precision: 4) %></td>
					<td nowrap><%= number_with_precision(item.actp280, delimiter: " ", precision: 4) %></td>
					<td nowrap><%= number_with_precision(item.actp380, delimiter: " ", precision: 4) %></td>
					<td nowrap><%= number_with_precision(item.actp480, delimiter: " ", precision: 4) %></td>
					<td nowrap title="Потребление субабонента, кВт*ч"><%= number_with_delimiter(item.dwa, delimiter: " ", precision: 4) %></td>
					<td nowrap title="Недоучет, кВт*ч"><%= number_with_delimiter(item.undercount, delimiter: " ", precision: 4) %></td>
					<td title="Включить недоучет в расчет потерь в линии"><% if item.fnefact then %><span class="glyphicon glyphicon-record" aria-hidden="true"></span><% end %></td>
					<td title="Учет А-: не аннулировать отдачу"><% if item.fanulare then %><span class="glyphicon glyphicon-flash" aria-hidden="true"></span><% end %></td>
					<td title="Tраб (если пусто, то Траб=часы между текущей и предыдущей датами)(0 = пусто)"><%= item.trab %></td>						
					<td><%= item.comment %></td>
					<td title="Включить данные в расчет"><span class="glyphicon glyphicon-<%= if item.f then 'ok' else 'minus' end %>" aria-hidden="true"></span></td>
					<td title="Расчетный день"><% if item.r then %><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span><% end %></td>
  					<td><%= link_to " " , mvalues_edit_path(:mv_id => item.mvalue_id, :met => unless @met.nil? then @met.id else nil end), :class=> "glyphicon glyphicon-pencil" %>
  						<%= link_to " " , mvalues_destroy_path(:mv_id => item.mvalue_id), :class=> "glyphicon glyphicon-remove",
  						                 data: { confirm: "Удалить показания за #{item.actdate.to_formatted_s(:day_month_year)} ?" } %></td>  						
				</tr>
			<% end %>	  
	   <% end %>	
	</tbody>
</table>
</small>

<center><small><%= if !@mvs.nil? then will_paginate @mvs, renderer: BootstrapPagination::Rails end %></small></center>

<h5>Если <mark>на расчетный день счетчика на точке учета не было</mark>, для правильного расчета часов работы линии на расчетный день следует поключить виртуальный счетчик с номером 0 и нулевыми показаниями. Пометить показания как расчетный день.(пример: Combinat de piine, Ф54 2Т, ноябрь 2017)</br></h5>
<h5><mark>Красных</mark> и <mark>желтых</mark> строк быть не должно!</h5>
<h5><mark>Красная</mark> строка - проверить дату монтажа счетчика (дата съема показаний выпадает за временные границы работы счетчика)</h5>
<h5><mark>Желтая</mark> строка  - проверить расчетный день <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>(выбрано больше одного расчетного дня в месяце или вообще ни одного)</h5>
<h5><mark>Голубая</mark> строка - проверить переход через 0 (предыдущие показания больше текущих)</h5>
<h5>Зеленая строка - недавно отредактированная строка</h5>
<h5>Ярко-голубая строка - бегунок</h5>
