<% provide(:title, 'Все точки') %>

<script>

	$(document).ready(function() {
	    var table = $('#example').DataTable({
	        "order": [[ 0, "asc" ],[ 1, "desc" ]],
	        "language": {
	            "lengthMenu": "Отображать _MENU_ строк на странице",
	            "zeroRecords": "Ничего не найдено - увы...",
	            "info": "Страница _PAGE_ из _PAGES_",
	            "infoEmpty": "Нет доступных строк",
	            "infoFiltered": "(Отфильтровано из _MAX_ строк)",
	            "search": "Поиск",
	             paginate: {
	                first:      "<<",
	                previous:   "<",
	                next:       ">",
	                last:       ">>"
	            }
	        },
	        "pagingType": "full_numbers",
	        "pageLength": 10,
	        columnDefs: [ 
	           {"orderable": false, targets: 1}, 
               {
	            "searchable": false,
	            "orderable": false,
	            "targets": [2,3,4,5,6,7,8,9,10]
	           },
	            { "visible": false, "targets": 0 },
                { type: 'de_datetime', targets: [1] }
	         ],
	        rowGroup: {
	           dataSrc: 0
	        }      
	    } ); 
	} ); 
  
</script>

<nav class="navbar">
  <ul class="nav nav-pills pull-left">
    <li><%= link_to "Назад", welcome_index_path, :class => "glyphicon glyphicon-level-up" %></li>
    <li><%= link_to image_tag('vjuh-suma.png', :alt => "Отчет", :width => 40, :height => 30, :title => "Отчет FidereDirecte"), 
                    companies_reports_path(:id => @flr.id, :page => @page, :vc => controller.controller_name, :va => controller.action_name) %></li>
    <li><%= link_to image_tag('nezna.png', :alt => "Отчет", :width => 30, :height => 30, :title => "Отчет Model lista fidere directe"), 
                    companies_simplereports_path(:id => @flr.id, :page => @page, :vc => controller.controller_name, :va => controller.action_name) %></li>
    <li><%= link_to image_tag('lampmoney.png', :alt => "Отчет", :width => 30, :height => 30, :title => "Отчет Lista consumatorilor directi"), 
                              companies_regionreports_path(:id => @flr.id, :page => @page, :vc => controller.controller_name, :va => controller.action_name) %></li>    
    <li><%= form_tag("/mpoints/index", method: "get", class: 'form-inline') do %>
    	<div class="form-group">
		  <%= label_tag(:q, "Искать:", class: "control-label") %>
		  <%= search_field_tag(:q, @data_for_search, placeholder: 'Enter your search query here', class: "form-control", title: "код, наименование, филиал, район, поставщик, подстанция, точка учета") %>
		  <%= hidden_field_tag :id, @flr.id %>
		  <%= submit_tag("Поиск", class: "btn btn-primary", name: "search", title: "код, наименование, филиал, район, поставщик, подстанция, точка учета") %>
		</div>
		<% end %></li>
	<li><%= form_tag("/mpoints/index", method: "get", class: 'form-inline') do %>
    	<div class="form-group">
		  <%= label_tag(:qcompany, "Фильтр:", class: "control-label") %>
		  <%= select_tag(:qcompany, options_for_select(@comps, @qcompany), class: "form-control", prompt: "Потребитель...#{@qcompany}", include_blank: false, title: "Потребитель") %>
		  <%= select_tag(:qfurnizor, options_for_select(@furns, @qfurnizor), class: "form-control", prompt: "Поставщик...#{@qfurnizor}", include_blank: false, title: "Поставщик") %>
		  <%= select_tag(:qfilial, options_for_select(@fils, @qfilial), class: "form-control", prompt: "Филиал...#{@qfilial}", include_blank: false, title: "Филиал") %>
		  <%= select_tag(:qregion, options_for_select(@regions, @qregion), class: "form-control", prompt: "Район...#{@qregion}", include_blank: false, title: "Район") %>
		  <%= select_tag(:qmesubstation, options_for_select(@sstations, @qmesubstation), class: "form-control", prompt: "Подстанция...#{@qmesubstation}", include_blank: false, title: "Подстанция") %>
		  <%= hidden_field_tag :id, @flr.id %>
		  <%= submit_tag("Фильтр", class: "btn btn-primary", name: "filter") %>
		</div>
		<% end %></li>	
  </ul>  
</nav>

<ul class="breadcrumb">
  <% if @fpr < 6 then %>
	  <li><%=  link_to "Филиалы", welcome_index_path, :class => "glyphicon glyphicon-home" %></li>		
	  <li class="active"><span class="glyphicon glyphicon-tower" aria-hidden="true"></span><strong><%= "Филиал: #{@flr.name}" %></strong></li>  
  <% elsif @fpr < 9 then %> 	
	  <li><%=  link_to "Поставщики", welcome_index_path, :class => "glyphicon glyphicon-home" %></li>	
	  <li class="active"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span><strong><%= "Поставщик: #{@flr.name} " %></strong>
	  	<%= if @flr.name.upcase.include?("FEE") then image_tag('fee.png', :alt => "FEE", :width => 25, :height => 25) 
		   	                                       elsif @flr.name.upcase.include?("FENOSA") then image_tag('fenosa.png', :alt => "Fenosa", :width => 25, :height => 25) end %>
	  </li> 	  
  <% end %>
</ul>


<h3 align="center">Точки учета все <span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true"></span><% if @filter==1 then %><span class="glyphicon glyphicon-filter" aria-hidden="true"></span><% end %></h3> 
<small>           
<table id="example" class="table table-bordered table-condensed table-hover table-striped dt-responsive nowrap compact" style="width:100%">
	   <% 2.times do |i| %>	
	   <% if i==0 then %><thead><% else %><tfoot><% end %>
			<tr class="info">
			   <th></th>
			   <th>Дата</th>			   
			   <th>Uном, кВ</th> 
			   <th title="Особенности расчета тех расхода">CT</th>
			   <th title="Сos из контракта">cos φ</th>
			   <th title="Наш трансформатор - не считать потери хх в трансформаторе"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span></th>
			   <th title="Обратное включение счетчика"><span class="glyphicon glyphicon-random" aria-hidden="true"></span></th>
			   <th title="Граница раздела и точка учета не совпадают"><span class="glyphicon glyphicon-adjust" aria-hidden="true"></span></th>
			   <th title="Потери в линии ME"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></th> 	
			   <th>Комментарий</th>
			   <th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>		       
			</tr>	
	   <% if i==0 then %></thead><% else %></tfoot><% end %>
	   <% end %>
		<tbody>
			   <% @mp.each do |item| %>
			   <% if item.updated_at > (Time.now.ago($GreenDelay)) %>
			    	<tr class="success">
			   <% else %> 	
					<tr>
			   <% end %>	
						<td nowrap>
						<%= item.company_shname %> | <%= link_to item.id, mpoint_path(item) %> | 
						<%= link_to (if item.cod then item.cod else ' ' end), mpoint_path(item) %>| 
						<%= item.name %> |  
						<%= if item.furnizor then item.furnizor.name end %> | 
						<%= if item.filial then item.filial.name end %> | 
						<%= if item.region then item.region.cvalue end %> | 
						<%= if item.mesubstation then item.mesubstation.name end %> |
						<%= "#{item.voltcl}кВ" %> |    						
						<%= if item.meconname.count("a-zA-Zа-яА-ЯîÎ") > 0 then item.meconname else "#{item.voltcl} Î #{item.meconname} F" end %> | 
						<%= link_to item.clconname, mpoint_path(item) %> | <%= item.comment %> | <span class="glyphicon glyphicon-<%= if item.f then 'ok' else 'minus' end %>" aria-hidden="true"></span> 
						<% if (current_user.has_role? :cduser) || (@fpr > 5) %> 
						       <%= link_to image_tag('meter.png', :alt => "Счетчики", :width => 20, :height => 20) , meters_index_path(:id => item.id), :title => "Счетчики" %>
						       <%= link_to image_tag('indicii.png', :alt => "Показания", :width => 40, :height => 20), mpoint_path(item), :title => "Показания счетчиков" %>
						       <%= link_to "", minputs_index_path(:mpoint_id => item.id,:flr_id=>@flr.id), :class=> "glyphicon glyphicon-edit", :title => "Ручной ввод" %>					       
  						       <%= link_to image_tag('big_thumb.png', :alt => "Formula", :width => "30", :height => "20"), companies_onempreport_path(:id => @flr.id, :mp_id => item.id, :page => @page), :title => "Расчет потерь с расшифровкой" %>					       
  						       <%= link_to image_tag('Excel-icon.png', :alt => "XLSX", :width => "20", :height => "20"), mpoint_path(item,format: "xlsx") %>
  						       <%= link_to image_tag('Apps-Pdf-B-icon.png', :alt => "PDF", :width => "20", :height => "20"), mpoint_path(item,format: "pdf") %>
  						<% else %>
  						       <%= link_to image_tag('tr-lep.png', :alt => "Параметры", :width => 30, :height => 20) , mpoint_path(item), :title => "Параметры трансформаторов и линий" %>
  						   	   <%= link_to image_tag('big_thumb.png', :alt => "Formula", :width => "30", :height => "20"), companies_onempreport_path(:id => @flr.id, :mp_id => item.id, :page => @page), :title => "Расчет потерь с расшифровкой" %>
  						   	   <%= link_to image_tag('meter.png', :alt => "Счетчики", :width => 20, :height => 20) , meters_index_path(:id => item.id), :title => "Счетчики" %>
  						   	   <%= link_to "", minputs_index_path(:mpoint_id => item.id,:flr_id=>@flr.id), :class=> "glyphicon glyphicon-edit", :title => "Ручной ввод" %>
  						       <%= link_to image_tag('pokaz.png', :alt => "Показания", :width => 30, :height => 20), mpoints_showmvalues_path(:id => item.id), :title => "Показания счетчиков" %>
  						       <%= link_to image_tag('Excel-icon.png', :alt => "XLSX", :width => "20", :height => "20"), mpoints_showmvalues_path(:id => item.id,format: "xlsx") %>
  						       <%= link_to image_tag('Apps-Pdf-B-icon.png', :alt => "PDF", :width => "20", :height => "20"), mpoints_showmvalues_path(:id => item.id,format: "pdf") %>
  						<% end %>
						<%= link_to " " , company_path(:id => item.company_id, :flr_id => @flr.id), :class=> "glyphicon glyphicon-search" %></td>
						<td nowrap><%= if item.propdate then item.propdate.strftime("%d.%m.%Y %H:%M") end %></td>						
						<td><%= item.mproperty_voltcl %></td> 
  						<td ><% if item.fct then %><%= image_tag('faract.png', :alt => "без СТ", :width => 30, :height => 20, :title => "Не считать тех расход") %><% end %>
                             <% if item.fctc then %><%= image_tag('c.png', :alt => "без СТ емк", :width => 30, :height => 20, :title => "Не считать емкостной тех расход") %><% end %>
							 <% if item.fctl then %><%= image_tag('l1.png', :alt => "без СТ инд", :width => 30, :height => 20, :title => "Не считать индуктивный тех расход") %><% end %></td>
  						<td title="Сos из контракта"><%= item.cosfi %></td>
  						<td title="Наш трансформатор - не считать потери хх в трансформаторе"><% if item.four then %><span class="glyphicon glyphicon-flag" aria-hidden="true"></span><% end %></td>
  						<td title="Обратное включение счетчика"><% if item.fturn then %><span class="glyphicon glyphicon-random" aria-hidden="true"></span><% end %></td>
  						<td title="Граница раздела и точка учета не совпадают"><% if item.fmargin then %><span class="glyphicon glyphicon-adjust" aria-hidden="true"></span><% end %></td>
  						<td title="Потери в линии ME"><% if item.fminuslinelosses then %><span class="glyphicon glyphicon-star" aria-hidden="true"></span><% end %></td> 	
  						<td><%= item.mproperty_comment %></td>
  						<td><span class="glyphicon glyphicon-<%= if item.mproperty_f then 'ok' else 'minus' end %>" aria-hidden="true"></span></td>    						
					</tr>		
				<% end %>			
		</tbody>
</table>
</small>