<% provide(:title, 'Новая точка учета') %>

<nav class="navbar">
  <ul class="nav nav-pills nav-pillspull-right">
    <li><%= link_to "Назад", company_path(@cp), :class => "glyphicon glyphicon-level-up" %></li>
  </ul>  
</nav>

<h4><%= "Поставщик: #{@cp.furnizor.name}" %></h4>
<h4><%= "Филиал: #{@cp.filial.name}" %></h4>
<h4><%= "Потребитель: #{@cp.name}" %></h4>

<center>
	<h2>Ввод новой точки учета</h2>
	<div class="page">
	<div class="centercol">			
		<%= form_for :mpoint, url: mpoints_path do |f| %>
  			<%= f.label :"Подстанция подключения ME :"%><br>
  			<%= text_field_tag 'messtation'%><br>
  			<%= f.label :"Наименование фидера ME :"%><br>
  			<%= text_field_tag 'meconname'%><br>
  			<%= f.label :"Наименование подстанции потребителя : "%><br>
  			<%= text_field_tag 'clsstation'%><br>  
  			<%= f.label :"Наименование присоединения потребителя : "%><br>
  			<%= text_field_tag 'clconname'%><br>
  			<%= f.label :"Класс напряжения"%><br>
  			<%= text_field_tag 'voltcl'%><br>
  			<%= hidden_field_tag :company_id, @cp.id %>                      
  			<%= f.submit "Сохранить",:num => @cp.id %>
  		<% end %> 		
	</div>
	</div>
</center>

