<% provide(:title, 'Показания') %>

<nav class="navbar">
  <ul class="nav nav-pills pull-left">
    <li><%= link_to "Назад", company_path(@mp.company_id, :flr_id => @mp.mesubstation.filial), :class => "glyphicon glyphicon-level-up" %></li>
  </ul>  
</nav>
 	
<ul class="breadcrumb">
  <li><%= link_to "Филиалы", welcome_index_path, :class => "glyphicon glyphicon-home" %></li>		
  <li><%= link_to "Филиал: #{@mp.mesubstation.filial.name}", companies_index_path(:id => @mp.mesubstation.filial,:cp_id => @mp.company_id), :class => "glyphicon glyphicon-tower" %></li>
  <li><%= link_to "Потребитель: #{@mp.company.name}", company_path(@mp.company_id, :flr_id => @mp.mesubstation.filial), :class => "glyphicon glyphicon-lamp" %></li>
  <li class="active"><span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true"></span><strong><%= "Точка учета: #{@mp.name}, #{@mp.mesubstation.name}, #{@mp.meconname}" %></strong></li>
</ul>
			
<h3 align="center">История показаний <%= image_tag('indicii.png', :alt => "Показания", :width => 60, :height => 30) %></h3>
<small>
<table class="table table-striped  table-hover">
	<thead>
		<tr class="info">
		   <th>№</th>
		   <th>Дата актирования</th>
		   <th title="№ счетчика"  width="8%" >Счетчик</th>
		   <th title="Дата установки счетчика">Дата монтажа</th>
		   <th>Активный прием</th>
		   <th>Активная отдача</th>
		   <th>Реактивный прием</th>
		   <th>Реактивная отдача</th>
		   <th title="Вычитается из Wa до расчета потерь">Потребление<br> субабонента,<br> кВт*ч</th>
		   <th title="Добавляется к Wa">Недоучет,<br> кВт*ч</th>
	       <th title="Включить недоучет в расчет потерь в линии"><span class="glyphicon glyphicon-record" aria-hidden="true"></span></th>		   
	       <th title="Учет А-: не аннулировать отдачу"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span></th>
	       <th title="Время работы электроустановки Tраб (если пусто, то Траб=часы между текущей и предыдущей датами)(0 = пусто)">Траб, часы</th>
		   <th>Комментарий</th>
		   <th title="Включить данные в расчет"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
		   <th title="Расчетный день"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></th>
		</tr>	
	</thead>
	<tbody>					
	  <% i = 0%>
	  <% if !@mvs.nil? %>
			<% @mvs.each do |item| %>
			   <% case when item.actdatefail then %><tr class="danger">
			   	    <% when item.frfail then %><tr class="warning">	
			   	    <% when item.fzero then %><tr class="info">						   
				    <% when item.mvalue_updated_at > (Time.now.ago($GreenDelay)) then %><tr class="success">
				    <% else %><tr>
			   <% end %>			
					<% i = i + 1 %>
					<td><%= if params[:page].nil? then i else (params[:page].to_i - 1) * @perpage + i end  %></td>
					<td nowrap><%= item.actdate.to_formatted_s(:day_month_year) %></td>
				    <td nowrap><%= number_with_delimiter(item.meternum, delimiter: " ") %></td>										
					<td nowrap><%= if !item.relevance_date.nil? then item.relevance_date.to_formatted_s(:day_month_year) end %></td>
					<td nowrap><%= number_with_precision(item.actp180, delimiter: " ", precision: 4) %></td>
					<td nowrap><%= number_with_precision(item.actp280, delimiter: " ", precision: 4) %></td>
					<td nowrap><%= number_with_precision(item.actp380, delimiter: " ", precision: 4) %></td>
					<td nowrap><%= number_with_precision(item.actp480, delimiter: " ", precision: 4) %></td>
					<td title="Потребление субабонента, кВт*ч"><%= number_with_delimiter(item.dwa, delimiter: " ", precision: 4) %></td>
					<td title="Недоучет, кВт*ч"><%= number_with_delimiter(item.undercount, delimiter: " ", precision: 4) %></td>
					<td title="Включить недоучет в расчет потерь в линии"><% if item.fnefact then %><span class="glyphicon glyphicon-record" aria-hidden="true"></span><% end %></td>
					<td title="Учет А-: не аннулировать отдачу"><% if item.fanulare then %><span class="glyphicon glyphicon-flash" aria-hidden="true"></span><% end %></td>
					<td title="Tраб (если пусто, то Траб=часы между текущей и предыдущей датами)(0 = пусто)"><%= item.trab %></td>						
					<td><%= item.comment %></td>
					<td title="Включить данные в расчет"><span class="glyphicon glyphicon-<%= if item.f then 'ok' else 'minus' end %>" aria-hidden="true"></span></td>
					<td title="Расчетный день"><% if item.r then %><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span><% end %></td>	
				</tr>
			<% end %>	  
	   <% end %>	
	</tbody>
</table>
</small>
<center><small><%= if !@mvs.nil? then will_paginate @mvs, renderer: BootstrapPagination::Rails end %></small></center>

<h5><mark>Красных</mark> и <mark>желтых</mark> строк быть не должно!</h5>
<h5><mark>Красная</mark> строка - проверить дату монтажа счетчика (дата съема показаний выпадает за временные границы работы счетчика)</h5>
<h5><mark>Желтая</mark> строка  - проверить расчетный день <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>(выбрано больше одного расчетного дня в месяце или вообще ни одного)</h5>
<h5><mark>Голубая</mark> строка - проверить переход через 0 (предыдущие показания больше текущих)</h5>
<h5>Зеленая строка - недавно отредактированная строка</h5>
<h5>Ярко-голубая строка - бегунок</h5>


