<header class="navbar navbar-fixed-top">
  <div class="navbar-inverse">
    <div class="container-fluid">
      <%= link_to "ENERGY10", '#', id: "logo" %>           
        <nav>
          <ul class="nav nav-pills nav-pillspull-right">
          	<% if current_user.nil? then %>
	            <li><%= link_to "Справка", '#' %></li>
          	<% else %>
	            <li><%= link_to "Домой", welcome_index_path %></li>
	            <li><%= link_to "Справка", welcome_help_path %></li>
	            <li class="dropdown">
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Справочник<b class="caret"></b></a>
				    <ul class="dropdown-menu">
			            <li><%= link_to "Потребители", companies_all_path %></li>
			            <li><%= link_to "Подстанции", mesubstations_path %></li>
			            <li><%= link_to "Трансформаторы", trparams_path %></li>
			            <li><%= link_to "Линии", lnparams_path %></li>
			            <li><%= link_to "Регионы, типы счетчиков", thesaurus_index_path %></li>			            
				    </ul>
				 </li>
            	<li><%= link_to " Выход", destroy_user_session_path, method: :delete, :class => "glyphicon glyphicon-log-out" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
   </div>
  <div class="navbar-default">  
   <div class="container-fluid">	
   	  <% if !current_user.nil? %>
        <%= image_tag('octo.jpg', :alt => "image", :width => "20", :height => "20") %>
        <%= "User: #{current_user.email}" %>  
        <%= link_to "Выход", destroy_user_session_path, method: :delete, :class => "glyphicon glyphicon-hand-left" %>
      <% end %>        
  </div>
 </div>
</header>
