    	  <div class="well sidebar-nav">
    	  	<!-- <h3><%= @navheader %></h3> -->
    	  	<ul class="nav nav-list">
    	  	  <li class="divider"></li>
    	  	  <li role="separator" class="divider"></li>    	  		
    	  	  <li><strong><%= link_to @navheader, welcome_index_path, :class => "glyphicon glyphicon-home" %></strong>
    	  	   <ul class="nav nav-list">		
    	  		<!-- <li class="nav-header"><%= @navheader %></li> -->   	  		
    	  		<% @pages.each do |item| %>
    	  		  <li class="divider"></li>
    	  		  <li role="separator" class="divider"></li>
    	  		  <li><strong><a role="button" data-toggle="collapse" data-parent="#accordion" href="#page<%= item.id %>" aria-expanded="false" aria-controls="page<%= item.id %>" class = "glyphicon glyphicon-plus"></a>
    	  		  <% if (@navheader=='Филиалы') %>  	  		    
    	  		    	<%= link_to "#{item.name}", companies_path(:id => item.id), :class => "glyphicon glyphicon-tower" %></strong>
                  <% else %>
                    	<%= link_to(if item.name.upcase.include?("FEE") then "#{item.name} #{image_tag('fee.png', :size => 20)}".html_safe 
                    	            elsif item.name.upcase.include?("FENOSA") then "#{item.name} #{image_tag('fenosa.png', :size => 20)}".html_safe
  	                                else "#{item.name}" end, companies_path(:id => item.id), :class => "glyphicon glyphicon-piggy-bank") %></strong>
                  <% end %>
    	  		  <ul id="page<%= item.id %>" class="nav nav-list collapse">
    	  		  <% if !@subpages.nil? %>
    	  		    <% @subpages.each do |subitem| %>
    	  		      <% subitemid = subitem.company_id * 1000 + (if (@navheader=='Филиалы') then subitem.filial_id else subitem.furnizor_id end) %>
    	  		      <% if ((@navheader=='Филиалы') and (item.id==subitem.filial_id)) or ((@navheader!='Филиалы') and (item.id==subitem.furnizor_id)) %>
    	  		        <li>	
    	  		      	   <p>&#8194;
    	  		           <small><a role="button" data-toggle="collapse" data-parent="#accordion" href="#leaf<%= subitemid %>" aria-expanded="false" aria-controls="leaf<%= subitemid %>" class = "glyphicon glyphicon-lamp"></a></small>
    	  		           <%= link_to "#{subitem.company_shname.truncate(25)}", company_path(subitem.company_id, :flr_id => if (@navheader=='Филиалы') then subitem.filial_id else subitem.furnizor_id end) %>
    	  		           <!--<% if (!@leaves.nil?) and (!@count_mpoints[subitem.company_id].nil?) then %><span class="badge"><%=@count_mpoints[subitem.company_id] %></span><% end %>-->
    	  		           </p>
    	  		           <ul id="leaf<%= subitemid %>" class="nav nav-list collapse noPadding">
    	  		           <% if (!@leaves.nil?) and (!@count_mpoints[subitem.company_id].nil?)  %>
    	  		           <% @leaves.each do |leaf| %>
    	  		              <% if (subitem.company_id==leaf.company_id) and (((@navheader=='Филиалы') and (subitem.filial_id==leaf.filial_id)) or ((@navheader!='Филиалы') and (subitem.furnizor_id==leaf.furnizor_id)))%>
    	  		           	  <li class="noPadding"><p>&#8194;&#8195; 
    	  		           	  	<%= link_to " #{leaf.clconname.truncate(12)}", mpoint_path(leaf), :class => "glyphicon glyphicon-object-align-horizontal" %></p>          
    	  		          	  </li> 
    	  		           	  <% end %>
    	  		           <% end %>
    	  		           <% end %>	  
    	  		           </ul>
    	  		        </li>
    	  		      <% end %>   
    	  		    <% end %>
    	  		  <% end %>
    	  		  </ul></li>  
    	  		<% end %>
    	  	  </ul>	    	  		
    	  	</li></ul>
    	  </div>   <!-- /well -->		